{% spaceless %}
<div class="breadcrumb">
  <a class="bc-item" href="/">Головна</a>
  <span class="divider"></span>
  <a class="bc-item" href="{{ '/' ~ moduleName }}">{{ moduleTitle }}</a>
  <span class="divider"></span>
  <span class="bc-item">{{ title }}</span>
</div>
{% endspaceless %}