{% if expert.fio %}
<div class="expert">
  {% if expert.photo %}<img class="photo" src="{{ expert.photo }}"/>{% endif %}
  <div class="expert-info">
    <div class="expert-name">{{ expert.fio }},</div>
    <div class="expert-position">{{ expert.position }}</div>
  </div>
</div>
{% endif %}
