{% set params = message.params %}
{% set system = params.system ? params.system : current_system() %}

<div>

	<div style="clear: both; padding-top: 25px;">

		<div class="system-logo-aligner" style="margin-bottom: 40px;">
			<img src="{{ system.domain }}{{ system.logo_global | image_style('system_logo_email') }}" />
		</div>
		<div style="font-size: 16px;clear:both;">
			{{ params.messageText|raw }}
		</div>

		<div style="max-height:0; overflow: hidden; clear:both; font-size:0; visibility: hidden;">.</div>

	</div>

</div>
