{% set system = current_system() %}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
{% spaceless %}
  <head-placeholder token="{{ placeholder_token }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <css-placeholder token="{{ placeholder_token }}">
  <link type="text/css" rel="stylesheet" href="/sites/default/files/system-styles/system-colors-{{ system.id }}.css" media="all" />
  <link type="text/css" rel="stylesheet" href="/sites/default/files/system-styles/style-blocks-{{ system.id }}.css" media="all" />
  <js-placeholder token="{{ placeholder_token }}">
{% endspaceless %}
</head>
<body{{ attributes }}>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token }}">
</body>
</html>
