{% set item = get_item(node.id) %}

{#<meta property="og:url" content="" />#}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ item.title }}" />
{#<meta property="og:description" content="" />#}
<meta property="og:image" content="{{ item.image }}" />

<div class="module-window module-news clearfix">
  {% include '@konsultant_v3/breadcrumb.html.twig' with { 'moduleName': 'news', 'moduleTitle': 'Новини', 'title': item.title } %}
  <div class="item-content">
    <div class="item-type">{{ item.new_type }}</div>
    <div class="item-date">{{ item.created }}</div>
    <h2 class="item-title">{{ item.title }}</h2>
    <div class="item-image"><img src="{{ item.image }}" /></div>
    <div class="item-html-wrapper">
      <div class="item-html{{ item.hasAccess ? '' : ' shadowed' }}">{{ item.new_html | raw }}</div>
      {% if item.new_source %}<div class="new-source">Джерело: {{ item.new_source }}</div>{% endif %}
    </div>
  </div>
  <div class="item-sidebar">
    {% include '@konsultant_v3/topics.html.twig' with { 'topics': item.topics } %}
  </div>
</div>
