{% set item = get_item(node.id) %}
<div class="module-window module-consultations clearfix">
  {% include '@konsultant_v3/breadcrumb.html.twig' with { 'moduleName': 'consultations', 'moduleTitle': 'Онлайн консультації', 'title': item.title } %}
  <div class="item-content">
    <div class="item-date">{{ item.created }}</div>
    <h2 class="item-title">{{ item.question | raw}}</h2>
    <div class="item-html-wrapper">
      <div class="item-html{{ item.hasAccess ? '' : ' shadowed' }}">{{ item.answer|raw}}</div>
    </div>
  </div>
  <div class="item-sidebar">
    {% include '@konsultant_v3/expert.html.twig' with { 'expert': item.expert } %}
    {% include '@konsultant_v3/topics.html.twig' with { 'topics': item.topics } %}
  </div>
</div>
