{% set system = current_system() %}

<div class="layout-auth-wrapper preload">
  <div class="company-logo">
    <img src="{{ system.company.logo  | length ? system.company.logo | image_style('original') : '' }}" />
  </div>
  <div class="system-greatings">
    <div class="system-logo">
      <div class="system-logo-aligner">
        <img src="{{ system.logo | length ? system.logo | image_style('logo') : '' }}" />
      </div>
    </div>
    <div class="system-greatings-label">{{ "Вітаємо на сайті" | t }}</div>
    <div class="system-name-wrapper">{{ system.html_name | raw }}</div>
  </div>
  <div class="fixed-height-block">
    {{ page.content }}
  </div>
  <div class="login-actions">
    <div class="login-help"><div id="help-close" class="icon-close"></div>{{ system.login_help|raw }}<div class="help-phone">{{ system.phone }}</div></div>
    <div class="success-request"><div id="success-close" class="icon-close"></div><h2>{{ 'Заявка прийнята!' | t }}</h2><br/>{{ 'Очікуйте повідомлення' | t }}.</div>
    <div class="demo-request-container">
      <div class="demo-request-wrapper">
        <div class="demo-request-aligner">
          <div class="demo-request">
            <div id="demo-close" class="icon-close"></div>
            {{ get_template('demo-form') }}

            <form class="demo-form">
              <div class="demo-form-title">{{ 'Демо-доступ' | t }}</div>
              <div class="form-item">
                <label for="fio-demo">{{ 'П.І.Б.' | t }} <span class="form-required" title="{{ "Це поле - обов'язкове" | t }}.">*</span></label>
                <input type="text" id="fio-demo" name="fio_demo" value="" maxlength="64" class="form-text required">
              </div>
              <div class="form-item" id="position-demo">
                <label for="position-demo">{{ "Посада" | t }} <span class="form-required" title="{{ "Це поле - обов'язкове" | t }}.">*</span></label>
               <input type="text" id="position-demo" name="position_demo" value="" maxlength="64" class="form-text required">
              </div>
              <div class="form-item" id="org-demo">
                <label for="org-demo">{{ "Назва організації" | t }} <span class="form-required" title="{{ "Це поле - обов'язкове" | t }}." title="">*</span></label>
               <input type="text" id="org-demo" name="org_demo" value="" maxlength="64" class="form-text required">
              </div>
              <div class="form-item" id="edrpou-demo">
                <label for="edrpou-demo">{{ "ЄДРПОУ" | t }} <span class="form-required" title="{{ "Це поле - обов'язкове" | t }}.">*</span></label>
               <input type="text" id="edrpou-demo" name="edrpou_demo" value="" maxlength="64" class="form-text required">
              </div>
              <div class="form-item" id="phone-demo">
                <label for="phone-demo">{{ "Телефон" | t }} <span class="form-required" title="{{ "Це поле - обов'язкове" | t }}.">*</span></label>
               <input type="text" id="phone-demo" name="phone_demo" value="" maxlength="64" class="form-text required">
              </div>
              <div class="form-item" id="e-mail-demo">
                <label for="e-mail-demo">E-mail <span class="form-required" title="{{ "Це поле - обов'язкове" | t }}.">*</span></label>
                <input class="email form-text form-email required" type="email" id="email-demo" name="email_demo" size="60">
              </div>
              <div class="form-item" id="agree-demo">
                <label for="agree-demo">{{ "Даю згоду на обробку наданих мною персональних даних" | t }} <span class="form-required" title="{{ "Це поле - обов'язкове" | t }}.">*</span></label>
                <input type="checkbox" id="agree-demo-checkbox" name="agree_demo" value="Y" checked="checked" class="form-checkbox">
              </div>
              <div class="send-demo-form-button unselectable">{{ "Надіслати" | t }}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <span class="demo-request-button">{{ "Отримати демо-доступ" | t }}</span><br/>
    <span class="login-issues-tip-button">{{ "Виникли труднощі?" | t }}</span>
  </div>
</div>

<div class="popups">
  {{ page.popups }}
</div>

<style>

  {% set rgb = hex_to_rgb(system.color) %}

  body {
    padding: 0;
    background-color: #fff;
  }

  .layout-auth-wrapper {
    background-color: rgba({{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }}, 0.45) !important;
    color: {{ system.color_font }};
    min-height: 100%;
    box-sizing: border-box;
  }

  .layout-auth-wrapper input {
    color: {{ system.color_font }};
  }

  .layout-auth-wrapper input::-webkit-input-placeholder {
    color: {{ system.color_font }};
  }
  .layout-auth-wrapper input::-moz-placeholder {
    color: {{ system.color_font }};
  }
  .layout-auth-wrapper input:-ms-input-placeholder {
    color: {{ system.color_font }};
  }
  .layout-auth-wrapper input:-moz-placeholder {
    color: {{ system.color_font }};
  }

  .login-help,
  .success-request,
  .demo-request {
    border: 8px solid {{ system.color }};
  }

</style>
