{% set system = current_system() %}
{% set user = current_user() %}
{% set new_types = new_types() %}
{% set theme_filters = theme_filters() %}
{% set menuState = menu_toggle() %}
<script type="text/javascript">
  var menuState = {{ menuState|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
</script>
<div id="app">
<div class="scroll-up"><i class="icon icon-up"></i></div>
{# page-wrapper wrapper #}
<div class="page-wrapper{{ system.limited_examples ? ' limited-examples' : '' }}">
  <div class="system-popups"></div>
  {# layout wrapper #}
  <div class="layout-wrapper {{ menuState ? 'pinned' : 'collapsed' }}">
    {# layout sidebar #}
    <div class="layout-sidebar">
      <div class="layout-sidebar-top">
        <div class="layout-sidebar-top-container">
          <div class="menu-toggle{{ menuState ? ' active' : '' }}">
            <i class="icon icon-menu-full activated"></i>
            <i class="icon icon-menu"></i>
          </div>
          {% spaceless %}
          <a class="system-name-wrapper" href="/">
            <img width="53" height="28" src="{{ system.logo_main | length ? system.logo_main | image_style('logo_main') : '' }}" />{{ system.name|raw }}
          </a>
          {% endspaceless %}
        </div>
      </div>
      <div class="system-menu-wrapper unselectable">
        {% spaceless %}
        <div id="system-menu" class="system-menu">
          {% for module in system.modules %}
            <a href="/{{ module.id }}" class="menu-item">
              <i title="{{ module.name }}" class="icon-{{ module.id }}"></i><span class="menu-item-name">{{ module.menu_name|raw }}</span>
            </a>
          {% endfor %}
          {% if system.shop_link | length %}
            <a href="{{ system.shop_link }}" class="menu-item" target="_blank">
              <i title="Магазин" class="icon-shop"></i><span class="menu-item-name">Магазин</span>
            </a>
          {% endif %}
        </div>
        {% endspaceless %}
      </div>
      <div class="profile-menu-wrapper"></div>
      {# layout footer sidebar #}
      {% spaceless %}
      <div class="layout-footer-sidebar">
        {% if system.company.facebook %}
        <div class="link-wrapper">
          <a target="_blank" class="icon-facebook" href="{{ system.company.facebook }}" title="{{system.name}}. {{ "Сторінка Фейсбук" | t }}">
            <span class="link-text">Facebook</span>
          </a>
        </div>
        {% endif %}
        <div class="link-wrapper">
          <a target="_blank" class="icon-telegram" href="{{ system.company.telegram }}" title="{{ system.name }}. {{ "Телеграм" | t }}">
            <span class="link-text">Telegram</span>
          </a>
        </div>
      </div>
      {% endspaceless %}
      {# layout footer sidebar end #}
    </div>
    {# layout sidebar end #}
    {# layout container #}
    <div class="layout-container {{ user.role == 'demo' ? 'demo-mode' : 'customer-mode' }}">
      {# header #}

      <div class="header">
        <div class="mobile-menu-button"><i class="icon icon-menu"></i></div>
        <h1 class="page-title">{{ page_title() }}</h1>
        <div class="login-button-wrapper"></div>
        <div class="mobile-page-title">
          <h1 class="page-title">{{ page_title() }}</h1>
        </div>
        <div class="header-top clearfix unselectable">
          <div class="profile-menu">
          </div>
        </div>
        <div class="header-bottom clearfix">
          <div class="header-search-wrapper">
            <div class="header-search">
              <div class="search-input-wrapper"><input class="search-input" placeholder=""/>
                <div class="search-clear"><i class="icon-cancel"></i></div>
                <div class="search-throbber"><div class="cssload-zenith"></div></div>
                <i class="icon icon-search"></i>
              </div>
              <div class="sort-order unselectable">
                <div class="sort-order-label">Сортувати за</div>
                <div class="sort-order-value">Датою</div>
                <div class="sort-order-selector"><i class="icon icon-down"></i></div>
              </div>
            </div>
          </div>
          <div class="system-multi-filters-wrapper">
            <div class="system-filters-aligner">
              <div class="system-filters-slider">
                <div class="system-filters">
                  <div class="system-filters-selected"><span class="selected-filter-name">Фільтр</span></div>
                  <div class="ps system-filters-padder ps--active-y">
                    <div class="filter-wrapper"></div>
                  </div>
                </div>
              </div>
              <div class="system-filters-grip-wrapper">
                <div class="system-filters-grip"><i class="icon icon-down"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {# header end #}
      {# header top #}
      <div class="header-top clearfix unselectable">
        <div class="profile-menu-wrapper">
          {% spaceless %}
          <div id="profile-menu" class="profile-menu">
            <div data-module="home" class="menu-item menu-item-general-home system-home active">
              <i class="icon-home"></i>
              <div class="menu-tip">{{ 'Головна' | t }}</div>
            </div>
            {% if user.id != 0 %}
              <div data-module="messages" class="menu-item menu-item-general-messages menu-messages">
                <div class="menu-bubble"></div>
                <i class="icon-mail"></i>
                <div class="menu-tip">{{ 'Повідомлення' | t }}</div>
              </div>
              {% if system.modules.consultations %}
                <div data-module="consultations" data-mode="{{ user.role == 'expert' ? 'expert' : 'own' }}" class="menu-item menu-item-own-consultations menu-item-expert-consultations menu-consultations">
                  <div class="menu-bubble"></div>
                  <i class="icon-answers"></i>
                  <div class="menu-tip">{{ user.role == 'expert' ? ('Запити на відповіді' | t) : ('Мої запитання-відповіді' | t) }}</div>
                </div>
                {% if user.role == 'expert' %}
                  <div data-module="consultations" data-mode="archive" class="menu-item menu-item-archive-consultations menu-consultations">
                    <i class="icon-archive"></i>
                    <div class="menu-tip">{{ 'Архів відповідей' | t }}</div>
                  </div>
                {% endif %}
              {% endif %}

              {% if user.role != 'expert' %}
                <div data-module="favorites" class="menu-item menu-item-general-favorites">
                  <i class="icon-save"></i>
                  <div class="menu-tip">{{ 'Збережені файли' | t }}</div>
                </div>
              {% endif %}

              {% if user.role != 'expert' and system.modules.calendar %}
                <div data-module="calendar" class="menu-item menu-item-general-calendar menu-calendar">
                  <div class="menu-bubble">!</div>
                  <i class="icon-calendar-1"></i>
                  <div class="menu-tip">{{ 'Події' | t }}</div>
                </div>
              {% endif %}

              {% if user.role != 'expert' %}
                <div data-module="help" class="menu-item menu-item-general-help">
                  <i class="icon-help"></i>
                  <div class="menu-tip">{{ "Зв'язок із менеджером" | t }}</div>
                </div>
              {% endif %}

              <div data-module="profile" class="menu-item menu-general-item-help">
                {% if user.photo %}
                  <img class="profile-icon-image" src="{{ user.photo }}"/>
                {% else %}
                  <i class="icon-profile"></i>
                {% endif %}
                <div class="menu-tip">{{ 'Мій профіль' | t }}</div>
              </div>

              <div class="menu-item menu-item-exit" id="profile-exit">
                <i class="icon-exit"></i>
                <div class="menu-tip">{{ 'Вихід' | t }}</div>
              </div>

              {% else %}

                <div class="menu-item menu-item-login" id="profile-login">
                  <i class="icon-profile"></i>
                  <div class="menu-tip">{{ 'Вхід' | t }}</div>
                </div>

              {% endif %}

          </div>
          {% endspaceless %}
        </div>
      </div>
      {# header top end #}
      <div class="content">
        {{ page.content }}
      </div>
    </div>
    {# layout container end #}

    <div class="layout-push"></div>

  </div>
  {# layout wrapper end #}
  {# layout footer #}
  <div class="layout-footer {{ menuState ? 'pinned' : 'collapsed' }}">
    <div class="layout-footer-content">
      <div class="layout-footer-content-wrapper">
        <div class="layout-footer-content-left">
          <div class="system-phone-label">Відділ продажу</div>
          <div class="system-phone">{{ system.phone }}</div>
          <div class="system-phone-time">{{ system.company.working_hours }}</div>
        </div>
        <div class="layout-footer-content-right">
        </div>
        <div class="copyright">© {{ system.name }}, {{ system.company.name }}, 2017—{{ 'now'|date('Y') + (('now'|date('Y')==2017) ? 1 : 0) }}</div>
      </div>
    </div>
  </div>
  {# layout footer end #}
</div>
{# page wrapper end #}
</div>

{% if system.modules.norm %}
  <script type="text/javascript">
    {% set doc_types = doc_types() %}
    {% set doc_producers = doc_producers() %}
    {% set doc_statuses = doc_statuses() %}
    var doc_types = {{ doc_types|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
    var doc_producers = {{ doc_producers|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
    var doc_statuses = {{ doc_statuses|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
  </script>
{% endif %}

{% if system.modules.examples %}
  <script type="text/javascript">
    {% set example_types = example_types() %}
    var example_types = {{ example_types|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
  </script>
{% endif %}

{% if system.modules.news %}
  <script type="text/javascript">
    {% set new_types = new_types() %}
    var new_types = {{ new_types|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
  </script>
{% endif %}

<!-- Шаблон попапа для сессии -->
<script id="session-popup" type="text/template">
  <div class="system-popup-wrapper">
    <div class="system-popup popup-session">
      <div class="popup-text">{{ get_template('session-expired') }}</div>
    </div>
  </div>
</script>

<!-- Шаблон формы авторизации -->
<script id="auth-form" type="text/template">
  <div class="auth-form-wrapper">
    <div class="auth-form-wrapper-message">Інформація відкрита тільки для передплатників<br /><br />
      <a target="_blank" href="https://shop.isu.net.ua/product/onlayn-konsultant-kadrovik-paket-standart" >Купити</a><br /><br />
      У вільному доступі розділ «Новини»<br />
      Відділ клієнтської підтримки 0 800 213 787
    </div>
    <form class="user-login-form" data-drupal-selector="user-login-form" action="/user/login<%= typeof destination !== 'undefined' && destination.length ? ('?destination=' + destination) : '' %>" method="post" id="user-login-form" accept-charset="UTF-8">
      <div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name form-no-label">
        <input autocorrect="none" autocapitalize="none" spellcheck="false" autofocus="autofocus" placeholder="Логін" data-drupal-selector="edit-name" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" class="form-text required" required="required" aria-required="true" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAXtJREFUOBGVUj2LwkAUnIjBICIIKe8gWKRKo2BvYXMgWNlYWZ3gn1B/htekibWVcH1aIVV+wQULCxsRtMrtrGYv8RLUB8nuvjczu+9DWywWH3EcL8X3jidM07QfAfucz+ffhJdeIZNwu+iLexoFnrr5Cr/+05xSOvBoX61WYdt2BvaSgGVZ6PV6+QKGYahApVKBKJY6p2PKeduUufb7fbTbbaxWKxwOB0ynU+x2O7ium4ndk3l+KYU8AW02m8UM8Jnn81limMLlcsnDK59IMRKHiXpBQibiEZkY0co3sSxlDegoMsdx0O12Ua/XEUUR1us1jsejhFNEvaBIgK07nU4IwxDNZhOdTicDLXO205OViYrDZrORLg5Qq9VSdUpwJSEwoUjiuF+FOEzTxGAwwH6/x3a7zUD+piXjBpLukDwej2XenufJdNLQhzUYjUao1WpoNBpywIbDYZqPwi6wz6xyEATQdV2ROKmJEVMoIECszdL3ffb7n5EsnJNf8S6HAZZBgLIAAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
      </div>
      <div class="js-form-item form-item js-form-type-password form-item-pass js-form-item-pass form-no-label">
        <input placeholder="Пароль" data-drupal-selector="edit-pass" type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="form-text required" required="required" aria-required="true" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAXtJREFUOBGVUj2LwkAUnIjBICIIKe8gWKRKo2BvYXMgWNlYWZ3gn1B/htekibWVcH1aIVV+wQULCxsRtMrtrGYv8RLUB8nuvjczu+9DWywWH3EcL8X3jidM07QfAfucz+ffhJdeIZNwu+iLexoFnrr5Cr/+05xSOvBoX61WYdt2BvaSgGVZ6PV6+QKGYahApVKBKJY6p2PKeduUufb7fbTbbaxWKxwOB0ynU+x2O7ium4ndk3l+KYU8AW02m8UM8Jnn81limMLlcsnDK59IMRKHiXpBQibiEZkY0co3sSxlDegoMsdx0O12Ua/XEUUR1us1jsejhFNEvaBIgK07nU4IwxDNZhOdTicDLXO205OViYrDZrORLg5Qq9VSdUpwJSEwoUjiuF+FOEzTxGAwwH6/x3a7zUD+piXjBpLukDwej2XenufJdNLQhzUYjUao1WpoNBpywIbDYZqPwi6wz6xyEATQdV2ROKmJEVMoIECszdL3ffb7n5EsnJNf8S6HAZZBgLIAAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
      </div>
      <input autocomplete="off" data-drupal-selector="form-eidzfde-gsmd1dulhgdcecexgolnbrmwele4l04azy" type="hidden" name="form_build_id" value="form--eIdZFdE-GSMD1dUlHgDCEcExGOlNbRMweLe4L04AZY">
      <input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id" value="user_login_form">
      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Увійти" class="button js-form-submit form-submit"></div>
    </form>
  </div>
</script>

<script type="text/javascript">
  var system = {{ system|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
  var system_logo = "{{ system.logo_main | length ? system.logo_main | image_style('logo_main') : '' }}"
  var logo_animation = "{{ system.logo_animation | length ? system.logo_animation | file_url : '' }}"
  var system_logo_login = "{{ system.logo_main | length ? system.logo_main | image_style('logo_login') : '' }}"
  var system_logo_crib = "{{ system.logo | length ? system.logo | image_style('logo_crib') : '' }}"
  var user = {{ user|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
  var theme_filters = {{ theme_filters|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }};
  var label_by_module = "{{ 'Пошук за розділом' | t }}";
  var label_in_system = "{{ 'Пошук у системі' | t }}";
  var label_all_filters = "{{ 'Всі' | t }}";
  var attach_file = "{{ 'Прикріпити файл' | t }}";
</script>

{{ attach_library('konsultant_v3/global-scripts') }}
