{#
/**
 * @file
 * Default theme implementation for printer friendly version of entities.
 *
 * Available variables:
 * - title: Top level node title.
 * - base_url: URL to the home page.
 *
 * @see template_preprocess_printable()
 *
 * @ingroup themeable
 */
#}
{% set system = current_system() %}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="{{ url('<front>') }}sites/default/files/system-styles/system-colors-{{ system.id }}.css" media="all" />
    <link type="text/css" rel="stylesheet" href="{{ url('<front>') }}sites/default/files/system-styles/style-blocks-{{ system.id }}.css" media="all" />
    <link type="text/css" rel="stylesheet" href="{{ url('<front>') }}themes/konsultant_v3/dist/css/pdf.css" />
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        "use strict";
        setTimeout(function () {
          window.print();
          var ival = setInterval(function() {
            window.close();
            clearInterval(ival);
          }, 200);
        }, 500);
      });
    </script>
  </head>
  <body>
    {% set print_node_type = get_print_node_type() %}
    {% if print_node_type != 'crib' %}
      {% set image_path = get_image_path_pdf(system.logo_global, 'system_logo_email') %}
      <table style="width: 100%; padding:0; margin: 0;">
        <tr>
          <td style="vertical-align: top;">
            <img style="display: block; float: left;" src="{{ image_path }}" />
          </td>
          <td style="vertical-align: middle; text-align: right; line-height: 1.3;">
            <div>{{ 'Матеріал електронної системи' | t }}</div>
            <div>«{{ system.name }}»</div>
            <div><b>{{ system.domain }}</b></div>
          </td>
        </tr>
      </table>
      <div style="max-height:0; overflow: hidden; clear:both; font-size:0; visibility: hidden;">.</div>
      <div style="padding-top: 15px; width: 100%; border-bottom: 1px solid #ff5a61; margin-bottom: 25px;"></div>
    {% endif %}
    {{ emogrify_content( print_content() | render ) | raw  }}
  </body>
</html>
