{% set system = current_system() %}
{% set image_path = get_image_path_pdf(system.logo_global, 'system_logo_email') %}
<table style="width: 100%; padding:0; margin: 0;">
  <tr>
    <td style="vertical-align: top;">
      <img style="display: block; float: left;" src="{{ image_path }}" />
    </td>
    <td style="vertical-align: middle; text-align: right; line-height: 1.3;">
      <div>{{ 'Матеріал електронної системи' | t }}</div>
      <div>«{{ system.name }}»</div>
      <div><b>{{ system.domain }}</b></div>
    </td>
  </tr>
</table>

<div style="max-height:0; overflow: hidden; clear:both; font-size:0; visibility: hidden;">.</div>
<div style="padding-top: 15px; width: 100%; border-bottom: 1px solid #ff5a61; margin-bottom: 25px;"></div>
