<div class="topics">
  {% for topic in topics %}
  <div class="topic">
    <div class="date">{{ topic.changed }}</div>
    <a href="{{ topic.url }}" class="title">{{ topic.title }}</a>
  </div>
  {% endfor %}
</div>
