<div class="node-item clearfix">
  <div class="node-item-doc-html">
    <div class="vertical-wrapper">
      <div class="node-item-title">{{ item.title }}</div>
      <div class="new-type-label">{{ item.new_type }}</div>
      <div class="node-item-new-date">{{ item.created }}</div>
      <div class="node-item-new-image"><img src="{{ item.image }}"/></div>
      <div class="container-content-wrapper">
        {{ item.new_html and item.new_html | length ? item.new_html | raw : '' }}
        {% if item.new_source | length %}
          <div class="new-source">{{ 'Джерело' | t }}: {{ item.new_source }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
