<div class="node-item">
    <div class="node-item-doc-html">
      <div class="vertical-wrapper">

        <div class="node-item-title">{{ item.title }}</div>

        <div class="interview-with-interview-label">{{ item.with_interview ? "Інтерв'ю" | t : '' }}</div>
        <div class="node-item-interview-date">{{ item.changed }}</div>

        {% if item.interviewee.fio | length %}
        <div class="node-item-expert">
          {% if item.interviewee.photo %}
          <img class="node-item-photo" src="{{ item.interviewee.photo }}"/>
          {% endif %}<!--
          --><div class="node-item-expert-info"><!--
            -->{% if item.with_interview %}<div class="node-item-expert-label">{{ 'На запитання відповідає' | t }}</div>{% endif %}<!--
            --><div class="node-item-expert-name">{{ item.interviewee.fio }},</div>
            <div class="node-item-expert-position">{{ item.interviewee.position }}</div>
          </div>
        </div>
        {% endif %}

        <div class="container-content-wrapper">

          {{ item.html and item.html | length ? item.html | raw : '' }}

          {% if item.interviews | length %}
            {% for interview in item.interviews %}
              <div class="interview-part interview-part-{{ interview.type }} clearfix">
                <div class="interview-person">
                  <img class="interview-person-photo" src="{{ interview.type == 'question' ? item.expert.photo_78 : item.interviewee.photo_78 }}"/>
                  <div class="interview-part-type">{{ interview.type == 'question' ? 'Запитання' | t : 'Відповідає' | t }}</div>
                  {% if interview.type == 'question' %}
                    <div class="interview-person-position">{{ interview.type == 'question' ? item.expert.position : item.interviewee.position }},</div>
                  {% endif %}
                  <div class="interview-person-name">{{ interview.type == 'question' ? item.expert.fio : item.interviewee.fio }}</div>
                </div>
                <div class="interview-part-html">
                  <div class="interview-part-html-wrapper">{{ interview.html | raw }}</div>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          <div class="consultation-copyrights">{{ get_template('consultation-copyrights') | raw }}</div>

        </div>


      </div>
    </div>
</div>
