<div class="node-item">
  {% if item.status == 'ready' %}
    <div class="node-item-answer">
      <div class="vertical-wrapper">
        <div class="node-item-title">{{ item.question | raw }}</div>
        {% if item.expert.fio | length %}
          <table class="node-item-expert"><tr>
            {% if item.expert.photo | length %}
            <td class="node-item-photo-wrapper"><img class="node-item-photo" src="{{ item.expert.photo }}"/></td>
            {% endif %}
            <td class="node-item-expert-info">
                <div class="node-item-expert-label">{{ item.consultation_type != 'request' ? 'На запитання відповідає' | t : 'На запит відповідає' | t }}</div>
                <div class="node-item-expert-name">{{ item.expert.fio }}</div>
                <div class="node-item-expert-position">{{ item.expert.position }}</div>
            </td>
          </tr></table>
        {% endif %}
        <div class="container-content-wrapper">
          <div style="text-align: justify;" class="hode-html">
            {{ item.answer | raw }}
            <div class="consultation-copyrights">{{ get_template('consultation-copyrights') | raw }}</div>
          </div>
          {% if item.file_expert and item.file_expert.name and item.file_expert.uri and item.file_expert.name | length and item.file_expert.uri | length %}
            <div class="consultation-file-label"><i class="icon-clip"></i> {{ 'Прикріплений файл' | t }}: </div>
            <a class="consultation-file" href="{{ item.file_expert.uri }}">
              <span class="file-icon-wrapper">
                <span class="icon-document"><span class="file-ext">.{{ item.file_expert.type }}</span></span>
              </span>
              <span class="file-name">{{ item.file_expert.name }}</span>
              <span class="file-size">{{ item.file_expert.size }} KB</span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
