<div class="node-item clearfix">
  <div class="node-item-doc-html">
    <div class="vertical-wrapper">
      <div class="container-content-wrapper crib-container">
        {{ item.html and item.html | length ? item.html | raw : '' }}
        {% if item.image and item.image | length %}
          <img src="{{ item.image }}"/>
        {% endif %}
      </div>
    </div>
  </div>
</div>
