<div class="node-item clearfix">
  <div class="node-item-doc-html">
    <div class="vertical-wrapper">
      {% if item.revisions and item.revisions | length %}
        <div class="node-item-doc-revisions unselectable">
          <div class="node-item-doc-revisions-label">{{ 'Редакція' | t }}:</div>
          <div class="node-item-doc-revisions-list">
            {% for revision in item.revisions %}
              <a href="{{ item.url }}{{ revision.id ? ( '/' + revision.id ) : '' }}" class="node-item-doc-revision{{ revision.id == item.currentRevision ? ' active' : '' }}">
              {{ revision.document_date_created | length ? revision.document_date_created : ( revision.document_date_valid | length ? revision.document_date_valid : '- - - -' ) }}
            </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if date_created | length %}<div class="node-item-doc-date-created-label">{{ 'Редакцію створено' | t }}: {{ item.date_created }}</div>{% endif %}
      {% if date_invalid | length == 0 and date_valid | length %}<div class="node-item-doc-date-valid-label">{{ 'Редакція діє з' | t }}: {{ item.date_valid }}</div>{% endif %}
      {% if item.currentRevisionStatus == 'invalid' and date_invalid | length %}<div class="node-item-doc-date-invalid-label">{{ 'Документ втратив чинність' | t }}: {{ item.date_invalid }}</div>{% endif %}
      <div class="container-content-wrapper">
        {{ item.html and item.html | length ? item.html | raw : '' }}
      </div>
    </div>
  </div>
</div>
