<div class="node-item clearfix">
  <div class="node-item-doc-html">
    <div class="vertical-wrapper">
      <div class="node-item-title">{{ item.title }}</div>
      <div class="container-content-wrapper">
        {{ item.html and item.html | length ? item.html | raw : '' }}
      </div>
    </div>
  </div>
</div>
