<template>
  <div class="module-window module-accountinglog clearfix">
    <Breadcrumb moduleName="accountinglogs" :title="item.title" />
    <div class="item-content">
      <Buttons :item="item" v-if="isAuthenticatedUser && !isExpert && !is_loading && item" />
      <div v-if="canEditMaterials" class="edit-link"><a :href="'/node/' + item.id + '/edit?destination=' + item.url">редагувати</a></div>
      <h2 class="item-title">{{ item.title }}</h2>
      <div class="item-html-wrapper" :class="{ shadowed: (!hasAccess && !is_loading) || isExpert }" >
        <div class="item-html" v-html="item.html"></div>
        <vue-pdf-embed v-if="pdf_src" :source="pdf_src" />
      </div>
      <Auth v-if="!hasAccess && !is_loading" :destination="destination" />
    </div>
    <div class="item-sidebar">
      <Topics :topics="item.topics"/>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex';
import Topics from '../components/Topics.vue'
import Breadcrumb from '../components/Breadcrumb.vue'
import Buttons from '../components/Buttons.vue'
import { mapMutations } from 'vuex';
import { mapGetters } from 'vuex';
import qs from 'qs';
import axios from 'axios'
import Auth from '../components/Auth.vue'
import { defineAsyncComponent } from 'vue'
const VuePdfEmbed = defineAsyncComponent(() =>
  import('vue-pdf-embed')
)

export default {

  components: {
    Buttons,
    Auth,
    Topics,
    Breadcrumb,
    VuePdfEmbed
  },

  data: () => {
    return {
      nid: 0,
      item: {},
      destination: '',
      pdf_src: null,
      numPages: 0,
      is_loading: false,
      activated: false,
      visible: false,
      hasAccess: false
    }
  },

  mounted () {
    this.activate()
  },

  watch: {

    '$route.params': {
      handler(params) {
        if ( typeof params.id !== 'undefined' ) {
          this.nid = params.id.split('-')[0]
        } else {
          this.nid = 0
        }
      },
      deep: true,
      immediate: true
    },

    '$route': {
      handler(route) {
        this.destination = route.fullPath
      },
      deep: true,
      immediate: true
    },

    nid () {
      if ( this.nid ) {
        this.getItem()
      }
    }

  },

  computed: {

    ...mapState([
      'activeModule',
      'title',
    ]),

    ...mapGetters([
      'canEditMaterials',
      'isAuthenticatedUser',
      'isExpert'
    ]),

    activeModule() {
      return this.$router.currentRoute.value.name;
    }

  },

  methods: {

    ...mapMutations([
      'setTitle'
    ]),

    activate() {
      this.setTitle('Журнали обліку');
      if ( this.activeModule == 'accountinglog' && !this.activated ) {
        this.activated = true
        this.visible = true
        this.getItem()
      }
    },

    getItem() {
      this.is_loading = true
      axios.post('/system/request/getAccountingLog',
      qs.stringify({ params: JSON.stringify({ id: this.nid }) }),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.is_loading = false
        this.item = response.data.data
        this.hasAccess = response.data.error !== 200 && this.isAuthenticatedUser
        if ( this.item.file_preview ) {
          this.pdf_src = this.item.file_preview
        }
      })

    },

  }

}

</script>
