<template>
  <div :class="'module-' + name" class="module-window clearfix">
    <div class="calculator-tabs">
      <router-link class="active" to="/calculators/calc1">Калькулятори відпусток</router-link>
      <router-link to="/calculators/calc2">Калькулятор стажу</router-link>
      <router-link to="/calculators/calc3">Калькулятор нормативу робочих місць для осіб з інвалідністю</router-link>
    </div>
    <div class="calculator-block">
      <div class="calculators-switches unselectable">
        <span data-calc="a" class="calculators-switch calc1-a active">Розрахунок початку\закінчення щорічної основної відпустки</span>
        <span data-calc="b" class="calculators-switch calc1-b">Розрахунок днів щорічної основної відпустки, яка надається пропорційно відпрацьованому часу</span>
        <span data-calc="c" class="calculators-switch calc1-c">Розрахунок кількості днів щорічної основної відпустки, які підлягають грошовій компенсації під час звільнення</span>
      </div>
      <Auth v-if="!isAuthenticatedUser" :destination="destination" />
      <div v-if="isAuthenticatedUser" class="calc1-calculators">
        <div class="calculator calc1-a active">
          <div class="calc1-options">
            <div class="calc1-fio-wrapper"><input placeholder="ПІБ працівника" class="calc1-fio"/></div>
            <div class="calc-option">
              <div class="calc-label">Перший день відпустки</div><input class="calc-input calc1-datebegin" placeholder="дд.мм.рррр"/>
              <div class="icon icon-calendar"></div>
            </div>
            <div class="calc-option">
              <div class="calc-label">Останній день відпустки</div><input class="calc-input calc1-dateend" placeholder="дд.мм.рррр"/>
              <div class="icon icon-calendar"></div>
            </div>
            <div class="calc-option">
              <div class="calc-label">Тривалість відпустки</div><input class="calc-input" id="calc1-dayscount" maxlength="3"/>
            </div>
            <div>
              <input type="checkbox" id="calc1-includeHoliday"/>Не враховувати святкові та неробочі дні до тривалості відпустки
            </div>
          </div>
          <div class="calc1-result"></div>
          <div class="calc1-calculate btn">Розрахувати</div>
          <div class="calc1-print btn">Роздрукувати</div>
          <div class="calc1-clear btn">Очистити</div>
        </div>

        <div class="calculator calc1-b">
          <div class="calc1-options">
            <div class="calc1-fio-wrapper"><input placeholder="ПІБ працівника" class="calc1-fio"/></div>
            <div class="calc-option">
              <div class="calc-label">Тривалість щорічної<br />основної відпустки</div><input class="calc-input" id="calc1-dayscount" maxlength="3"/>
            </div>
            <div class="calc-option">
              <div class="calc-label">Робочий період з</div><input class="calc-input calc1-datebegin" placeholder="дд.мм.рррр"/>
              <div class="icon icon-calendar"></div>
            </div>
            <div class="calc-option">
              <div class="calc-label">по</div><input class="calc-input calc1-dateend" placeholder="дд.мм.рррр"/>
              <div class="icon icon-calendar"></div>
            </div>
          </div>
          <div class="calc1-result"></div>
          <div class="calc1-calculate btn">Розрахувати</div>
          <div class="calc1-print btn">Роздрукувати</div>
          <div class="calc1-clear btn">Очистити</div>
          <div class="calc1-tip"><strong>Зверніть увагу!</strong> Зазначте тривалість відпустки для її розрахунку.<br /><strong>Результат</strong> заокруглюємо з урахуванням математичних правил округлення. Якщо у розрахунку виходить, наприклад, 0,5 і більше десятих — це число округляється до більшого цілого числа, тобто до 1 календарного дня.</div>
        </div>

        <div class="calculator calc1-c">
          <div class="calc1-options">
            <div class="calc1-fio-wrapper"><input placeholder="ПІБ працівника" class="calc1-fio"/></div>
            <div class="calc-option">
              <div class="calc-label">Тривалість щорічної<br />основної відпустки</div><input class="calc-input" id="calc1-dayscount" maxlength="3"/>
            </div>
            <div class="calc-option">
              <div class="calc-label">Дата початку<br />робочого періоду</div><input class="calc-input calc1-datebegin" placeholder="дд.мм.рррр"/>
              <div class="icon icon-calendar"></div>
            </div>
            <div class="calc-option">
              <div class="calc-label">Дата звільнення</div><input class="calc-input calc1-dateend" placeholder="дд.мм.рррр"/>
              <div class="icon icon-calendar"></div>
            </div>
          </div>
          <div class="calc1-result"></div>
          <div class="calc1-calculate btn">Розрахувати</div>
          <div class="calc1-print btn">Роздрукувати</div>
          <div class="calc1-clear btn">Очистити</div>
          <div class="calc1-tip"><strong>Зверніть увагу!</strong> Зазначте тривалість відпустки для її розрахунку.<br /><strong>Результат</strong> заокруглюємо з урахуванням математичних правил округлення. Якщо у розрахунку виходить, наприклад, 0,5 і більше десятих — це число округляється до більшого цілого числа, тобто до 1 календарного дня.</div>
        </div>

      </div>

    </div>

    <div class="calculator-description-block">
      <p><strong>Калькулятор допоможе обчислити відпустки різних видів, а саме:</strong></p>
      <ul>
        <li>відпустки, <strong>до тривалості яких не враховуються святкові та неробочі дні</strong>, відповідно до ст. 73 КЗпП України (щорічні відпустки та додаткова відпустка працівникам, які мають дітей або повнолітню дитину — особу з інвалідністю з дитинства підгрупи А I групи, відповідно до ст. 5 Закону України «Про відпустки»);</li>
        <li>відпустки, які обчислюються без пропуску святкових та неробочих днів (наприклад, відпустка без збереження заробітної плати, додаткова відпустка у зв'язку з навчанням, відпустка постраждалим внаслідок ЧАЕС).</li>
      </ul>
      <p><strong>За допомогою калькулятора відпусток можна визначити:</strong></p>
      <ul>
        <li>останній день відпустки, якщо задасте її перший день та тривалість;</li>
        <li>перший день відпустки, якщо задасте її останній день та тривалість;</li>
        <li>тривалість відпустки у календарних днях, якщо задасте її перший та останній дні.</li>
      </ul>
      <p><strong>Правила користування калькулятором відпусток</strong></p>
      <ul>
        <li>ставте галочку про не зарахування святкових та неробочих днів до тривалості щорічної відпустки, додаткової відпустки на дітей;</li>
        <li>введіть дату першого дня відпустки і тривалість відпустки — калькулятор відпусток визначить останній день відпустки;</li>
        <li>якщо знаєте тривалість відпустки і день, коли вона має закінчитися, то калькулятор допоможе визначити дату першого дня відпустки.</li>
        <li>якщо Вам відомі перший та останній дні відпустки, калькулятор стажу визначить її тривалість у календарних днях.</li>
        <li>для розрахунку компенсації відпустки або надання пропорційно відпрацьованого часу, обов’язково, зазначайте тривалість щорічної основної відпустки, заповнюємо всі поля та нажимаємо «Розрахувати»</li>
      </ul>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import Auth from '../components/Auth.vue'
import $ from 'jquery';
import moment from 'moment';
import datepickerFactory from 'jquery-datepicker';

export default {

  components: {
    Auth
  },

  data: () => {
    return {
      destination: '/calculators/calc1',
      activated: false,
    }
  },

  mounted () {
    this.setTitle('Калькулятори відпусток');

    datepickerFactory($);

    var holidays = {
      '2014': [
        {date:'01-01', name: '1 січня - Новий рік'},
        {date:'01-07', name: '7 січня - Різдво Христове'},
        {date:'03-08', name: '8 березня - Міжнародний жіночий день'},
        {date:'04-20', name: '20 квітня - Пасха (Великдень)'},
        {date:'05-01', name: '1 травня - День міжнародної солідарності трудящих'},
        {date:'05-02', name: '2 травня - День міжнародної солідарності трудящих'},
        {date:'05-09', name: '9 травня - День Перемоги'},
        {date:'06-08', name: '8 червня - Трійця'},
        {date:'06-28', name: '28 червня - День Конституції України'},
        {date:'08-24', name: '24 серпня - День незалежності України'},
      ],
      '2015': [
        {date:'01-01', name: '1 січня - Новий рік'},
        {date:'01-07', name: '7 січня - Різдво Христове'},
        {date:'03-08', name: '8 березня - Міжнародний жіночий день'},
        {date:'04-12', name: '12 квітня - Пасха (Великдень)'},
        {date:'05-01', name: '1 травня - День міжнародної солідарності трудящих'},
        {date:'05-02', name: '2 травня - День міжнародної солідарності трудящих'},
        {date:'05-09', name: '9 травня - День Перемоги'},
        {date:'05-31', name: '31 травня - Трійця'},
        {date:'06-28', name: '28 червня - День Конституції України'},
        {date:'08-24', name: '24 серпня - День незалежності України'},
        {date:'10-14', name: '14 жовтня - День захисника України'},
      ],
      '2016': [
        {date:'01-01', name: '1 січня - Новий рік'},
        {date:'01-07', name: '7 січня - Різдво Христове'},
        {date:'03-08', name: '8 березня - Міжнародний жіночий день'},
        {date:'05-01', name: '1 травня - Пасха (Великдень) та День міжнародної солідарності трудящих'},
        {date:'05-02', name: '2 травня - День міжнародної солідарності трудящих'},
        {date:'05-09', name: '9 травня - День Перемоги'},
        {date:'06-19', name: '19 червня - Трійця'},
        {date:'06-28', name: '28 червня - День Конституції України'},
        {date:'08-24', name: '24 серпня - День незалежності України'},
        {date:'10-14', name: '14 жовтня - День захисника України'},
      ],
      '2017': [
        {date:'01-01', name: '1 січня - Новий рік'},
        {date:'01-07', name: '7 січня - Різдво Христове'},
        {date:'03-08', name: '8 березня - Міжнародний жіночий день'},
        {date:'04-16', name: '16 квітня - Пасха (Великдень)'},
        {date:'05-01', name: '1 травня - День міжнародної солідарності трудящих'},
        {date:'05-02', name: '2 травня - День міжнародної солідарності трудящих'},
        {date:'05-09', name: '9 травня - День перемоги над нацизмом у Другій світовій війні (День перемоги)'},
        {date:'06-04', name: '4 червня - Трійця'},
        {date:'06-28', name: '28 червня - День Конституції України'},
        {date:'08-24', name: '24 серпня - День незалежності України'},
        {date:'10-14', name: '14 жовтня - День захисника України'},
        {date:'12-25', name: '25 грудня - Різдво Христове'},
      ],
      '2018': [
        {date:'01-01', name: '1 січня - Новий рік'},
        {date:'01-07', name: '7 січня - Різдво Христове'},
        {date:'03-08', name: '8 березня - Міжнародний жіночий день'},
        {date:'04-08', name: '8 квітня - Пасха (Великдень)'},
        {date:'05-01', name: '1 травня - День міжнародної солідарності трудящих'},
        {date:'05-09', name: '9 травня - День перемоги над нацизмом у Другій світовій війні (День перемоги)'},
        {date:'05-27', name: '27 травня - Трійця'},
        {date:'06-28', name: '28 червня - День Конституції України'},
        {date:'08-24', name: '24 серпня - День незалежності України'},
        {date:'10-14', name: '14 жовтня - День захисника України'},
        {date:'12-25', name: '25 грудня - Різдво Христове'},
      ],
      '2019': [
        {date:'01-01', name: '1 січня - Новий рік'},
        {date:'01-07', name: '7 січня - Різдво Христове'},
        {date:'03-08', name: '8 березня - Міжнародний жіночий день'},
        {date:'04-28', name: '28 квітня - Пасха (Великдень)'},
        {date:'05-01', name: '1 травня - День Праці'},
        {date:'05-09', name: '9 травня - День перемоги над нацизмом у Другій світовій війні (День перемоги)'},
        {date:'06-16', name: '16 червня - Трійця'},
        {date:'06-28', name: '28 червня - День Конституції України'},
        {date:'08-24', name: '24 серпня - День незалежності України'},
        {date:'10-14', name: '14 жовтня - День захисника України'},
        {date:'12-25', name: '25 грудня - Різдво Христове'},
      ],
      '2020': [
        {date:'01-01', name: '1 січня - Новий рік'},
        {date:'01-07', name: '7 січня - Різдво Христове'},
        {date:'03-08', name: '8 березня - Міжнародний жіночий день'},
        {date:'04-19', name: '19 квітня - Пасха'},
        {date:'05-01', name: '1 травня - День Праці'},
        {date:'05-09', name: '9 травня - День перемоги над нацизмом у Другій світовій війні (День перемоги)'},
        {date:'06-07', name: '7 червня - Трійця'},
        {date:'06-28', name: '28 червня - День Конституції України'},
        {date:'08-24', name: '24 серпня - День незалежності України'},
        {date:'10-14', name: '14 жовтня - День захисника України'},
        {date:'12-25', name: '25 грудня - Різдво Христове'},
      ],
      '2021': [
        {date:'01-01', name: '1 січня - Новий рік'},
        {date:'01-07', name: '7 січня - Різдво Христове'},
        {date:'03-08', name: '8 березня - Міжнародний жіночий день'},
        {date:'05-01', name: '1 травня - День Праці'},
        {date:'05-02', name: '2 травня - Пасха'},
        {date:'05-09', name: '9 травня - День перемоги над нацизмом у Другій світовій війні (День перемоги)'},
        {date:'06-20', name: '20 червня - Трійця'},
        {date:'06-28', name: '28 червня - День Конституції України'},
        {date:'08-24', name: '24 серпня - День незалежності України'},
        {date:'10-14', name: '14 жовтня - День захисника України'},
        {date:'12-25', name: '25 грудня - Різдво Христове'},
      ]
    }

    var monthNames = {
      'uk': ['Січень', 'Лютий', 'Березень', 'Квітень', 'Травень', 'Червень', 'Липень', 'Серпень', 'Вересень', 'Жовтень', 'Листопад', 'Грудень'],
      'ru': ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
    }

    var placeholders = {
      'uk': 'дд.мм.рррр',
      'ru': 'дд.мм.гггг',
    }

    var options = {
      dateFormat: 'dd.mm.yy',
      yearRange: "-5:+1",
      constrainInput: true,
      monthNames: monthNames['uk'],
      firstDay: 1,
      dayNamesMin: ['Нд', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
      changeYear: true
    };

    $('.calc1-datebegin').datepicker(options);
  	$('.calc1-dateend').datepicker(options);

  	$('.calc1-a .calc1-clear').click(function(){
  		$('.calc1-a .calc1-datebegin').datepicker('setDate', null);
  		$('.calc1-a .calc1-dateend').datepicker('setDate', null);
      $('.calc1-a .calc1-fio').val('');
  		$('.calc1-a #calc1-dayscount').val('');
  		$('.calc1-a .calc1-result').html('');
  		$('.calc1-a #calc1-includeHoliday').attr("checked", false);
  	});

  	$('.calc1-b .calc1-clear').click(function(){
  		$('.calc1-b .calc1-datebegin').datepicker('setDate', null);
  		$('.calc1-b .calc1-dateend').datepicker('setDate', null);
      $('.calc1-b .calc1-fio').val('');
  		$('.calc1-b #calc1-dayscount').val('');
  		$('.calc1-b .calc1-result').html('');
  		$('.calc1-b #calc1-includeHoliday').attr("checked", false);

  	});
  	$('.calc1-c .calc1-clear').click(function(){
  		$('.calc1-c .calc1-datebegin').datepicker('setDate', null);
  		$('.calc1-c .calc1-dateend').datepicker('setDate', null);
      $('.calc1-c .calc1-fio').val('');
  		$('.calc1-c #calc1-dayscount').val('');
  		$('.calc1-c .calc1-result').html('');
  		$('.calc1-c #calc1-includeHoliday').attr("checked", false);
  	});

  	$('.calculators-switch').click(function(){
      var calc = $(this).data('calc');
      $('.calculators-switch.active').removeClass('active');
      $('.calculators-switch.calc1-' + calc).addClass('active');
      $('.calc1-calculators .calculator.active').removeClass('active');
      $('.calc1-calculators .calculator.calc1-' + calc).addClass('active');
    });

    $('.calc1-a .calc1-calculate').click(function(){
  		var error = 0;
      var days = parseInt($('#calc1-dayscount', $(this).parent()).val());
      var db = new Date($('.calc1-datebegin', $(this).parent()).val().replace( /(\d{2}).(\d{2}).(\d{4})/, "$3-$2-$1"));
  		var dateEnd = new Date($('.calc1-dateend', $(this).parent()).val().replace( /(\d{2}).(\d{2}).(\d{4})/, "$3-$2-$1"));
  		var knownDays = 0;
  		var knownDateBegin = 0;
  		var knownDateEnd = 0;
  		if(!isNaN(days)) {
  			knownDays = 1;
  		}
  		if(!isNaN(db.getTime())) {
  			knownDateBegin = 1;
  		}
  		if(!isNaN(dateEnd.getTime())) {
  			knownDateEnd = 1;
  		}
  		var includeHoliday = $('.calc1-a #calc1-includeHoliday').prop("checked");

  		var hlist = [];

  		if (knownDays) {
  			if (knownDateBegin && !knownDateEnd) {
  				for(var y in holidays){
  					var year = holidays[y];
  					for(var d in year){
  						var day = year[d];
  						var de = new Date(db.getTime() + (days - 1)*24*60*60*1000);
  						var hdate = new Date(y + '-' + day.date);
  						if(db.getTime() <= hdate.getTime() && de.getTime() >= hdate.getTime() && includeHoliday){
  							days++;
  							hlist.push(day.name);
  						}
  					}
  				}
  				db.setDate(db.getDate() + days - 1);
  				if(isNaN(db.getTime())){
  					error = 1;
  				}
  			}
  			if (knownDateEnd && !knownDateBegin) {
  				for(var y in holidays){
  					var year = holidays[y];
  					for(var d in year){
  						var day = year[d];
  						var dStart = new Date(dateEnd.getTime() + (1 - days)*24*60*60*1000);
  						var hdate = new Date(y + '-' + day.date);
  						if(dStart.getTime() <= hdate.getTime() && dateEnd.getTime() >= hdate.getTime() && includeHoliday){
  							days++;
  							hlist.push(day.name);
  						}
  					}
  				}
  				if(isNaN(dStart.getTime())){
  					error = 1;
  				}
  			}
  		} else {
  			var daysAdd = 0;
  			for(var y in holidays){
  				var year = holidays[y];
  				for(var d in year){
  					var day = year[d];
  					var dateLong = (dateEnd.getTime() - db.getTime() + 1*24*60*60*1000)/(1000*60*60*24);
  					var hdate = new Date(y + '-' + day.date);
  					if(db.getTime() <= hdate.getTime() && dateEnd.getTime() >= hdate.getTime() && includeHoliday){
  						daysAdd++;
  						hlist.push(day.name);
  					}
  				}
  			}
  			if(includeHoliday) {
  				dateLong = dateLong - daysAdd;
  			}
  		}

  		var result = '';
  		if ( !error ) {
  			if(hlist.length){
  				result += '<span class="calc-label"><b>Невраховані святкові та неробочі дні:</b></span><br/>';
  				for(var i in hlist){
  					result += '<span>   ' + hlist[i] + '</span><br/>';
  				}
  			}

  			if (!knownDateEnd && knownDateBegin && knownDays) {
  				result += '<span class="calc-label">Дата останнього дня відпустки:</span><br/><span><b>' + $.datepicker.formatDate('dd.mm.yy, DD', db) + '</b></span>';
  			}

  			if (knownDateEnd && !knownDateBegin && knownDays) {
  				result += '<span class="calc-label">Перший день відпустки:</span><br/><span><b>' + $.datepicker.formatDate('dd.mm.yy, DD', dStart) + '</b></span>';
  			}

  			if (!knownDays && knownDateBegin && knownDateEnd) {
  				result += '<span class="calc-label">Днів відпустки:</span><br/><span><b>' + dateLong + '</b></span>';
  			}

  		}

      if ( knownDays && knownDateBegin && knownDateEnd ) {
        result += 'немає невідомих';
      }

      if ( !result.length ) {
        result += 'не правильно вказана дата';
      }

  		$('.calc1-result', $(this).parent()).html(result);

  	});


//======================================================
    $('.calc1-b .calc1-calculate').click(function(){
  		var error = 0;
  		var days = parseInt($('#calc1-dayscount', $(this).parent()).val());
      var dateBegin = new Date($('.calc1-datebegin', $(this).parent()).val().replace( /(\d{2}).(\d{2}).(\d{4})/, "$3-$2-$1"));
  		var dateEnd = new Date($('.calc1-dateend', $(this).parent()).val().replace( /(\d{2}).(\d{2}).(\d{4})/, "$3-$2-$1"));
      var db = moment(dateBegin);
      var de = moment(dateEnd);
      var yde = moment(dateBegin).add(365, 'day');

  		var knownDays = 0;
  		var knownDateBegin = 0;
  		var knownDateEnd = 0;

  		if(!isNaN(days)) {
  			knownDays = 1;
  		}

  		if ( db.isValid() ) {
  			knownDateBegin = 1;
  		}

  		if( de.isValid() ) {
  			knownDateEnd = 1;
  		}

  		if ( knownDays && knownDateBegin && knownDateEnd ) {


        var daysCount = de.diff(db,'days') + 1;

  			for ( var y in holidays ) {
  				var year = holidays[y];
  				for ( var d in year ) {
  					var day = year[d];
  					var holiday = moment(new Date ( y + '-' + day.date ));
            if ( holiday.isBetween(db, de, 'day', true) ) {
              daysCount--;
            }
  				}
  			}

        var yearDaysCount = yde.diff(db,'days') + 1;

  			for ( var y in holidays ) {
  				var year = holidays[y];
  				for ( var d in year ) {
  					var day = year[d];
  					var holiday = moment(new Date ( y + '-' + day.date ));
            if ( holiday.isBetween(db, yde, 'day', true) ) {
              yearDaysCount--;
            }
  				}
  			}

  		}

  		var result = '';

  		if ( !error ) {

  			if (knownDays && knownDateBegin && knownDateEnd) {
          var res = days / yearDaysCount * daysCount;
  				result += '<span class="calc-label">Кількість днів відпустки:</span><br/><span><b>' + res.toFixed(4) + '</b></span>';
  			}

  		}

      if ( !result.length ) {
        result += 'не правильно вказана дата';
      }

  		$('.calc1-result', $(this).parent()).html(result);

  	});


//======================================================
    $('.calc1-c .calc1-calculate').click(function(){
  		var error = 0;
  		var days = parseInt($('#calc1-dayscount', $(this).parent()).val());
      var dateBegin = new Date($('.calc1-datebegin', $(this).parent()).val().replace( /(\d{2}).(\d{2}).(\d{4})/, "$3-$2-$1"));
  		var dateEnd = new Date($('.calc1-dateend', $(this).parent()).val().replace( /(\d{2}).(\d{2}).(\d{4})/, "$3-$2-$1"));
      var db = moment(dateBegin);
      var de = moment(dateEnd);
      var yde = moment(dateBegin).add(365, 'day');

  		var knownDays = 0;
  		var knownDateBegin = 0;
  		var knownDateEnd = 0;

  		if(!isNaN(days)) {
  			knownDays = 1;
  		}

  		if ( db.isValid() ) {
  			knownDateBegin = 1;
  		}

  		if( de.isValid() ) {
  			knownDateEnd = 1;
  		}

  		if ( knownDays && knownDateBegin && knownDateEnd ) {


        var daysCount = de.diff(db,'days') + 1;

  			for ( var y in holidays ) {
  				var year = holidays[y];
  				for ( var d in year ) {
  					var day = year[d];
  					var holiday = moment(new Date ( y + '-' + day.date ));
            if ( holiday.isBetween(db, de, 'day', true) ) {
              daysCount--;
            }
  				}
  			}

        var yearDaysCount = yde.diff(db,'days') + 1;

  			for ( var y in holidays ) {
  				var year = holidays[y];
  				for ( var d in year ) {
  					var day = year[d];
  					var holiday = moment(new Date ( y + '-' + day.date ));
            if ( holiday.isBetween(db, yde, 'day', true) ) {
              yearDaysCount--;
            }
  				}
  			}

  		}

  		var result = '';

  		if ( !error ) {

  			if (knownDays && knownDateBegin && knownDateEnd) {
          var res = days / yearDaysCount * daysCount;
  				result += '<span class="calc-label">Кількість днів відпустки:</span><br/><span><b>' + res.toFixed(4) + '</b></span>';
  			}

  		}

      if ( !result.length ) {
        result += 'не правильно вказана дата';
      }

  		$('.calc1-result', $(this).parent()).html(result);

  	});

    $('.calc1-a .calc1-print').click(function(){
      $('.calc1-a .calc1-calculate').click();
      var db = $('.calc1-a .calc1-datebegin').val();
      var de = $('.calc1-a .calc1-dateend').val();
      var dayscount =  $('.calc1-a #calc1-dayscount').val();
      var checked = $('.calc1-a #calc1-includeHoliday').attr('checked');
      var data = JSON.stringify({
        fio: $('.calc1-a .calc1-fio').val(),
        db: db,
        de: de,
        dayscount: dayscount,
        checked: checked,
        results: $('.calc1-a .calc1-result').html()
      });
      var form = document.createElement("form");
      document.body.appendChild(form);
      form.method = "POST";
      form.action = '/calculators/calc1-a';
      form.target = "_blank";
      var element1 = document.createElement("INPUT");
      element1.name = "data";
      element1.value = data;
      element1.type = 'hidden';
      form.appendChild(element1);
      form.submit();
    });

    $('.calc1-b .calc1-print').click(function(){
      $('.calc1-b .calc1-calculate').click();
      var db = $('.calc1-b .calc1-datebegin').val();
      var de = $('.calc1-b .calc1-dateend').val();
      var dayscount =  $('.calc1-b #calc1-dayscount').val();
      var data = JSON.stringify({
        fio: $('.calc1-b .calc1-fio').val(),
        db: db,
        de: de,
        dayscount: dayscount,
        results: $('.calc1-b .calc1-result').html()
      });
      var form = document.createElement("form");
      document.body.appendChild(form);
      form.method = "POST";
      form.action = '/calculators/calc1-b';
      form.target = "_blank";
      var element1 = document.createElement("INPUT");
      element1.name = "data";
      element1.value = data;
      element1.type = 'hidden';
      form.appendChild(element1);
      form.submit();
    });

    $('.calc1-c .calc1-print').click(function(){
      $('.calc1-c .calc1-calculate').click();
      var db = $('.calc1-c .calc1-datebegin').val();
      var de = $('.calc1-c .calc1-dateend').val();
      var dayscount =  $('.calc1-c #calc1-dayscount').val();
      var data = JSON.stringify({
        fio: $('.calc1-c .calc1-fio').val(),
        db: db,
        de: de,
        dayscount: dayscount,
        results: $('.calc1-c .calc1-result').html()
      });
      var form = document.createElement("form");
      document.body.appendChild(form);
      form.method = "POST";
      form.action = '/calculators/calc1-c';
      form.target = "_blank";
      var element1 = document.createElement("INPUT");
      element1.name = "data";
      element1.value = data;
      element1.type = 'hidden';
      form.appendChild(element1);
      form.submit();
    });

  },

  computed: {

    ...mapState([
      'modules',
    ]),

    ...mapGetters([
      'isAuthenticatedUser'
    ]),

    name() {
      return this.$router.currentRoute.value.name;
    },

  },

  methods: {

    ...mapMutations([
      'startLoading',
      'finishLoading',
      'setTitle'
    ]),

  }

}

</script>

<style lang="scss" scoped>
</style>