<template>
  <div :class="'module-' + name" class="module-window clearfix">
		<div class="calculator-tabs">
			<router-link to="/calculators/calc1">Калькулятори відпусток</router-link>
			<router-link class="active" to="/calculators/calc2">Калькулятор стажу</router-link>
			<router-link to="/calculators/calc3">Калькулятор нормативу робочих місць для осіб з інвалідністю</router-link>
		</div>

		<div class="calculator-block">
			<div v-if="isAuthenticatedUser" class="calculator2">
				<div class="calc2-fio-wrapper"><input placeholder="ПІБ працівника" class="calc2-fio"/></div>
				<div class="calc2-period-labels"><span class="calc-date-title">Початок періоду</span><span class="calc-date-title">Кінець періоду</span></div>
				<div class="calc2-period"><div class="calc2-option"><input placeholder="дд.мм.рррр" class="calc2-datebegin"/><div class="icon icon-calendar"></div></div><div class="calc2-option"><input placeholder="дд.мм.рррр" class="calc2-dateend"/><div class="icon icon-calendar"></div></div><span class="calc2-remove-period">Видалити</span></div>
				<div class="calc2-addperiod"><span class="icon icon-plus"></span>Додати ще один період</div>
				<div class="calc2-calculate">Розрахувати</div>
				<div class="calc2-print">Роздрукувати</div>
			</div>
			<Auth v-if="!isAuthenticatedUser" :destination="destination" />
		</div>
		<div class="calculator-description-block">
			<p>За допомогою калькулятору можна розрахувати стаж роботи на підприємстві за спеціальністю, для надбавки за вислугу років, для оплати тимчасової непрацездатності тощо. Потрібно заповнити «початок періоду» (це дата прийняття на роботу) та «кінець періоду» (це дата звільнення) — і калькулятор порахує стаж у роках, місяцях, днях.</p>
			<p><b>Підказка:</b> страховий стаж обчислюється за даними персоніфікованого обліку відомостей про застрахованих осіб Державного реєстру загальнообов’язкового державного соціального страхування, а за періоди до 01.01.2011 — за трудовою книжкою.</p>
		</div>
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import $ from 'jquery';
import datepickerFactory from 'jquery-datepicker';
import Auth from '../components/Auth.vue'

export default {

	components: {
    Auth
  },

  data: () => {
    return {
			destination: '/calculators/calc2',
      activated: false,
    }
  },

  mounted () {
    this.setTitle('Калькулятор стажу');
    datepickerFactory($);

    var monthNames = {
      'uk': ['Січень', 'Лютий', 'Березень', 'Квітень', 'Травень', 'Червень', 'Липень', 'Серпень', 'Вересень', 'Жовтень', 'Листопад', 'Грудень'],
      'ru': ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
    }

    var placeholders = {
      'uk': 'дд.мм.рррр',
      'ru': 'дд.мм.гггг',
    }

    var deletes = {
      'uk': 'видалити',
      'ru': 'удалить',
    }

    var options = {
      dateFormat: 'dd.mm.yy',
      yearRange: "1930:+0",
      constrainInput: true,
      monthNames: monthNames['uk'],
      firstDay: 1,
      dayNamesMin: ['Нд', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
      changeYear: true
    };

    $('.calc2-datebegin').datepicker(options);
		$('.calc2-dateend').datepicker(options);

  	$('.calc2-remove-period').click(function(){
  		$(this).parent().remove();
  	});

    $('.calc2-datebegin').datepicker(options);
    $('.calc2-dateend').datepicker(options);
    $('.calc2-remove-period').click(function(){
      $(this).parent().remove();
    });

  	$('.calc2-addperiod').click(function(){
      $('<div class="calc2-period"><div class="calc2-option"><input placeholder="' + placeholders['uk'] + '" class="calc2-datebegin"/><div class="icon icon-calendar-1"></div></div><div class="calc2-option"><input placeholder="' + placeholders['uk'] + '" class="calc2-dateend"/><div class="icon icon-calendar-1"></div></div><span class="calc2-remove-period">' + deletes['uk']+ '</span></div>').insertBefore(this);
  		$('.calc2-datebegin').datepicker(options);
  		$('.calc2-dateend').datepicker(options);
  		$('.calc2-remove-period').click(function(){
  			$(this).parent().remove();
  		});
  	});


    $('.calc2-print').click(function(){
      $('.calc2-calculate').click();
      var periods = [];
      $('.calc2-period').each(function(index, elm){
        periods.push({
          db: $('.calc2-datebegin', elm).val(),
          de: $('.calc2-dateend', elm).val(),
        });
      })
      var data = JSON.stringify({
        fio: $('.calc2-fio').val(),
        periods: periods,
        results: $('.calc2-result').html()
      });
      var form = document.createElement("form");
      document.body.appendChild(form);
      form.method = "POST";
      form.action = '/calculators/calc2p';
      form.target = "_blank";
      var element1 = document.createElement("INPUT");
      element1.name = "data";
      element1.value = data;
      element1.type = 'hidden';
      form.appendChild(element1);
      form.submit();

    });

  	$('.calc2-calculate').click(function(){
  		var DD = 0;
  		var MD = 0;
  		var YD = 0;
  		var error = 0;
  		$('.calc2-datebegin', $(this).parent()).each(function(){

        var db = new Date($(this).val().replace( /(\d{2}).(\d{2}).(\d{4})/, "$3-$2-$1"));
        var de = new Date($('.calc2-dateend', $(this).parent().parent()).val().replace( /(\d{2}).(\d{2}).(\d{4})/, "$3-$2-$1"));
  			var dby = db.getFullYear();
  			var dbm = db.getMonth();
  			var dbd = db.getDate();

  			var dey = de.getFullYear();
  			var dem = de.getMonth();
  			var ded = de.getDate();
  			var fbd = new Date(dby, dbm + 1, 0).getDate();
  			var fed = new Date(dey, dem + 1, 0).getDate();
  			var dd = 0;
  			var md = 0;
  			var yd = 0;
  			yd = dey - dby;
  			md = dem - dbm;
  			if(yd > 0){ // если год меняется
  				yd--;
  				md = dem - 1 + 12 - dbm;
  				if(dbd - 1 == 0){ //если месяц начала начался с первого числа
  					md++;
  				} else {
  					dd += fbd - dbd + 1;
  				}
  				if(ded - fed == 0){ //если месяц конца заканчивается последним числом месяца
  					md++;
  				} else {
  					dd += ded;
  				}
  				if(md >= 12){
  					yd++;
  					md = md%12;
  				}
  			} else {
  				if(yd == 0){ // если год не меняется
  					if(md > 0 ){ // если месяц меняется
  						md--;
  						if(dbd - 1 == 0){ //если месяц начала начался с первого числа
  							md++;
  						} else {
  							dd += fbd - dbd + 1;
  						}
  						if(ded - fed == 0){ //если месяц конца заканчивается последним числом месяца
  							md++;
  						} else {
  							dd += ded;
  						}
  					} else {
  						if(md == 0 ){ // если месяц не меняется
  							dd = ded - dbd + 1;
  							if(dd < 1){ // если начало раньше конца (день)
  								error =1;
  							}
  							if(dd == fbd){
  								dd = 0;
  								md++;
  							}
  						} else { // если начало раньше конца (месяц)
  							error = 1
  						}
  					}
  				} else { // если начало раньше конца (год)
  					error = 1;
  				}
  			}
  			yd += Math.floor(md/12);
  			md = md%12;
  			md += Math.floor(dd/30);
  			dd = dd%30;
  			YD += yd;
  			MD += md;
  			DD += dd;
  			//console.log(yd, md, dd);
  		});
  		MD += Math.floor(DD/30);
  		DD = DD%30;
  		YD += Math.floor(MD/12);
  		MD = MD%12;
  		//console.log(YD, MD, DD);
  		var result = '<div class="calc2-result">Загальний стаж:<br/>';
  		if(!error){
  			if(YD) result += '<span class="calc-label">Років: </span><span><b>' + YD + '</b> </span>';
  			if(MD) result += '<span class="calc-label">Місяців: </span><span><b>' + MD + '</b> </span>';
  			if(DD) result += '<span class="calc-label">Днів: </span><span><b>' + DD + '</b></span>';
  		} else {
  			result += 'не правильно вказана дата(дати)';
  		}
  		result += '</div>';
  		$('.calc2-result', $(this).parent()).remove();
  		$(result).insertBefore(this);
  	})

  },

  computed: {

    ...mapState([
      'modules',
    ]),

    ...mapGetters([
      'isAuthenticatedUser'
    ]),

		name() {
      return this.$router.currentRoute.value.name;
    },

  },

  methods: {

    ...mapMutations([
      'startLoading',
      'finishLoading',
      'setTitle'
    ]),

  }

}

</script>

<style lang="scss" scoped>
</style>