<template>
  <div :class="'module-' + name" class="module-window clearfix">
    <div class="calculator-tabs">
      <router-link to="/calculators/calc1">Калькулятори відпусток</router-link>
      <router-link to="/calculators/calc2">Калькулятор стажу</router-link>
      <router-link class="active" to="/calculators/calc3">Калькулятор нормативу робочих місць для осіб з інвалідністю</router-link>
    </div>
    <div class="calculator-block">
      <div v-if="isAuthenticatedUser" class="calculator3">
        <b>Середньооблікова кількість штатних працівників*:</b>
        <div class="calc3-months">
            <div class="calc3-month month-1" data-month="1"><div class="calc3-label">Січень</div><input class="calc3-input" maxlength="4"></div>
            <div class="calc3-month month-2" data-month="2"><div class="calc3-label">Лютий</div><input class="calc3-input" maxlength="4"></div>
            <div class="calc3-month month-3" data-month="3"><div class="calc3-label">Березень</div><input class="calc3-input" maxlength="4"></div>
            <div class="calc3-month month-4" data-month="4"><div class="calc3-label">Квітень</div><input class="calc3-input" maxlength="4"></div>
            <div class="calc3-month month-5" data-month="5"><div class="calc3-label">Травень</div><input class="calc3-input" maxlength="4"></div>
            <div class="calc3-month month-6" data-month="6"><div class="calc3-label">Червень</div><input class="calc3-input" maxlength="4"></div>
            <div class="calc3-month month-7" data-month="7"><div class="calc3-label">Липень</div><input class="calc3-input" maxlength="4"></div>
            <div class="calc3-month month-8" data-month="8"><div class="calc3-label">Серпень</div><input class="calc3-input" maxlength="4"></div>
            <div class="calc3-month month-9" data-month="9"><div class="calc3-label">Вересень</div><input class="calc3-input" maxlength="4"></div>
            <div class="calc3-month month-10" data-month="10"><div class="calc3-label">Жовтень</div><input class="calc3-input" maxlength="4"></div>
            <div class="calc3-month month-11" data-month="11"><div class="calc3-label">Листопад</div><input class="calc3-input" maxlength="4"></div>
            <div class="calc3-month month-12" data-month="12"><div class="calc3-label">Грудень</div><input class="calc3-input" maxlength="4"></div>
        </div>
        <div class="calc3-year-count">
            <div class="calc3-label">За рік:</div><input class="calc3-input" id="yearcount" maxlength="4">
        </div>
        <div class="calc3-result"></div>
        <div class="calc3-calculate btn">Розрахувати</div>
        <div class="calc3-clear btn">Очистити</div>
      </div>
      <Auth v-if="!isAuthenticatedUser" :destination="destination" />
    </div>
    <div class="calculator-description-block">
      <p>Для підприємств, установ, організацій, фізичних осіб – підприємців, які використовують найману працю, <b>встановлено обов’язковий норматив робочих місць для працевлаштування осіб з інвалідністю у розмірі 4% середньооблікової чисельності штатних працівників облікового складу за рік</b>, а якщо працює від 8 до 25 осіб — у кількості одного робочого місця (ст. 19 Закону України «Про основи соціальної захищеності осіб з інвалідністю в Україні».</p>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import $ from 'jquery';
import Auth from '../components/Auth.vue'

export default {

	components: {
    Auth
  },

  data: () => {
    return {
      destination: '/calculators/calc3',
      activated: false,
    }
  },

  mounted () {
    this.setTitle('Калькулятор нормативу робочих місць для осіб з інвалідністю');

    $('.calc3-calculate').click(function(){
      var error = 0;
      var monthCounts = [];
      var yearCount = parseInt($('#yearcount', $(this).parent()).val());
      var countPeopleAll = 0;

      $('.calc3-month').each(function(index, elm){
        if ($('.calc3-input', elm).val()) {
          monthCounts.push({count: parseInt($('.calc3-input', elm).val())});
          countPeopleAll += parseInt($('.calc3-input', elm).val());
        }
      });

      if ((monthCounts.length >= 0 && monthCounts.length < 12) && isNaN(yearCount)) {
        error = 1;
      }

      var result = '<div class="calc3-result">Норматив робочих місць для осіб з інвалідністю: ';
      if (!error) {
        var countPeople;
        var normativePeople = 0;

        if (!isNaN(yearCount)) {
          countPeople = yearCount;
        } else {
          countPeople = countPeopleAll/12;
          $('#yearcount').val(countPeople);
        }

        if (countPeople <= 7) {
          normativePeople = 0;
        } else if (countPeople >= 8 && countPeople <= 25){
          normativePeople = 1;
        } else {
          normativePeople = Math.round(countPeople/100*4);
        }

        result += '<strong>' + normativePeople + '</strong>';

      } else {
        result += '<br>не вірно вказані дані';
      }
      result += '</div>';
      $('.calc3-result', $(this).parent()).remove();
      $(result).insertBefore(this);
    });

    $('.calc3-clear').click(function(){
      $('.calc3-input').val('');
      $('.calc3-result').html('');
    });

  },

  computed: {

    ...mapState([
      'modules',
    ]),

    ...mapGetters([
      'isAuthenticatedUser'
    ]),

    name() {
      return this.$router.currentRoute.value.name;
    },

  },

  methods: {

    ...mapMutations([
      'startLoading',
      'finishLoading',
      'setTitle'
    ]),

  }

}

</script>

<style lang="scss" scoped>
</style>