<template>
  <div :class="'module-' + name" class="module-window clearfix">
    <div class="calendar-wrapper">
        <div class="calendar-header">
            <router-link to="/calendar" :class="{active: Mode !== 'production'}" class="calendar-mode-button">Календар</router-link>
            <router-link :disabled="!allHolidaysSet" :to="`/calendar/production/${Year}`" :class="{active: Mode === 'production', disabled: !allHolidaysSet}" class="calendar-mode-button">Виробничий календар</router-link>
            <div v-if="Mode !== 'production'" class="switch-year">
              <router-link :to="`/calendar/${Year-1}-${String(Month).padStart(2, '0')}`" class="year-nav year-prev icon-left-open"></router-link>
              <span class="year-current">{{ Year }}</span>
              <router-link :to="`/calendar/${Year+1}-${String(Month).padStart(2, '0')}`" class="year-nav year-next icon-right-open"></router-link>
            </div>
            <div v-if="Mode === 'production'" class="switch-year">
              <router-link :to="`/calendar/production/${Year-1}` + ( Quater.length ? `/${Quater}` : '')" class="year-nav year-prev icon-left-open"></router-link>
              <span class="year-current">{{ Year }}</span>
              <router-link :to="`/calendar/production/${Year+1}` + ( Quater.length ? `/${Quater}` : '')" class="year-nav year-next icon-right-open"></router-link>
            </div>
        </div>
        <div v-if="Mode !== 'production'" class="month-bar">
            <router-link :to="`/calendar/${Year}-01`" :class="{active: Month==1}" class="month">Січень</router-link>
            <router-link :to="`/calendar/${Year}-02`" :class="{active: Month==2}" class="month">Лютий</router-link>
            <router-link :to="`/calendar/${Year}-03`" :class="{active: Month==3}" class="month">Березень</router-link>
            <router-link :to="`/calendar/${Year}-04`" :class="{active: Month==4}" class="month">Квітень</router-link>
            <router-link :to="`/calendar/${Year}-05`" :class="{active: Month==5}" class="month">Травень</router-link>
            <router-link :to="`/calendar/${Year}-06`" :class="{active: Month==6}" class="month">Червень</router-link>
            <router-link :to="`/calendar/${Year}-07`" :class="{active: Month==7}" class="month">Липень</router-link>
            <router-link :to="`/calendar/${Year}-08`" :class="{active: Month==8}" class="month">Серпень</router-link>
            <router-link :to="`/calendar/${Year}-09`" :class="{active: Month==9}" class="month">Вересень</router-link>
            <router-link :to="`/calendar/${Year}-10`" :class="{active: Month==10}" class="month">Жовтень</router-link>
            <router-link :to="`/calendar/${Year}-11`" :class="{active: Month==11}" class="month">Листопад</router-link>
            <router-link :to="`/calendar/${Year}-12`" :class="{active: Month==12}" class="month">Грудень</router-link>
        </div>
        <div v-if="Mode === 'production' && allHolidaysSet" class="periods-bar">
            <router-link :to="`/calendar/production/${Year}`" :class="{active: Quater === ''}" class="period">Рік</router-link>
            <router-link :to="`/calendar/production/${Year}/q1`"  :class="{active: Quater === 'q1'}" class="period">I квартал</router-link>
            <router-link :to="`/calendar/production/${Year}/q2`"  :class="{active: Quater === 'q2'}" class="period">II квартал</router-link>
            <router-link :to="`/calendar/production/${Year}/q3`"  :class="{active: Quater === 'q3'}" class="period">III квартал</router-link>
            <router-link :to="`/calendar/production/${Year}/q4`"  :class="{active: Quater === 'q4'}" class="period">IV квартал</router-link>
        </div>
        <div v-if="Mode !== 'production'" class="calendar-main-wrapper">
            <div class="calendar-sidebar">
              <div class="event-type-list">
                <div class="event-type-national_holiday"><span>Державне свято</span></div>
                <div class="event-type-audit"><span>Перевірка</span></div>
                <div class="event-type-report"><span>Звіт</span></div>
                <div class="event-type-event"><span>Подія</span></div>
                <div class="event-type-professional_day"><span>Професійні, міжнародні, традиційні свята, пам'ятні дати</span></div>
                <div class="event-type-half_holiday"><span><i class="icon-clock"></i>Скорочений робочий день</span></div>
              </div>
              <CalendarProductionTips v-if="allHolidaysSet && Year && Month" :Year="Year" :Month="Month" :data="productionCalendar"/>
            </div>
            <div class="calendar-main">
              <Calendar v-if="Mode === 'month'" :month="Month" :year="Year" :events="events" :short_days="short_days" :working_days="working_days" :additional_holidays="additional_holidays"/>
              <CalendarEventsList v-if="Mode === 'list'" :Year="Year" :Month="Month" :Day="Day" :events="selectedDayEvents" :types="types"/>
              <CalendarEvent v-if="Mode === 'event'" :Year="Year" :Month="Month" :Day="Day" :event="event" />
            </div>
        </div>
        <CalendarProduction v-if="Mode === 'production' && productionCalendar.year !== undefined && allHolidaysSet" :data="productionCalendar" :year="Year" :quater="Quater" />
    </div>
  </div>
</template>

<script>

import { getMonth, getYear } from 'date-fns'
import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import { isEqual as _isEqual, isEmpty as _isEmpty} from 'underscore';
import qs from 'qs';
import axios from 'axios'
import Calendar from '../components/Calendar';
import CalendarEventsList from '../components/CalendarEventsList';
import CalendarProductionTips from '../components/CalendarProductionTips';
import CalendarProduction from '../components/CalendarProduction';
import CalendarEvent from '../components/CalendarEvent';

export default {

  data: () => {
    return {
      command: 'getEventsYear',
      productionCalendar: {},
      Year: 0,
      Month: 0,
      Day: 0,
      Quater: '',
      Mode: 'month',
      event: {},
      events: [],
      holidays: [],
      types: {},
      short_days: [],
      working_days: [],
      additional_holidays: [],
      activated: false,
      debounceTimer: null,
    }
  },

  components: {
    Calendar,
    CalendarEventsList,
    CalendarEvent,
    CalendarProduction,
    CalendarProductionTips
  },

  mounted () {
    //this.setTitle(this.modules[this.name].name);
    this.parseParams(this.$route.params)
  },

  computed: {

    ...mapState([
      'searchParams',
      'searchKey',
      'modules',
    ]),

    ...mapGetters([
      'currentFiltersIds'
    ]),

    allHolidaysSet() {
      return this.holidays.filter( holiday => holiday.substring(0,4) == this.Year ).length > 2
    },

    name() {
      return this.$router.currentRoute.value.name;
    },

    date() {
      return `${this.Year}-${String(this.Month).padStart(2, '0')}-${String(this.Day).padStart(2, '0')}`
    },

    selectedDayEvents() {
      return this.events[this.date] ? this.events[this.date] : []
    }

  },

  watch:{

    '$route.params': function (params) {
      this.parseParams(params)
    },

    Year() {
      this.getList()
    }

  },

  methods: {

    ...mapMutations([
      'startLoading',
      'finishLoading',
      'setTitle'
    ]),

    parseParams(params) {
      if ( params && params.id && params.id.length ) {
        this.getEvent(params.id.split('-')[0])
        this.Mode = 'event'
        this.Year = this.Year ? this.Year : getYear(new Date())
        this.Month = this.Month ? this.Month : (getMonth(new Date()) + 1)
        this.Day = this.Day ? this.Day : 0
      } else if ( params && params.yearmonth && params.yearmonth.length ) {
        this.Year = parseInt(params.yearmonth.substring(0, 4))
        this.Month = parseInt(params.yearmonth.substring(5, 7))
        this.Day = 0
        this.Mode = 'month'
      } else if ( params && params.proyear !== undefined ) {
        this.Year = params.proyear.length ? parseInt(params.proyear) : getYear(new Date())
        this.Quater = params.quater !== undefined ? params.quater : ''
        this.Day = 0
        this.Mode = 'production'
      } else if ( params && params.date && params.date.length ) {
        this.Year = parseInt(params.date.substring(0, 4))
        this.Month = parseInt(params.date.substring(5, 7))
        this.Day = parseInt(params.date.substring(8, 10))
        this.Mode = 'list'
      } else {
        this.Year = getYear(new Date())
        this.Month = getMonth(new Date()) + 1
        this.Day = 0
        this.Mode = 'month'
      }
    },

    getList() {
      this.startLoading()
      let params = {}
      params.year = this.Year
      axios.post('/system/request/' +  this.command,
      qs.stringify( { params: JSON.stringify(params) } ),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.activated = true
        this.finishLoading();
        this.events = response.data.data.events
        this.short_days = response.data.data.short_days
        this.working_days = response.data.data.working_days
        this.holidays = response.data.data.holidays
        this.additional_holidays = response.data.data.additional_holidays
        this.types = response.data.data.types
        this.productionCalendar = response.data.data.production_calendar
      })

    },

    getEvent(id) {
      this.startLoading()
      axios.post('/system/request/getEvent',
      qs.stringify( { params: JSON.stringify({ id: id }) } ),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.activated = true
        this.finishLoading();
        this.event = {
          audit: response.data.data.audit,
          title: response.data.data.title,
          event_content: response.data.data.event_content,
          event_date_start: response.data.data.event_date_start,
          event_file: response.data.data.event_file,
          event_type: response.data.data.event_type,
          event_type_label: response.data.data.event_type_label,
          audit_label_interviews: response.data.data.audit_label_interviews,
          audit_label_consultations: response.data.data.audit_label_consultations,
          audit_consultations_help: response.data.data.audit_consultations_help,
          audit_label_examples: response.data.data.audit_label_examples
        }
      })
    }

  }

}

</script>
