<template>
  <div :class="'module-' + name" class="module-window clearfix">
    <div class="module-filters">
    </div>
    <table class="items">
      <thead>
        <th>КОД КП</th>
        <th>КОД ЗКППТР</th>
        <th>ВИПУСК ЄТКД</th>
        <th>ВИПУСК ДКХП</th>
        <th>ПРОФЕСІЙНА НАЗВА РОБОТИ</th>
      </thead>
      <tbody v-if="isAuthenticatedUser">
        <tr v-for="item in list" :data-cid="item.id" class="item clearfix" v-bind:key="item.id">
          <td v-html="highlight(item.field_kod_kp)"></td>
          <td v-html="highlight(item.field_kod_zkpptr)"></td>
          <td v-html="highlight(item.field_vypusk_yetkd)"></td>
          <td><router-link v-if="item.field_vypusk_dkkhp.length" :to="'/orientation' + '#n=' + item.field_vypusk_dkkhp" v-html="highlight(item.field_vypusk_dkkhp)"></router-link></td>
          <td v-html="highlight(item.field_job_name)"></td>
        </tr>
      </tbody>
    </table>
    <Auth v-if="!isAuthenticatedUser" :destination="destination" />
    <Pager :total="totalCount" :page="page" :ipp="itemsPerPage" />
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import { isEqual as _isEqual, isEmpty as _isEmpty} from 'underscore';
import qs from 'qs';
import axios from 'axios'
import Auth from '../components/Auth.vue'
import Pager from '../components/Pager.vue'

export default {

  data: () => {
    return {
      destination: '/classifier',
      command: 'getJobsList',
      list: [],
      activated: false,
      totalCount: 0,
      page: 0,
      itemsPerPage: 50,
      debounceTimer: null,
      highlightFilters: {},
      searchType: 0
    }
  },

  components: {
    Auth,
    Pager
  },

  mounted () {
    this.setTitle(this.modules[this.name].name);
    if ( ( !this.loadParams() || !this.activated ) && this.isAuthenticatedUser ) {
      this.getList()
    }
  },

  computed: {

    ...mapState([
      'searchParams',
      'searchKey',
      'modules',
    ]),

    ...mapGetters([
      'currentFiltersIds',
      'isAuthenticatedUser'
    ]),

    name() {
      return this.$router.currentRoute.value.name;
    },

    filters() {
      return {
        themes: this.currentFiltersIds,
        key: this.searchKey,
      }
    },

    params() {
      return {
        page: this.page,
        filters: this.filters
      }
    },

  },

  watch:{

    params: {
      deep: true,
      handler(after, before) {
        if ( after.page !== before.page || after.page == 0 ) {
          let savedParams = this.searchParams[this.name]
          if ( !_isEqual ( after, before ) && this.activated ) {
            if ( _isEmpty(savedParams) ) {
              this.getList()
            } else {
              if ( this.debounceTimer ) {
                clearTimeout(this.debounceTimer)
              }
              this.debounceTimer = setTimeout(
                ()=>{
                  this.getList()
                }, 300
              )
            }
          }
        } else {
          this.page = 0
        }
      }
    }

  },

  methods: {

    highlight(str) {
      return this.$parent.$parent.highlight(str, this.highlightFilters)
    },

    ...mapMutations([
      'startLoading',
      'finishLoading',
      'setTitle',
      'saveSearchParams',
    ]),

    loadParams(){
      let params = this.searchParams[this.name];
      if ( !this.activated && !_isEmpty(params) ) {
        this.page = typeof params.page !== 'undefined' ? params.page : 0
        return true
      }
      return false
    },

    pagerClick(page) {
      this.page = page
    },

    getList() {
      this.startLoading();
      axios.post('/system/request/' +  this.command,
      qs.stringify( { params: JSON.stringify(this.params) } ),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.activated = true
        this.finishLoading();
        this.totalCount = response.data.data.totalCount
        this.list = response.data.data.list
        this.highlightFilters = response.data.data.filters
        this.saveSearchParams({ params: this.params, name: this.name})
        this.$parent.$parent.scrollTo('html')
      })

    },

  }

}

</script>

<style lang="scss" scoped>
  @import '../styles/_fonts.scss';

  .items {
    width: 100%;
    border: 1px solid #ccc;

    th {
      border: 1px solid #ccc;
      background-color: #eee;
      padding: 10px;
    }

    td {
      border: 1px solid #ccc;
      padding: 10px;
      a {
        text-decoration: underline;
      }
    }

  }

</style>