<template>
  <div :class="'module-' + name" class="module-window clearfix">
    <ClarificationScreen @closed="showClarification=false" @submitted="showClarification=false; getList()" :showScreen="showClarification" :item="selectedItem"/>
    <EditScreen @closed="showEdit=false" @submitted="showEdit=false; getList()" :showScreen="showEdit" :item="selectedItem"/>
    <ViewScreen @closed="showView=false" @submitted="showView=false; getList()" :showScreen="showView" :item="selectedItem"/>
    <div class="module-filters">
    </div>
    <table class="expert-consultaions-list">
      <thead>
        <tr>
          <th class="table-date">Дата</th>
          <th class="table-question">Запитання</th>
          <th class="table-date-answer">Орієнтовна дата відповіді</th>
          <th class="table-status">Статус</th>
          <th class="table-actions">Прийняти/відмовитись</th>
          <th class="table-answer">Відповідь</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in list">
          <td class="table-date">
            <div class="list-item-date">{{ item.created }}</div>
            <div :class="'list-item-status-' + item.status" class="list-item-status"></div>
          </td>
          <td class="table-question">
            <div class="list-item-question">
              <div v-html="item.question"></div>
              <div v-if="item.file" class="user-file">Прикріплено файл: <a target="_blank" :href="item.file.uri">{{ item.file.name }}</a></div>
              <div v-if="item.clarification.length" class="list-item-view-clarification-link">Переглянути уточнення</div>
            </div>
          </td>
          <td class="table-date-answer">
            <div class="list-item-date-answer">{{ item.answer_date }}</div>
          </td>
          <td class="table-status">{{ item.status_label }}</td>
          <td class="table-actions">
            <div @click="operationAccept(item.id)" v-if="['set'].indexOf(item.status_id) !== -1" class="list-item-operation operation-accept">Прийняти</div>
            <div @click="clarification(item)" v-if="['set', 'accepted', 'clarified'].indexOf(item.status_id) !== -1" class="list-item-operation operation-clarification">Відправити на уточнення</div>
            <div @click="operationReject(item.id)" v-if="['set', 'accepted', 'clarification', 'clarified'].indexOf(item.status_id) !== -1" class="list-item-operation operation-reject">Відмовитись</div>
          </td>
          <td class="table-answer unselectable">
            <div
              @click="edit(item)"
              v-if="['viewed', 'answered', 'placed', 'clarification'].indexOf(item.status_id) == -1"
              :class="{disabled: ['accepted', 'clarification', 'clarified'].indexOf(item.status_id) == -1 }"
              class="list-item-answer-action"
            >Надати відповідь</div>
            <div v-if="item.status_id == 'clarification'" class="list-item-view-clarification">Переглянути уточнення</div>
            <div
              @click="view(item)"
              v-if="['viewed', 'answered', 'placed'].indexOf(item.status_id) !== -1"
              class="list-item-view-action"
            >Переглянути відповідь</div>
            <div class="clarificationHtml" v-html="item.clarification"></div>
          </td>
        </tr>
      </tbody>
    </table>
    <Pager :total="totalCount" :page="page" :ipp="itemsPerPage" />
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations, mapActions } from 'vuex';
import ClarificationScreen from '../components/ClarificationScreen.vue'
import EditScreen from '../components/EditScreen.vue'
import ViewScreen from '../components/ViewScreen.vue'
import { isEqual as _isEqual, isEmpty as _isEmpty} from 'underscore';
import qs from 'qs';
import axios from 'axios'
import Pager from '../components/Pager.vue'

export default {

  data: () => {
    return {
      command: 'getConsultationsExpertList',
      selectedItem: {},
      list: [],
      activated: false,
      itemsPerPage: 16,
      totalCount: 0,
      page: 0,
      debounceTimer: null,
      highlightFilters: {},
      searchType: 0,
      showClarification: false,
      showEdit: false,
      showView: false
    }
  },

  components: {
    ClarificationScreen,
    EditScreen,
    ViewScreen,
    Pager
  },

  mounted () {
    this.setTitle('Запити на відповіді');
    if ( !this.loadParams() || !this.activated ) {
      this.getList()
    }
  },

  computed: {

    ...mapState([
      'searchParams',
      'searchKey',
      'modules',
    ]),

    ...mapGetters([
      'currentFiltersIds'
    ]),

    name() {
      return this.$router.currentRoute.value.name;
    },

    filters() {
      return {
        themes: this.currentFiltersIds,
        key: this.searchKey,
        new_type: this.searchType
      }
    },

    params() {
      return {
        page: this.page,
        filters: this.filters
      }
    },

  },

  watch:{

    params: {
      deep: true,
      handler(after, before) {
        if ( after.page !== before.page || after.page == 0 ) {
          let savedParams = this.searchParams[this.name]
          if ( !_isEqual ( after, before ) && this.activated ) {
            if ( _isEmpty(savedParams) ) {
              this.getList()
            } else {
              if ( this.debounceTimer ) {
                clearTimeout(this.debounceTimer)
              }
              this.debounceTimer = setTimeout(
                ()=>{
                  this.getList()
                }, 300
              )
            }
          }
        } else {
          this.page = 0
        }
      }
    },

    showView() {
      if ( this.showView ) {
        this.blockScreenScroll()
      } else {
        this.unBlockScreenScroll()
      }
    },

    showEdit() {
      if ( this.showEdit ) {
        this.blockScreenScroll()
      } else {
        this.unBlockScreenScroll()
      }
    }

  },

  methods: {

    ...mapMutations([
      'startLoading',
      'finishLoading',
      'setTitle',
      'saveSearchParams',
      'blockScreenScroll',
      'unBlockScreenScroll'
    ]),

    ...mapActions([
      'checkNewConsultations'
    ]),

    highlight(str) {
      return this.$parent.$parent.highlight(str, this.highlightFilters)
    },

    clarification(item) {
      this.selectedItem = item
      this.showClarification = true
    },

    edit(item) {
      this.selectedItem = item
      this.showEdit = true
    },

    view(item) {
      this.selectedItem = item
      this.showView = true
    },

    loadParams(){
      let params = this.searchParams[this.name];
      if ( !this.activated && !_isEmpty(params) ) {
        this.searchType = !_isEmpty(params.filters) ? params.filters.new_type : this.searchType
        this.page = typeof params.page !== 'undefined' ? params.page : 0
        return true
      }
      return false
    },

    pagerClick(page) {
      this.page = page
    },

    getList() {
      this.startLoading();
      axios.post('/system/request/' +  this.command,
      qs.stringify( { params: JSON.stringify(this.params) } ),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.activated = true
        this.finishLoading()
        this.totalCount = response.data.data.totalCount
        this.itemsPerPage = response.data.data.itemsPerPage
        this.list = response.data.data.list
        this.highlightFilters = response.data.data.filters
        this.saveSearchParams({ params: this.params, name: this.name})
        this.$parent.$parent.scrollTo('html')
        this.checkNewConsultations()
      })

    },

    operationAccept(id) {
      let params = { cid: id, status: 'accepted' }
      axios.post('/system/request/setStatus',
        qs.stringify( { params: JSON.stringify(params) } ),
        {
          emulateJSON: true,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
          }
        }
      ).then((response) => {
        this.finishLoading()
        this.getList()
      })

    },

    operationReject(id) {
      let params = { cid: id, status: 'rejected' }
      axios.post('/system/request/setStatus',
        qs.stringify( { params: JSON.stringify(params) } ),
        {
          emulateJSON: true,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
          }
        }
      ).then((response) => {
        this.finishLoading()
        this.getList()
      })

    }

  }

}

</script>

<style lang="scss" scoped>
  @import '../styles/_fonts.scss';
  @import '../styles/_colors.scss';

  .items {
		margin: 0;

		.item {
			width: 705px;
			display: block;
			margin: 0 0 40px;

			.title {
				font-size: 20px;
				font-family: $font-bold;
			}

      .date {
        font-size: 14px;
        color: #ec520b;
				font-family: $font-medium;
        margin-bottom: 10px;
			}

			.item-type {
        font-size: 12px;
				font-family: $font-regular;
				color: #797979;
			}

      .favorite {
        font-size: 20px;
        color: #f15b62;
        margin-right: 15px;
        vertical-align: middle;
        display: inline-block;
      }

      .file {
        font-size: 20px;
        color: #f15b62;
        margin-right: 15px;
        vertical-align: middle;
        display: inline-block;
      }

      .download-link {
				margin-top: 5px;
        display: inline-block;

        .icon {
          background-color: #ebedf1;
          width: 31px;
          height: 31px;
          display: inline-block;
          border-radius: 16px;
          margin-right: 15px;
          font-size: 14px;
          line-height: 31px;
          text-align: center;
          vertical-align: middle;
        }

        .download-label {
          color: #5f6368;
          font-size: 14px;
          vertical-align: middle;
          text-decoration: underline;
        }

      }

      .bottom-part {
        padding-top: 15px;
        display: table;
        width: 100%;
      }

      .photo-wrapper {
        vertical-align: middle;
        text-align: left;
        padding-right: 15px;
        display: inline-block;
      }

      .photo {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        display: inline-block;
      }

      .expert-info {
        vertical-align: middle;
        padding-right: 15px;
        display: inline-block;

        .expert-info-name {
          font-family: $font-bold;
          font-size: 13px;
          color: #333;
        }

        .expert-info-position {
          font-family: $font-regular;
          font-size: 13px;
          color: #333;
        }

      }

		}

	}

  .expert-consultaions-list {
    border-collapse: collapse;
    width: 100%;

    tr {

      th {
        border: 1px solid #d1d6dd;
        background-color: #f5f6f8;
        padding: 10px;
        text-align: center;
        color: #58646c;
        font-family: $font-medium;
        font-size: 14px;
        font-weight: normal;
      }

      td {
        border: 1px solid #d1d6dd;
        padding: 35px 32px;
      }

    }

    .table-date,
    .table-date-answer,
    .table-actions {
      text-align: center;
    }

    &.expert-archive {

      .table-question {
        width: 300px;
      }

      .table-answer {
        width: 600px;
      }

    }

    .table-question {
      width: 700px;

      ul {
        padding-left: 20px;
        list-style-position: inside;
        list-style-type: disc;
      }

    }

    .table-answer {
      width: 200px;
    }

    .table-date {
      width: 60px;
    }

    .list-item-date {
      font-family: $font-regular;
      font-size: 13px;
      color: #8c9297;
    }

    .list-item-date-answer {
      font-family: $font-regular;
      font-size: 13px;
      color: $color-red;
    }

    .list-item-status {
      margin-top: 8px;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      display: inline-block;

      &.list-item-status-ready {
        background-color: #b4d435;
      }

      &.list-item-status-progress {
        background-color: $color-red;
      }

    }

    .list-item-question {
      font-family: $font-regular;
      font-size: 16px;
      color: #000;

      .user-file {
        margin-top: 20px;
        color: $color-red;

        a {
          color: #000;
        }

      }

    }

    .list-item-operation {
      font-family: $font-regular;
      font-size: 13px;
      color: #333;
      margin-top: 13px;
      white-space: nowrap;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $color-red;
      }

      &:first-child {
        margin-top: 0;
      }

    }

    .list-item-answer-action {
      box-sizing: border-box;
      text-align: center;
      border: 1px solid $color-red;
      background-color: #fff;
      padding: 14px 0;
      font-family: $font-medium;
      font-size: 14px;
      color: #000;
      min-width: 200px;
      cursor: pointer;
      transition: all 0.15s ease-in;

      &:hover {
        background-color: $color-red;
        color: #fff;
        transition: all 0.15s ease-out;
      }

      &.disabled {
        opacity: 0.6;
        border: 1px solid #d1d6dd;
        background-color: #fff;
        color: #ccc;
        cursor: default;
      }

    }

    .list-item-view-action {
      box-sizing: border-box;
      text-align: center;
      border: 1px solid #d1d6dd;
      padding: 14px 0;
      font-family: $font-medium;
      font-size: 14px;
      color: #000;
      min-width: 200px;
      cursor: pointer;
      transition: all 0.15s ease-in;

      &:hover {
        background-color: #d1d6dd;
        transition: all 0.15s ease-out;
      }

    }

    .clarificationHtml {
      display: none;
    }

    .list-item-view-clarification {
      box-sizing: border-box;
      text-align: center;
      border: 1px solid #d1d6dd;
      padding: 14px 0;
      font-family: $font-medium;
      font-size: 14px;
      color: #000;
      min-width: 200px;
      cursor: pointer;
      transition: all 0.15s ease-in;

      &:hover {
        background-color: #d1d6dd;
        transition: all 0.15s ease-out;
      }

    }
    .list-item-view-clarification-link {
      text-align: left;
      margin-top: 15px;
      font-family: $font-medium;
      text-decoration: underline;
      font-size: 12px;
      color: #000;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }

    }

  }

</style>