<template>
  <div :class="'module-' + name" class="module-window clearfix">
    <div class="module-filters">
      <div class="module-filter module-filter-select">
        <Multiselect :classes="classes" v-model="time_range" mode="single" valueProp="id" placeholder="Весь час" :options="ranges"></Multiselect>
      </div>
    </div>
    <div class="items">
      <div v-for="item in list" :data-cid="item.id" class="item clearfix" v-bind:key="item.id">
        <div class="date">{{ item.created }}</div>
        <div class="top-part">
          <router-link :to="item.url" class="title" v-html="highlight(item.title)"></router-link>
          <div class="icons-wrapper">
            <span v-if="item.file" class="file icon-clip"></span>
            <span v-if="item.favorite" class="favorite icon-save"></span>
          </div>
          <div v-if="item.expert.fio" class="bottom-part">
            <div class="photo-wrapper">
              <img v-if="item.expert.photo" class="photo" :src="item.expert.photo"/>
            </div>
            <div class="expert-info">
              <div class="expert-info-name">{{ item.expert.fio }},</div>
              <div class="expert-info-position">{{ item.expert.position }}</div>
            </div>
            <!-- <div v-if="item.rate" class="list-item-rate">
              <span v-for="i in [...Array(5)]" :class="'icon-star' + ( i + 1 > item.rate ? '-empty' : '' )" :key="i" class="icon"></span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <Pager :total="totalCount" :page="page" :ipp="itemsPerPage" />
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import { isEqual as _isEqual, isEmpty as _isEmpty} from 'underscore';
import qs from 'qs';
import axios from 'axios'
import Pager from '../components/Pager.vue'
import Multiselect from '@vueform/multiselect'

export default {

  data: () => {
    return {
      classes: {
        caret: 'multiselect-caret icon-down'
      },
      command: 'getConsultationsList',
      time_range: null,
      ranges: [
        { id: 'year', label: 'Останній рік' },
        { id: 'half', label: 'Останні півроку' },
        { id: 'month', label: 'Останній місяць' },
        { id: 'week', label: 'Останній тиждень' },
        { id: 'today', label: 'Сьогодні' },
      ],
      list: [],
      activated: false,
      itemsPerPage: 16,
      totalCount: 0,
      page: 0,
      debounceTimer: null,
      highlightFilters: {},
      searchType: 0
    }
  },

  components: {
    Multiselect,
    Pager,
  },

  mounted () {
    this.setTitle(this.modules[this.name].name);
    if ( !this.loadParams() || !this.activated ) {
      this.getList()
    }
  },

  computed: {

    ...mapState([
      'searchParams',
      'searchKey',
      'modules',
    ]),

    ...mapGetters([
      'currentFiltersIds'
    ]),

    name() {
      return this.$router.currentRoute.value.name;
    },

    filters() {
      return {
        themes: this.currentFiltersIds,
        key: this.searchKey,
        time_range: this.time_range,
        new_type: this.searchType
      }
    },

    params() {
      return {
        page: this.page,
        filters: this.filters
      }
    },

  },

  watch:{

    params: {
      deep: true,
      handler(after, before) {
        if ( after.page !== before.page || after.page == 0 ) {
          let savedParams = this.searchParams[this.name]
          if ( !_isEqual ( after, before ) && this.activated ) {
            if ( _isEmpty(savedParams) ) {
              this.getList()
            } else {
              if ( this.debounceTimer ) {
                clearTimeout(this.debounceTimer)
              }
              this.debounceTimer = setTimeout(
                ()=>{
                  this.getList()
                }, 300
              )
            }
          }
        } else {
          this.page = 0
        }
      }
    }

  },

  methods: {

    highlight(str) {
      return this.$parent.$parent.highlight(str, this.highlightFilters)
    },

    ...mapMutations([
      'startLoading',
      'finishLoading',
      'setTitle',
      'saveSearchParams',
    ]),

    loadParams(){
      let params = this.searchParams[this.name];
      if ( !this.activated && !_isEmpty(params) ) {
        this.searchType = !_isEmpty(params.filters) ? params.filters.new_type : this.searchType
        this.time_range = !_isEmpty(params.filters) && !_isEmpty(params.filters.time_range) ? params.filters.time_range : this.time_range
        this.page = typeof params.page !== 'undefined' ? params.page : 0
        return true
      }
      return false
    },

    pagerClick(page) {
      this.page = page
    },

    getList() {
      this.startLoading();
      axios.post('/system/request/' +  this.command,
      qs.stringify( { params: JSON.stringify(this.params) } ),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.activated = true
        this.finishLoading();
        this.totalCount = response.data.data.totalCount
        this.itemsPerPage = response.data.data.itemsPerPage
        this.list = response.data.data.list
        this.highlightFilters = response.data.data.filters
        this.saveSearchParams({ params: this.params, name: this.name})
        this.$parent.$parent.scrollTo('html')
      })

    },

  }

}

</script>

<style lang="scss" scoped>
  @import '../styles/_fonts.scss';
  .module-filter {
    margin-right: 10px;
    margin-bottom: 20px;
    vertical-align: top;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }

  }

  .module-filter-select {
    width: 200px;
    display: inline-block;
  }

  .items {
		margin: 0;

		.item {
			max-width: 705px;
			display: block;
			margin: 0 0 40px;

			.title {
				font-size: 20px;
				font-family: $font-bold;
			}

     .date {
        font-size: 14px;
        color: #ec520b;
				font-family: $font-medium;
        margin-bottom: 10px;
			}

			.item-type {
        font-size: 12px;
				font-family: $font-regular;
				color: #797979;
			}

      .favorite {
        font-size: 20px;
        color: #f15b62;
        margin-right: 15px;
        vertical-align: middle;
        display: inline-block;
      }

      .file {
        font-size: 20px;
        color: #f15b62;
        margin-right: 15px;
        vertical-align: middle;
        display: inline-block;
      }

      .download-link {
				margin-top: 5px;
        display: inline-block;

        .icon {
          background-color: #ebedf1;
          width: 31px;
          height: 31px;
          display: inline-block;
          border-radius: 16px;
          margin-right: 15px;
          font-size: 14px;
          line-height: 31px;
          text-align: center;
          vertical-align: middle;
        }

        .download-label {
          color: #5f6368;
          font-size: 14px;
          vertical-align: middle;
          text-decoration: underline;
        }

      }

      .bottom-part {
        padding-top: 15px;
        display: table;
        width: 100%;
      }

      .photo-wrapper {
        vertical-align: middle;
        text-align: left;
        padding-right: 15px;
        display: inline-block;
      }

      .photo {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        display: inline-block;
      }

      .expert-info {
        vertical-align: middle;
        padding-right: 15px;
        display: inline-block;

        .expert-info-name {
          font-family: $font-bold;
          font-size: 13px;
          color: #333;
        }

        .expert-info-position {
          font-family: $font-regular;
          font-size: 13px;
          color: #333;
        }

      }

		}

	}

</style>
