<template>
  <div class="module-window module-consultations clearfix">
    <Breadcrumb moduleName="consultations" :title="item.title" />
    <div class="item-content">
      <Buttons :item="item" v-if="isAuthenticatedUser && !isExpert && !is_loading && item" />
      <div class="item-date">{{ item.created }}</div>
      <div v-if="canEditMaterials" class="edit-link"><a :href="'/node/' + item.id + '/edit?destination=' + item.url">редагувати</a></div>
      <h1 class="item-title" v-html="item.question"></h1>
      <div class="item-html-wrapper">
        <div class="item-html" :class="{ shadowed: (!hasAccess && !is_loading) || isExpert }" v-html="item.answer"></div>
        <div v-if="item.file_expert && item.file_expert.name && item.file_expert.uri && item.file_expert.name.length && item.file_expert.uri.length" class="file-wrapper">
          <div class="consultation-file-label"><i class="icon-clip"></i>Прикріплений файл:</div>
          <a class="consultation-file" :href="item.file_expert.uri">
            <span class="file-icon-wrapper">
              <span class="icon-document"><span class="file-ext">.{{ item.file_expert.type }}</span></span>
            </span>
            <span class="file-name">{{ item.file_expert.name }}</span>
            <span class="file-size">{{ item.file_expert.size }} KB</span>
          </a>
        </div>
      </div>
      <Auth v-if="!hasAccess && !is_loading" :destination="destination" />
    </div>
    <div class="item-sidebar">
      <Expert v-if="item.expert && item.expert.fio" :expert="item.expert"/>
      <Topics :topics="item.topics"/>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex';
import Topics from '../components/Topics.vue'
import Expert from '../components/Expert.vue'
import Auth from '../components/Auth.vue'
import Breadcrumb from '../components/Breadcrumb.vue'
import Buttons from '../components/Buttons.vue'
import { mapMutations } from 'vuex';
import { mapGetters } from 'vuex';
import qs from 'qs';
import axios from 'axios'

export default {

  components: {
    Buttons,
    Auth,
    Topics,
    Breadcrumb,
    Expert
  },

  data: () => {
    return {
      nid: 0,
      hasAccess: false,
      item: {},
      destination: '',
      is_loading: false,
      activated: false,
      visible: false
    }
  },

  mounted () {
    this.activate()
  },

  watch: {

    '$route.params': {
      handler(params) {
        if ( typeof params.id !== 'undefined' ) {
          this.nid = params.id.split('-')[0]
        } else {
          this.nid = 0
        }
      },
      deep: true,
      immediate: true
    },

    '$route': {
      handler(route) {
        this.destination = route.fullPath
      },
      deep: true,
      immediate: true
    },

    nid () {
      if ( this.nid ) {
        this.getItem()
      }
    }

  },

  computed: {

    ...mapState([
      'activeModule',
      'title',
    ]),

    ...mapGetters([
      'canEditMaterials',
      'isAuthenticatedUser',
      'isExpert'
    ]),

    activeModule() {
      return this.$router.currentRoute.value.name;
    }

  },

  methods: {

    ...mapMutations([
      'setTitle'
    ]),

    activate() {
      this.setTitle('Онлайн консультації');
      if ( this.activeModule == 'consultation' && !this.activated ) {
        this.activated = true
        this.visible = true
        this.getItem()
      }
    },

    getItem() {
      this.is_loading = true
      axios.post('/system/request/getConsultation',
      qs.stringify({ params: JSON.stringify({ id: this.nid }) }),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.hasAccess = response.data.error !== 200 && this.isAuthenticatedUser
        this.is_loading = false
        this.item = response.data.data
      })

    },

  }

}

</script>

<style lang="scss" scoped>
</style>