<template>
  <div :class="'module-' + name" class="module-window clearfix">
    <div class="module-filters">
      <div class="examples-filter example-type-filter examples-filter-select select-width-full">
        <Multiselect :classes="classes" v-model="example_type" mode="single" valueProp="id" placeholder="Тип документа" :options="example_types"></Multiselect>
      </div>
      <span class="examples-filter example-with-example-filter">
        <label class="radio-option"><input v-model="with_example" type="radio" name="with_example" value="1"/><span class="radio-button"></span><span class="radio-label">Зі зразком заповнення</span></label>
        <label class="radio-option"><input v-model="with_example" type="radio" name="with_example" value="2"/><span class="radio-button"></span><span class="radio-label">Без зразка заповнення</span></label>
        <label class="radio-option"><input v-model="with_example" type="radio" checked="checked" name="with_example" value="3"/><span class="radio-button"></span><span class="radio-label">Всі</span></label>
      </span>
    </div>
    <div class="items">
      <div v-for="item in list" :data-cid="item.id" class="item clearfix" v-bind:key="item.id">
        <div class="item-date">{{ item.changed }}</div>
        <router-link :to="item.url" class="item-title" v-html="highlight(item.title)"></router-link><span class="with-example-label" v-if="item.with_example"> (зі зразком заповнення)</span>
        <div class="item-type">{{ item.example_type }}</div>
        <component @click="fileClick(item)" :is="item.file == 'demo' ? 'span' : 'a'" :href="item.file" class="download-link" v-if="item.file.length">
          <i class="icon icon-download"></i><span class="download-label">Завантажити</span>
        </component>
      </div>
    </div>
    <Pager :total="totalCount" :page="page" :ipp="itemsPerPage" />
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import { isEqual as _isEqual, isEmpty as _isEmpty} from 'underscore';
import qs from 'qs';
import axios from 'axios'
import Pager from '../components/Pager.vue'
import Multiselect from '@vueform/multiselect'

export default {

  data: () => {
    return {
      command: 'getExamplesList',
      classes: {
        caret: 'multiselect-caret icon-down'
      },
      example_type: null,
      with_example: 3,
      list: [],
      activated: false,
      itemsPerPage: 16,
      totalCount: 0,
      page: 0,
      debounceTimer: null,
      highlightFilters: {},
      searchType: 0
    }
  },

  components: {
    Multiselect,
    Pager
  },

  mounted () {
    this.setTitle(this.modules[this.name].name);
    if ( !this.loadParams() || !this.activated ) {
      this.getList()
    }
  },

  computed: {

    ...mapState([
      'example_types',
      'searchParams',
      'searchKey',
      'modules',
    ]),

    ...mapGetters([
      'currentFiltersIds'
    ]),

    name() {
      return this.$router.currentRoute.value.name;
    },

    filters() {
      return {
        themes: this.currentFiltersIds,
        key: this.searchKey,
        example_type: this.example_type,
        with_example: this.with_example
      }
    },

    params() {
      return {
        page: this.page,
        filters: this.filters
      }
    },

  },

  watch:{

    params: {
      deep: true,
      handler(after, before) {
        if ( after.page !== before.page || after.page == 0 ) {
          let savedParams = this.searchParams[this.name]
          if ( !_isEqual ( after, before ) && this.activated ) {
            if ( _isEmpty(savedParams) ) {
              this.getList()
            } else {
              if ( this.debounceTimer ) {
                clearTimeout(this.debounceTimer)
              }
              this.debounceTimer = setTimeout(
                ()=>{
                  this.getList()
                }, 300
              )
            }
          }
        } else {
          this.page = 0
        }
      }
    }

  },

  methods: {

    fileClick(item) {
      if ( item.file == 'demo' ) {
        this.showLoginScreen()
      }
    },

    highlight(str) {
      return this.$parent.$parent.highlight(str, this.highlightFilters)
    },

    ...mapMutations([
      'showLoginScreen',
      'startLoading',
      'finishLoading',
      'setTitle',
      'saveSearchParams',
    ]),

    loadParams(){
      let params = this.searchParams[this.name];
      if ( !this.activated && !_isEmpty(params) ) {
        this.example_type = !_isEmpty(params.filters) && !_isEmpty(params.filters.example_type) ? params.filters.example_type : this.example_type
        this.with_example = !_isEmpty(params.filters) && !_isEmpty(params.filters.with_example) ? params.filters.with_example : this.with_example
        this.page = typeof params.page !== 'undefined' ? params.page : 0
        return true
      }
      return false
    },

    pagerClick(page) {
      this.page = page
    },

    getList() {
      this.startLoading();
      axios.post('/system/request/' +  this.command,
      qs.stringify( { params: JSON.stringify(this.params) } ),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.activated = true
        this.finishLoading();
        this.totalCount = response.data.data.totalCount
        this.itemsPerPage = response.data.data.itemsPerPage
        this.list = response.data.data.list
        this.highlightFilters = response.data.data.filters
        this.saveSearchParams({ params: this.params, name: this.name})
        this.$parent.$parent.scrollTo('html')
      })

    },

  }

}

</script>

<style lang="scss" scoped>
  @import '../styles/_fonts.scss';

  .examples-filter {
    margin-right: 10px;
    margin-bottom: 20px;
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }

  }

  .examples-filter-select {
    width: 200px;
    display: inline-block;
  }

  .items {
		margin: 0;

		.item {
			max-width: 705px;
			display: block;
			margin: 0 0 40px;

			.item-title {
				font-size: 20px;
				font-family: $font-bold;
			}

      .with-example-label {
        color: #ec520b;
      }

      .item-date {
        font-size: 14px;
        color: #ec520b;
				font-family: $font-medium;
        margin-bottom: 10px;
			}

			.item-type {
        font-size: 12px;
				font-family: $font-regular;
				color: #797979;
			}

      .download-link {
				margin-top: 5px;
        display: inline-block;
        cursor: pointer;

        .icon {
          background-color: #ebedf1;
          width: 31px;
          height: 31px;
          display: inline-block;
          border-radius: 16px;
          margin-right: 15px;
          font-size: 14px;
          line-height: 31px;
          text-align: center;
          vertical-align: middle;
        }

        .download-label {
          color: #5f6368;
          font-size: 14px;
          vertical-align: middle;
          text-decoration: underline;
        }

      }

		}

	}

</style>