<template>
  <div :class="'module-' + name" class="module-window clearfix">
    <div class="module-filters">
    </div>
    <div @click="unsaveNodes" v-if="selectedItems.length" class="list-delete-button">Видалити обрані</div>
    <div class="items">
      <div v-for="item in list" :data-cid="item.id" class="item clearfix" v-bind:key="item.id">
        <div class="date">{{ item.changed }}</div>
        <input v-model="item.selected" type="checkbox" class="checkbox"/>
        <router-link :to="item.url" class="title" v-html="highlight(item.title)"></router-link>
        <span :class="'icon-' + (item.type != 'messages' ? item.type : 'mail')" class="type-icon icon"></span>
      </div>
    </div>
    <Pager :total="totalCount" :page="page" :ipp="itemsPerPage" />
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import { isEqual as _isEqual, isEmpty as _isEmpty} from 'underscore';
import qs from 'qs';
import axios from 'axios'
import Pager from '../components/Pager.vue'

export default {

  data: () => {
    return {
      command: 'getFavoritesList',
      list: [],
      activated: false,
      itemsPerPage: 16,
      totalCount: 0,
      page: 0,
      debounceTimer: null,
      highlightFilters: {},
      searchType: 0
    }
  },

  components: {
    Pager,
  },

  mounted () {
    this.setTitle('Збережені файли');
    if ( !this.loadParams() || !this.activated ) {
      this.getList()
    }
  },

  computed: {

    ...mapState([
      'searchParams',
      'searchKey',
      'modules',
    ]),

    ...mapGetters([
      'currentFiltersIds'
    ]),

    selectedItems() {
      return this.list.filter( item => item.selected )
    },

    name() {
      return this.$router.currentRoute.value.name;
    },

    filters() {
      return {
        themes: this.currentFiltersIds,
        key: this.searchKey,
        new_type: this.searchType
      }
    },

    params() {
      return {
        page: this.page,
        filters: this.filters
      }
    },

  },

  watch:{

    params: {
      deep: true,
      handler(after, before) {
        if ( after.page !== before.page || after.page == 0 ) {
          let savedParams = this.searchParams[this.name]
          if ( !_isEqual ( after, before ) && this.activated ) {
            if ( _isEmpty(savedParams) ) {
              this.getList()
            } else {
              if ( this.debounceTimer ) {
                clearTimeout(this.debounceTimer)
              }
              this.debounceTimer = setTimeout(
                ()=>{
                  this.getList()
                }, 300
              )
            }
          }
        } else {
          this.page = 0
        }
      }
    }

  },

  methods: {

    highlight(str) {
      return this.$parent.$parent.highlight(str, this.highlightFilters)
    },

    ...mapMutations([
      'startLoading',
      'finishLoading',
      'setTitle',
      'saveSearchParams',
    ]),

    loadParams(){
      let params = this.searchParams[this.name];
      if ( !this.activated && !_isEmpty(params) ) {
        this.searchType = !_isEmpty(params.filters) ? params.filters.new_type : this.searchType
        this.page = typeof params.page !== 'undefined' ? params.page : 0
        return true
      }
      return false
    },

    pagerClick(page) {
      this.page = page
    },

    getList() {
      this.startLoading();
      axios.post('/system/request/' +  this.command,
      qs.stringify( { params: JSON.stringify(this.params) } ),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.activated = true
        this.finishLoading();
        this.totalCount = response.data.data.totalCount
        this.itemsPerPage = response.data.data.itemsPerPage
        this.list = response.data.data.list
        this.highlightFilters = response.data.data.filters
        this.saveSearchParams({ params: this.params, name: this.name})
        this.$parent.$parent.scrollTo('html')
      })
    },

    unsaveNodes() {
      this.startLoading()
      let params = {favorites: [...this.selectedItems.map( item => item.id )]}
      axios.post('/system/request/unsaveNodes',
      qs.stringify( { params: JSON.stringify(params) } ),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then(() => {
        this.activated = true
        this.finishLoading()
        this.getList()
      })
    }

  }

}

</script>

<style lang="scss" scoped>

  @import '../styles/_fonts.scss';

  .items {
		margin: 0;

		.item {
			max-width: 705px;
			display: block;
			margin: 0 0 40px;

			.checkbox {
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
			}

      .type-icon {
        float: right;
        margin-left: 15px;
        margin-top: 2px;
        font-size: 20px;
			}

			.title {
				font-size: 16px;
				font-family: $font-bold;
        display: inline-block;
        vertical-align: middle;
        max-width: 620px;
			}

      .date {
        font-size: 14px;
        color: #ec520b;
				font-family: $font-medium;
        margin-bottom: 10px;
			}

      .favorite {
        font-size: 20px;
        color: #f15b62;
        margin-right: 15px;
        vertical-align: middle;
        display: inline-block;
        margin-left: 20px;
      }

		}

	}

</style>