<template>
  <div :class="'module-' + name" class="module-window clearfix">
    <div class="home-navigation">
      <div v-if="news.length" @click="scrollToBlock($refs.news)" class="home-nav-button">Новини</div>
      <div v-if="consultations.length" @click="scrollToBlock($refs.consultations)" class="home-nav-button">Консультації</div>
      <div v-if="interviews.length" @click="scrollToBlock($refs.interviews,)" class="home-nav-button">Корисні матеріали</div>
      <div v-if="norm && norm.length" @click="scrollToBlock($refs.norm,)" class="home-nav-button">Зміни законодавства</div>
      <div v-if="examples.length" @click="scrollToBlock($refs.examples,)" class="home-nav-button">Нові зразки</div>
      <div v-if="accountinglogs.length" @click="scrollToBlock($refs.accountinglogs,)" class="home-nav-button">Нові журнали обліку</div>
      <div v-if="cribs.length" @click="scrollToBlock($refs.cribs,)" class="home-nav-button">Шпаргалки</div>
    </div>
    <div class="home-blocks">
      <div v-if="news.length" ref="news" class="home-block home-block-news">
        <div class="block-title">Новини</div>
        <router-link to="/news" class="unselectable home-block-button">Усі новини</router-link>
        <div class="content">
          <div v-for="item,i in news" :class="{demo: item.demo}" class="item clearfix">
            <div class="shadow"></div>
            <router-link :to="item.url" class="image"><img :src="i ? item.image : item.image_big" /></router-link>
            <router-link v-if="i" :to="item.url" class="title">{{ item.title }}</router-link>
            <div class="wrapper">
              <div class="date">{{ item.date }}</div>
              <router-link v-if="!i" :to="item.url" class="title">{{ item.title }}</router-link>
              <div class="type">{{ item.new_type }}</div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="consultations.length" ref="consultations" class="home-block home-block-consultations">
        <div class="block-title">Консультації</div>
        <router-link to="/consultations" class="unselectable home-block-button">Усі консультації</router-link>
        <div class="content">
          <div v-for="item,i in consultations" :class="{demo: item.demo}" class="item clearfix">
            <router-link :to="item.url" class="title">{{ item.title }}</router-link>
            <div class="icon-wrapper"><i class="icon icon-consultations"></i></div>
            <div class="date">{{ item.date }}</div>
          </div>
        </div>
      </div>
      <div v-if="norm.length" ref="norm" class="home-block home-block-norm">
        <div class="block-title">Зміни законодавства</div>
        <router-link to="/norm" class="unselectable home-block-button">Усі документи</router-link>
        <div class="content">
          <div v-for="item,i in norm" :class="{demo: item.demo}" class="item clearfix">
            <router-link :to="item.url" class="title">{{ item.title }}</router-link>
            <div :class="item.document_status" class="status">{{ item.document_status_label }}</div>
            <div class="icon-wrapper"><i class="icon icon-norm"></i></div>
            <div class="date">{{ item.date_init }}</div>
          </div>
        </div>
      </div>
      <div v-if="interviews.length" ref="interviews" class="home-block home-block-interviews">
        <div class="block-title">Корисні матеріали</div>
        <router-link to="/interviews" class="unselectable home-block-button">Усі матеріали</router-link>
        <div class="content">
          <div v-for="item,i in interviews" :class="{demo: item.demo}" class="item clearfix">
            <router-link :to="item.url" class="title">{{ item.title }}</router-link>
            <div class="text-sample" v-html="item.text"></div>
            <div class="icon-wrapper"><i class="icon icon-interviews"></i></div>
            <div class="date">{{ item.date }}</div>
          </div>
        </div>
      </div>
      <div v-if="examples.length" ref="examples" class="home-block home-block-examples">
        <div class="block-title">Нові зразки документів</div>
        <router-link to="/examples" class="unselectable home-block-button">Усі зразки</router-link>
        <div class="content">
          <div v-for="item,i in examples" :class="{demo: item.demo}" class="item clearfix">
            <router-link :to="item.url" class="title">{{ item.title }}</router-link>
            <div class="icon-wrapper"><i class="icon icon-examples"></i></div>
            <div class="date">{{ item.date }}</div>
          </div>
        </div>
      </div>
      <div v-if="accountinglogs.length" ref="accountinglogs" class="home-block home-block-accountinglogs">
        <div class="block-title">Нові журнали обліку</div>
        <router-link to="/accountinglogs" class="unselectable home-block-button">Усі журнали обліку</router-link>
        <div class="content">
          <div v-for="item,i in accountinglogs" :class="{demo: item.demo}" class="item clearfix">
            <router-link :to="item.url" class="title">{{ item.title }}</router-link>
            <div class="icon-wrapper"><i class="icon icon-accountinglogs"></i></div>
            <div class="date">{{ item.date }}</div>
          </div>
        </div>
      </div>
      <div ref="cribs" v-for="item in cribs" :class="{demo: item.demo}" class="item clearfix">
        <div :style="'background: center / cover no-repeat transparent url(' + ( item.image && item.image.length ? item.image : '/themes/konsultant_v3/images/default-crib.png' ) + ')'" class="home-block home-block-cribs">
          <div class="content">
            <div class="block-title"><img :src="system_logo_crib" /><span class="block-title-text">Шпаргалка</span></div>
            <router-link :to="item.url" class="title">{{ item.title }}</router-link>
            <router-link to="/cribs" class="unselectable home-block-button">Усі шпаргалки</router-link>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import { isEqual as _isEqual, isEmpty as _isEmpty} from 'underscore';
import qs from 'qs';
import axios from 'axios'
import Pager from '../components/Pager.vue'

export default {

  data: () => {
    return {
      command: 'getHomeBlocks',
      news: [],
      consultations: [],
      norm: [],
      interviews: [],
      examples: [],
      accountinglogs: [],
      cribs: [],
    }
  },

  components: {
    Pager,
  },

  mounted () {
    this.setTitle(`Електронна система ${this.system.html_name}`);
    this.getBlocks()
  },

  computed: {

    ...mapState([
      'system',
      'searchKey',
      'modules',
      'system_logo_crib'
    ]),

    ...mapGetters([
      'currentFiltersIds'
    ]),

    filters() {
      return {
        themes: this.currentFiltersIds,
        key: this.searchKey,
      }
    },

    name() {
      return this.$router.currentRoute.value.name;
    },

  },

  watch:{

    filters: {
      deep: true,
      handler() {
        this.$router.push('/search')
      }
    }

  },

  methods: {

    scrollToBlock(el) {
      el.scrollIntoView({behavior: 'smooth'});
    },

    ...mapMutations([
      'startLoading',
      'finishLoading',
      'setTitle'
    ]),

    getBlocks() {
      this.startLoading();
      axios.post('/system/request/' +  this.command,
      qs.stringify( { params: JSON.stringify(this.params) } ),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
        }
      }
      ).then((response) => {
        this.activated = true
        this.finishLoading();
        this.news = response.data.data.news
        this.consultations = response.data.data.consultations
        this.norm = response.data.data.norm
        this.interviews = response.data.data.interviews
        this.examples = response.data.data.examples
        this.accountinglogs = response.data.data.accountinglogs
        this.cribs = response.data.data.cribs
        this.$parent.$parent.scrollTo('html')
      })

    },

  }

}

</script>

<style lang="scss" scoped>

  @import '../styles/_fonts.scss';

  .home-nav-button {
    height: 36px;
    line-height: 36px;
    border: #cfd0d4 1px solid;
    border-radius: 20px;
    padding: 0 25px;
    background-color: #fff;
    transition: all 0.1s linear;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;

    &:hover {
      background-color: #f1f1f1;
      transition: all 0.1s linear;
    }

    &.active {
      background-color: #fff;
      transition: all 0.1s linear;
      border: #eb510b 1px solid;
      cursor: default;
    }

  }

    .block-title {
    color: #202124;
    font-size: 24px;
    font-family: $font-bold;
    margin-bottom: 35px;
  }

  .home-block-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    color: #202124;
    font-size: 14px;
    background-color: #eff1f4;
    border-radius: 6px;
    font-family: $font-medium;
    line-height: 1;

    &:hover {
      text-decoration: none;
    }

  }

  .home-block {
    position: relative;
    margin-bottom: 30px;
  }

  .home-block-cribs {
    max-width: 1410px;
    height: 420px;
    border-radius: 15px;
    padding: 65px 75px;
    box-sizing: border-box;

    .block-title {
      color: #3c4043;
      font-size: 21px;

      img {
        margin-right: 5px;
      }

    }

    .home-block-button {
      position: static;
      display: inline-block;
      background-color: #e2e5ea;
    }

    .content {
      width: 50%;

      .title {
        font-size: 24px;
        font-family: $font-black;
        display: block;
        margin-bottom: 35px;
        max-height: 175px;
        overflow-y: hidden;
      }

    }

  }

  .home-block-news {

    .content {
      margin: 0 -15px;
    }

    .item {
      display: inline-block;
      height: 410px;
      width: 330px;
      margin: 0 15px 30px;
      vertical-align: top;
      position: relative;
      overflow: hidden;

      .image {
        display: block;
        width: 100%;
        margin-bottom: 10px;

        img {
          width: 100%;
          max-height: 410px;
          border-radius: 15px;
          display: block;
        }

      }

      .title {
        color: #202124;
        font-size: 18px;
        font-family: $font-bold;
      }

      .date {
        color: #202124;
        font-size: 12px;
        font-family: $font-medium;
      }

      .type {
        color: #797979;
        font-size: 12px;
        font-family: $font-regular;
      }

      .wrapper {
        position: absolute;
        bottom: 0;
      }

      @media (min-width: 731px) {

        &:first-child {
          width: 690px;
          padding: 53px 25px 25px;
          box-sizing: border-box;

          .image {
            margin-bottom: 0;
            position: absolute;
            top: 0;
            left: 0;
          }

          .title {
            color: #fff;
            font-size: 24px;
            font-family: $font-bold;
            position: relative;
            z-index: 2;
            display: inline-block;
            margin-bottom: 5px;
          }

          .shadow {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #151b27;
            opacity: 0.5;
            z-index: 1;
            border-radius: 15px;
            pointer-events: none;
          }

          .date {
            color: #fff;
            font-size: 16px;
            line-height: 1.5;
            left: 0;
          }

          .type {
            color: #fff;
          }

          .wrapper {
            z-index: 2;
            position: absolute;
            bottom: 25px;
            left: 27px;
            right: 40px;
          }

        }

      }

    }

  }

  .home-block-consultations {

    .content {
      margin: 0 -15px;
    }

    .item {
      display: inline-block;
      height: 287px;
      width: 330px;
      margin: 0 15px 30px;
      vertical-align: top;
      position: relative;
      overflow: hidden;
      background: #fff1e9;
      border-radius: 15px;
      padding: 25px;
      box-sizing: border-box;

      .title {
        color: #202124;
        font-size: 18px;
        font-family: $font-bold;
      }

      .icon-wrapper {
        position: absolute;
        bottom: 35px;
        left: 25px;
        width: 31px;
        height: 31px;
        border-radius: 16px;
        line-height: 31px;
        text-align: center;
        background-color: #202124;

        .icon {
          font-size: 16px;
          color: #fff;
          line-height: 1;
          vertical-align: middle;
        }

      }

      .date {
        color: #202124;
        font-size: 12px;
        font-family: $font-medium;
        position: absolute;
        bottom: 40px;
        right: 25px;
      }

      &:first-child {
        background: rgb(255,243,215);
        background: linear-gradient(135deg, rgba(255,243,215,1) 0%, rgba(255,217,215,1) 100%);
        width: 690px;

        .title {
          font-size: 22px;
          font-family: $font-bold;
        }

        .shadow {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #151b27;
          opacity: 0.5;
          z-index: 1;
          border-radius: 15px;
        }

        .wrapper {
          z-index: 2;
          position: absolute;
          bottom: 40px;
          left: 40px;
          right: 40px;
        }

      }

    }

  }

  .home-block-norm {

    .content {
      margin: 0 -15px;
    }

    .item {
      display: inline-block;
      height: 287px;
      width: 330px;
      margin: 0 15px 30px;
      vertical-align: top;
      position: relative;
      overflow: hidden;
      background: #eaf0ed;
      border-radius: 15px;
      padding: 25px;
      box-sizing: border-box;

      .status {
        margin-top: 3px;

        &.valid {
          color: #89ab03;
        }

        &.comes_valid {
          color: #67a591;
        }

        &.not_valid_yet {
          color: #45b2f8;
        }

        &.canceled {
          color: #a14b52;
        }

        &.partially_invalid {
          color: #f89191;
        }

        &.invalid {
          color: #f15b62;
        }

      }

      .title {
        color: #202124;
        font-size: 18px;
        font-family: $font-bold;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        max-height: 154px;
        overflow: hidden;
      }

      .icon-wrapper {
        position: absolute;
        bottom: 35px;
        left: 25px;
        width: 31px;
        height: 31px;
        border-radius: 16px;
        line-height: 31px;
        text-align: center;
        background-color: #202124;

        .icon {
          font-size: 16px;
          color: #fff;
          line-height: 1;
          vertical-align: middle;
        }

      }

      .date {
        color: #202124;
        font-size: 12px;
        font-family: $font-medium;
        position: absolute;
        bottom: 40px;
        right: 25px;
      }

    }

  }

  .home-block-interviews {

    .content {
      margin: 0 -15px;
    }

    .item {
      display: inline-block;
      height: 421px;
      width: 330px;
      margin: 0 15px 30px;
      vertical-align: top;
      position: relative;
      overflow: hidden;
      background: #f5f6f8;
      border-radius: 15px;
      padding: 25px;
      box-sizing: border-box;

      .title {
        color: #202124;
        font-size: 18px;
        font-family: $font-bold;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        z-index: 2;
        position: relative;
      }

      .text-sample {
        margin-top: 30px;
      }

      .icon-wrapper {
        position: absolute;
        bottom: 35px;
        left: 25px;
        width: 31px;
        height: 31px;
        border-radius: 16px;
        line-height: 31px;
        text-align: center;
        background-color: #202124;
        z-index: 2;

        .icon {
          font-size: 16px;
          color: #fff;
          line-height: 1;
          vertical-align: middle;
        }

      }

      .date {
        color: #202124;
        font-size: 12px;
        font-family: $font-medium;
        position: absolute;
        bottom: 40px;
        right: 25px;
        z-index: 2;
      }

      &:first-child {
        width: 690px;

        .title {
          font-size: 22px;
        }

      }

    }

  }

  .home-block-examples {

    .content {
      margin: 0 -15px;
    }

    .item {
      display: inline-block;
      height: 287px;
      width: 330px;
      margin: 0 15px 30px;
      vertical-align: top;
      position: relative;
      overflow: hidden;
      background: #fff2ea;
      border-radius: 15px;
      padding: 25px;
      box-sizing: border-box;

      .title {
        color: #202124;
        font-size: 18px;
        font-family: $font-bold;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .icon-wrapper {
        position: absolute;
        bottom: 35px;
        left: 25px;
        width: 31px;
        height: 31px;
        border-radius: 16px;
        line-height: 31px;
        text-align: center;
        background-color: #202124;

        .icon {
          font-size: 16px;
          color: #fff;
          line-height: 1;
          vertical-align: middle;
        }

      }

      .date {
        color: #202124;
        font-size: 12px;
        font-family: $font-medium;
        position: absolute;
        bottom: 40px;
        right: 25px;
      }

    }

  }

  .home-block-accountinglogs {

    .content {
      margin: 0 -15px;
    }

    .item {
      display: inline-block;
      height: 287px;
      width: 330px;
      margin: 0 15px 30px;
      vertical-align: top;
      position: relative;
      overflow: hidden;
      background: #fff2ea;
      border-radius: 15px;
      padding: 25px;
      box-sizing: border-box;

      .title {
        color: #202124;
        font-size: 18px;
        font-family: $font-bold;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .icon-wrapper {
        position: absolute;
        bottom: 35px;
        left: 25px;
        width: 31px;
        height: 31px;
        border-radius: 16px;
        line-height: 31px;
        text-align: center;
        background-color: #202124;

        .icon {
          font-size: 16px;
          color: #fff;
          line-height: 1;
          vertical-align: middle;
        }

      }

      .date {
        color: #202124;
        font-size: 12px;
        font-family: $font-medium;
        position: absolute;
        bottom: 40px;
        right: 25px;
      }

    }

  }


</style>
