<template>
  <div class="module-window module-interviews clearfix">
    <Breadcrumb moduleName="interviews" :title="item.title" />
    <div class="item-content">
      <Buttons :item="item" v-if="isAuthenticatedUser && !isExpert && !is_loading && item" />
      <div v-if="canEditMaterials" class="edit-link"><a :href="'/node/' + item.id + '/edit?destination=' + item.url">редагувати</a></div>
      <h2 class="item-title">{{ item.title }}</h2>
      <div class="item-html-wrapper">
        <div :class="{ shadowed: (!hasAccess && !is_loading) || isExpert }" class="item-html" v-html="item.html"></div>
        <div v-if="item.interviews && item.interviews.length" v-for="interview, i in item.interviews" :key="i" :class="'interview-part-' + interview.type" class="interview-part clearfix">
          <div class="interview-person" :title="interview.type == 'question' ? ( interview.interviewer.position ? interview.interviewer.position : interviewer.position ) : ( interview.interviewee.position ? interview.interviewee.position : interviewee.position )">
            <img class="interview-person-photo" :src="interview.type == 'question' ? ( interview.interviewer.photo_78 ? interview.interviewer.photo_78 : interviewer.photo_78 ) : ( interview.interviewee.photo_78 ? interview.interviewee.photo_78 : interviewee.photo_78)"/>
            <div class="interview-part-type">{{ interview.type == 'question' ? 'Запитання' : 'Відповідає' }}</div>
            <div class="interview-person-name">{{ interview.type == 'question' ? ( interview.interviewer.fio ? interview.interviewer.fio : interviewer.fio ) : ( interview.interviewee.fio ? interview.interviewee.fio : interviewee.fio )}}</div>
          </div>
          <div class="interview-part-html">
            <div class="interview-part-html-wrapper" :class="{ shadowed: (!hasAccess && !is_loading) || isExpert }" v-html="interview.html"></div>
          </div>
        </div>
      </div>
      <Auth v-if="!hasAccess && !is_loading" :destination="destination" />
    </div>
    <div class="item-sidebar">
      <Expert v-for="interviewee in item.interviewees" :expert="interviewee"/>
      <Topics :topics="item.topics"/>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex';
import Topics from '../components/Topics.vue'
import Expert from '../components/Expert.vue'
import Auth from '../components/Auth.vue'
import Breadcrumb from '../components/Breadcrumb.vue'
import Buttons from '../components/Buttons.vue'
import { mapMutations } from 'vuex';
import { mapGetters } from 'vuex';
import qs from 'qs';
import axios from 'axios'

export default {

  components: {
    Buttons,
    Auth,
    Breadcrumb,
    Expert,
    Topics
  },

  data: () => {
    return {
      nid: 0,
      item: {},
      hasAccess: false,
      destination: '',
      is_loading: false,
      activated: false,
      visible: false
    }
  },

  mounted () {
    this.activate()
  },

  watch: {

    '$route.params': {
      handler(params) {
        if ( typeof params.id !== 'undefined' ) {
          this.nid = params.id.split('-')[0]
        } else {
          this.nid = 0
        }
      },
      deep: true,
      immediate: true
    },

    '$route': {
      handler(route) {
        this.destination = route.fullPath
      },
      deep: true,
      immediate: true
    },

    nid () {
      if ( this.nid ) {
        this.getItem()
      }
    }

  },

  computed: {

    ...mapState([
      'activeModule',
      'title',
    ]),

    ...mapGetters([
      'canEditMaterials',
      'isAuthenticatedUser',
      'isExpert',
    ]),

    activeModule() {
      return this.$router.currentRoute.value.name;
    }

  },

  methods: {

    ...mapMutations([
      'setTitle'
    ]),

    activate() {
      this.setTitle('Інтерв’ю і матеріали');
      if ( this.activeModule == 'interview' && !this.activated ) {
        this.activated = true
        this.visible = true
        this.getItem()
      }
    },

    getItem() {
      this.is_loading = true
      axios.post('/system/request/getInterview',
      qs.stringify({ params: JSON.stringify({ id: this.nid }) }),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.hasAccess = response.data.error !== 200 && this.isAuthenticatedUser
        this.is_loading = false
        this.item = response.data.data
      })

    },

  }

}

</script>

<style lang="scss" scoped>

  @import '../styles/_fonts.scss';

  .expert {
    background-color: #fff1e9;
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .photo {
    width: 90px;
    height: 90px;
    display: block;
    border-radius: 45px;
    margin-bottom: 15px;
  }

  .expert-name {
    font-family: $font-bold;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .expert-position {
		color: #5f6368;
		font-size: 13px;
		font-family: $font-regular;
    line-height: 1.5;
	}

</style>