<template>
  <div class="module-window module-messages clearfix">
    <div class="item-content">
      <Buttons :item="item" v-if="isAuthenticatedUser && !is_loading && item" />
      <h2 class="item-title">{{ item.title }}</h2>
      <div class="item-date">{{ item.changed }}</div>
       <div :class="{ shadowed: !hasAccess && !is_loading }" class="item-html-wrapper">
        <div v-if="item.html && item.html.length" class="item-html" v-html="item.html"></div>
      </div>
      <Auth v-if="!hasAccess && !is_loading" :destination="destination" />
    </div>
  </div>
</template>

<script>

import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import Topics from '../components/Topics.vue'
import Auth from '../components/Auth.vue'
import Breadcrumb from '../components/Breadcrumb.vue'
import Buttons from '../components/Buttons.vue'
import qs from 'qs';
import axios from 'axios'

export default {

  components: {
    Buttons,
    Auth,
    Breadcrumb,
    Topics
  },

  data: () => {
    return {
      nid: 0,
      item: {},
      destination: '',
      hasAccess: false,
      is_loading: false,
      activated: false,
      visible: false
    }
  },

  mounted () {
    this.activate()
  },

  watch: {

    '$route.params': {
      handler(params) {
        if ( typeof params.id !== 'undefined' ) {
          this.nid = params.id.split('-')[0]
        } else {
          this.nid = 0
        }
      },
      deep: true,
      immediate: true
    },

    '$route': {
      handler(route) {
        this.destination = route.fullPath
      },
      deep: true,
      immediate: true
    },

    nid () {
      if ( this.nid ) {
        this.getItem()
      }
    }

  },

  computed: {

    ...mapState([
      'activeModule',
      'title',
    ]),

    ...mapGetters([
      'isAuthenticatedUser'
    ]),

    activeModule() {
      return this.$router.currentRoute.value.name;
    }

  },

  methods: {

    ...mapMutations([
      'setTitle'
    ]),

    ...mapActions([
      'checkNewMessages',
    ]),

    activate() {
      this.setTitle('Мої повідомлення');
      if ( this.activeModule == 'message' && !this.activated ) {
        this.activated = true
        this.visible = true
        this.getItem()
      }
    },

    getItem() {
      this.is_loading = true
      axios.post('/system/request/getMessage',
      qs.stringify({ params: JSON.stringify({ id: this.nid }) }),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.hasAccess = response.data.error !== 200 && this.isAuthenticatedUser
        this.is_loading = false
        this.item = response.data.data
        this.checkNewMessages()
      })

    },

  }

}

</script>

<style lang="scss" scoped>

</style>