<template>
  <div class="module-window module-news clearfix">
    <Breadcrumb moduleName="news" :title="item.title" />
    <div class="item-content">
      <Buttons :item="item" v-if="isAuthenticatedUser && !is_loading && item" />
      <div class="item-type">{{ item.new_type }}</div>
      <div class="item-date">{{ item.created }}</div>
      <div v-if="canEditMaterials" class="edit-link"><a :href="'/node/' + item.id + '/edit?destination=' + item.url">редагувати</a></div>
      <h2 class="item-title">{{ item.title }}</h2>
      <div class="item-image"><img :src="item.image" /></div>
      <div class="item-html-wrapper">
        <div class="item-html" :class="{ shadowed: (!hasAccess && !is_loading) }" v-html="item.new_html"></div>
        <div v-if="item.new_source && item.new_source.length" class="new-source">Джерело: {{ item.new_source }}</div>
      </div>
      <Auth v-if="!hasAccess && !is_loading" :destination="destination" />
    </div>
    <div class="item-sidebar">
      <Topics :topics="item.topics"/>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex';
import Topics from '../components/Topics.vue'
import Auth from '../components/Auth.vue'
import Breadcrumb from '../components/Breadcrumb.vue'
import Buttons from '../components/Buttons.vue'
import { mapMutations } from 'vuex';
import { mapGetters } from 'vuex';
import qs from 'qs';
import axios from 'axios'

export default {

  components: {
    Buttons,
    Auth,
    Breadcrumb,
    Topics
  },

  data: () => {
    return {
      nid: 0,
      hasAccess: false,
      item: {},
      destination: '',
      is_loading: false,
      activated: false,
      visible: false
    }
  },

  mounted () {
    this.activate()
  },

  watch: {

    '$route.params': {
      handler(params) {
        if ( typeof params.id !== 'undefined' ) {
          this.nid = params.id.split('-')[0]
        } else {
          this.nid = 0
        }
      },
      deep: true,
      immediate: true
    },

    '$route': {
      handler(route) {
        this.destination = route.fullPath
      },
      deep: true,
      immediate: true
    },

    nid () {
      if ( this.nid ) {
        this.getItem()
      }
    }

  },

  computed: {

    ...mapState([
      'activeModule',
      'title',
    ]),

    ...mapGetters([
      'canEditMaterials',
      'isAuthenticatedUser'
    ]),

    activeModule() {
      return this.$router.currentRoute.value.name;
    }

  },

  methods: {

    ...mapMutations([
      'setTitle'
    ]),

    activate() {
      this.setTitle('Новини');
      if ( this.activeModule == 'new' && !this.activated ) {
        this.activated = true
        this.visible = true
        this.getItem()
      }
    },

    getItem() {
      this.is_loading = true
      axios.post('/system/request/getNew',
      qs.stringify({ params: JSON.stringify({ id: this.nid }) }),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.hasAccess = response.data.error !== 200 && response.data.data.hasAccess
        this.is_loading = false
        this.item = response.data.data
      })

    },

  }

}

</script>
