<template>
  <div :class="'module-' + name" class="module-window clearfix">
    <div class="module-filters">
      <div class="module-filter">
        <div @click="searchType=0" :class="{active: searchType==0}" class="module-filter-button">Всі</div>
        <div @click="searchType=type.id" :key="type.id" v-for="type in newTypes" :class="{active: searchType==type.id}" class="module-filter-button">{{ type.label }}</div>
      </div>
      <div class="module-filter module-filter-select">
        <Multiselect :classes="classes" v-model="time_range" mode="single" valueProp="id" placeholder="Весь час" :options="ranges"></Multiselect>
      </div>
    </div>
    <div class="items">
      <div v-for="item in list" :data-cid="item.id" class="item clearfix" v-bind:key="item.id">
        <router-link :to="item.url" class="item-image"><img :src="item.image"/></router-link>
        <router-link :to="item.url" class="item-title" v-html="highlight(item.title)"></router-link>
        <div class="item-date">{{ item.created }}</div>
        <div class="item-type">{{ item.new_type }}</div>
      </div>
    </div>
    <Pager :total="totalCount" :page="page" :ipp="itemsPerPage" />
    <div class="news-info">Матеріали на сторінці «Новини» системи «Ок. {{ system.name }}» містять статті сторонніх авторів.<br>
      Дані матеріали, а також коментарі до них, відображають виключно точку зору їх авторів і можуть не співпадати з точкою зору редакції.<br>
      Редакція не несе відповідальності за їх зміст.
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import { isEqual as _isEqual, isEmpty as _isEmpty} from 'underscore';
import qs from 'qs';
import axios from 'axios'
import Pager from '../components/Pager.vue'
import Multiselect from '@vueform/multiselect'

export default {

  data: () => {
    return {
      classes: {
        caret: 'multiselect-caret icon-down'
      },
      command: 'getNewsList',
      time_range: null,
      ranges: [
        { id: 'year', label: 'Останній рік' },
        { id: 'half', label: 'Останні півроку' },
        { id: 'month', label: 'Останній місяць' },
        { id: 'week', label: 'Останній тиждень' },
        { id: 'today', label: 'Сьогодні' },
      ],
      list: [],
      activated: false,
      itemsPerPage: 16,
      totalCount: 0,
      page: 0,
      debounceTimer: null,
      highlightFilters: {},
      searchType: 0
    }
  },

  components: {
    Multiselect,
    Pager
  },

  mounted () {
    this.setTitle(this.modules[this.name].name);
    if ( !this.loadParams() || !this.activated ) {
      this.getList()
    }
  },

  computed: {

    ...mapState([
      'searchParams',
      'searchKey',
      'newTypes',
      'modules',
      'system'
    ]),

    ...mapGetters([
      'currentFiltersIds'
    ]),

    name() {
      return this.$router.currentRoute.value.name;
    },

    filters() {
      return {
        themes: this.currentFiltersIds,
        key: this.searchKey,
        new_type: this.searchType,
        time_range: this.time_range
      }
    },

    params() {
      return {
        page: this.page,
        filters: this.filters
      }
    },

  },

  watch:{

    params: {
      deep: true,
      handler(after, before) {
        if ( after.page !== before.page || after.page == 0 ) {
          let savedParams = this.searchParams[this.name]
          if ( !_isEqual ( after, before ) && this.activated ) {
            if ( _isEmpty(savedParams) ) {
              this.getList()
            } else {
              if ( this.debounceTimer ) {
                clearTimeout(this.debounceTimer)
              }
              this.debounceTimer = setTimeout(
                ()=>{
                  this.getList()
                }, 300
              )
            }
          }
        } else {
          this.page = 0
        }
      }
    }

  },

  methods: {

    highlight(str) {
      return this.$parent.$parent.highlight(str, this.highlightFilters)
    },

    ...mapMutations([
      'startLoading',
      'finishLoading',
      'setTitle',
      'saveSearchParams',
    ]),

    loadParams(){
      let params = this.searchParams[this.name];
      if ( !this.activated && !_isEmpty(params) ) {
        this.searchType = !_isEmpty(params.filters) ? params.filters.new_type : this.searchType
        this.time_range = !_isEmpty(params.filters) && !_isEmpty(params.filters.time_range) ? params.filters.time_range : this.time_range
        this.page = typeof params.page !== 'undefined' ? params.page : 0
        return true
      }
      return false
    },

    pagerClick(page) {
      this.page = page
    },

    getList() {
      this.startLoading();
      axios.post('/system/request/' +  this.command,
      qs.stringify( { params: JSON.stringify(this.params) } ),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.activated = true
        this.finishLoading();
        this.totalCount = response.data.data.totalCount
        this.itemsPerPage = response.data.data.itemsPerPage
        this.list = response.data.data.list
        this.highlightFilters = response.data.data.filters
        this.saveSearchParams({ params: this.params, name: this.name})
        this.$parent.$parent.scrollTo('html')
      })

    },

  }

}

</script>

<style lang="scss" scoped>

  @import '../styles/_fonts.scss';

  .module-filter {
    margin-right: 10px;
    margin-bottom: 20px;
    vertical-align: top;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }

  }

  .module-filter-select {
    width: 200px;
    display: inline-block;
  }

  .module-filter-button {
    height: 36px;
    line-height: 36px;
    border: #cfd0d4 1px solid;
    border-radius: 20px;
    padding: 0 25px;
    background-color: #fff;
    transition: all 0.1s linear;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;

    &:hover {
      background-color: #f1f1f1;
      transition: all 0.1s linear;
    }

    &.active {
      background-color: #fff;
      transition: all 0.1s linear;
      border: #eb510b 1px solid;
      cursor: default;
    }

  }

  .items {
		margin: 0 -12px;

		.item {
			width: 330px;
			display: inline-block;
			margin: 0 12px 40px;
			vertical-align: top;

			.item-image {
				margin-bottom: 15px;
				display: block;
				width: 330px;
				min-height: 248px;

				img {
					display: block;
					width: 100%;
					border-radius: 10px;
				}

			}

			.item-title {
				font-size: 18px;
				font-family: $font-bold;
				display: -webkit-box;
				text-overflow: ellipsis;
				overflow: hidden;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				min-height: 63px;
				margin-bottom: 30px;
			}

			.item-date {
				font-size: 12px;
				font-family: $font-medium;
			}

			.item-type {
				font-size: 12px;
				font-family: $font-regular;
				color: #797979;
			}

		}

	}

</style>