<template>
  <div class="module-window module-norm clearfix">
    <Breadcrumb moduleName="norm" :title="item.title" />
    <div class="item-content">
      <Buttons :item="item" :nofav="true" v-if="isAuthenticatedUser && !is_loading && item" />
      <div v-if="item.revisions && ( item.revisions.length > 1 || ( item.revisions[0].document_date_created && item.revisions[0].document_date_created.length ) || ( item.revisions[0].document_date_valid && item.revisions[0].document_date_valid.length) )" class="revisions unselectable">
        <div :class="'revisions-label' + ( item.currentRevisionStatus == 'invalid' ? ' invalid' : '' )">Редакція:</div>
        <div class="revisions-list">
            <router-link v-for="revision in item.revisions" :key="revision.id" :to="item.url + ( revision.id ? ( '/' + revision.id ) : '' )" class="revision" :class="{ active: revision.id == item.currentRevision, 'invalid-revision' : item.currentRevisionStatus == 'invalid' }">
              {{ revision.document_date_created.length ? revision.document_date_created : ( revision.document_date_valid.length ? revision.document_date_valid : '- - - -' ) }}
            </router-link>
        </div>
      </div>
      <div v-if="item.date_created && item.date_created.length" class="date-created-label">Редакцію створено: {{ item.date_created }}</div>
      <div v-if="( !item.date_invalid || !item.date_invalid.length ) && ( item.date_valid && item.date_valid.length )"  class="date-valid-label">Редакція діє з: {{ item.date_valid }}</div>
      <div v-if="item.currentRevisionStatus == 'invalid' && item.date_invalid.length" class="date-invalid-label">Документ втратив чинність: {{ item.date_invalid }}</div>
      <div v-if="item.date_partially_invalid && item.date_partially_invalid.length" class="date-invalid-label">Документ частково втратив чинність: {{ item.date_partially_invalid}}</div>
      <div class="item-html-wrapper">
        <div v-if="item.html && item.html.length" class="item-html" :class="{ shadowed: !isAuthenticatedUser }" v-html="item.html"></div>
        <vue-pdf-embed v-if="pdf_src" :source="pdf_src" />
      </div>
      <Auth v-if="!isAuthenticatedUser && !is_loading" :destination="destination" />
    </div>
    <div class="item-sidebar">
      <Topics :topics="item.topics"/>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex';
import Topics from '../components/Topics.vue'
import Breadcrumb from '../components/Breadcrumb.vue'
import Buttons from '../components/Buttons.vue'
import { mapMutations } from 'vuex';
import { mapGetters } from 'vuex';
import qs from 'qs';
import axios from 'axios'
import Auth from '../components/Auth.vue'
import { defineAsyncComponent } from 'vue'
const VuePdfEmbed = defineAsyncComponent(() =>
  import('vue-pdf-embed')
)

export default {

  props: {
    id: Number
  },

  components: {
    Buttons,
    Auth,
    Topics,
    Breadcrumb,
    VuePdfEmbed
  },

  data: () => {
    return {
      item: {},
      pdf_src: '',
      numPages: 0,
      destination: '',
      is_loading: false,
      debounceTimer: null,
      activated: false,
      visible: false
    }
  },

  mounted () {
    this.activate()
  },

  watch: {

    '$route.params': {
      handler(params) {
        let nid = 0;
        let rev = 0;
        if ( typeof params.id !== 'undefined' ) {
          nid = params.id.split('-')[0]
        } else if ( typeof this.id !== 'undefined' ) {
          nid = this.id
        }
        if ( typeof params.rev !== 'undefined' ) {
          rev = params.rev
        }
        if ( nid ) {
          this.getItem(nid, rev)
        }
      },
      deep: true,
      immediate: true
    },

    '$route': {
      handler(route) {
        this.destination = route.fullPath
      },
      deep: true,
      immediate: true
    },

  },

  computed: {

    ...mapState([
      'activeModule',
      'title',
    ]),

    ...mapGetters([
      'isAuthenticatedUser'
    ]),

    activeModule() {
      return this.$router.currentRoute.value.name;
    }

  },

  methods: {

    ...mapMutations([
      'setTitle'
    ]),

    activate() {
      this.setTitle('Нормативна база');
    },

    scrollToHash() {
      if ( this.$route.hash && this.$route.hash.length ) {
        setTimeout(() => {
          this.$parent.$parent.scrollTo(this.$route.hash)
        }, 300)
      }
    },

    getItem(nid, rev) {
      this.is_loading = true
      axios.post('/system/request/getNorm',
      qs.stringify({ params: JSON.stringify({ id: nid, revision: rev }) }),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.is_loading = false
        this.item = response.data.data
        if ( this.item.file && this.item.file_type === 'pdf' && this.isAuthenticatedUser ) {
          this.pdf_src = this.item.file
        }
        this.scrollToHash();
      })

    },

  }

}

</script>

<style lang="scss" scoped>

  @import '../styles/_fonts.scss';
  @import '../styles/_colors.scss';

  .revisions {
		margin-bottom: 20px;

		.revisions-label {
			text-align: left;
			font-family: $font-regular;
			font-size: 14px;
      margin-bottom: 5px;

			&.invalid {
				color: $color-red;
			}

		}

		.revisions-list {
			margin: 0 -5px;
			text-align: left;

			.revision {
        border: 1px solid #f0f2f4;
        border-radius: 5px;
        line-height: 22px;
        margin: 0 5px 10px;
        width: 95px;
        text-align: center;
        display: inline-block;
        font-family: $font-medium;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.1s linear;
        color: #8c9297;
        background-color: #f5f6f8;
        text-decoration: none;
        text-align: center;

        &:hover {
          text-decoration: none;
        }

        &.active {
          background-color: #fff;
        }

        &.active.invalid-revision {
          border: 1px solid $color-red;
        }

			}

		}

	}

</style>