<template>
  <div :class="'module-' + name" class="module-window clearfix">
    <div class="module-filters">
      <div class="norm-filter norm-filter-select doc-type-filter select-width-full">
        <Multiselect :classes="classes" v-model="doc_type" mode="single" valueProp="id" placeholder="Тип документа" :options="doc_types"></Multiselect>
      </div>
      <!-- <vSelect class="norm-filter norm-filter-select doc-type-filter select-width-full" placeholder="Тип документа" :searchable="false" :filterable="false" :options="doc_types"></vSelect> -->
      <input v-model="doc_number" class="norm-filter doc-number-filter" placeholder="Номер"/>
      <div class="norm-filter norm-filter-select doc-producer-filter select-width-wide">
        <Multiselect :classes="classes" v-model="doc_producer" mode="single" valueProp="id" placeholder="Видавець" :options="producers">
          <template v-slot:singlelabel="{ value }">
            <div class="multiselect-single-label">{{ value.label.replace("&#38;nbsp;-", '') }}</div>
          </template>
          <template v-slot:option="{ option }"><span v-html="option.label"></span></template>
        </Multiselect>
      </div>
      <!-- <vSelect @input="set_doc_producer" class="norm-filter norm-filter-select doc-producer-filter select-width-wide select-multiline" placeholder="Видавець" :searchable="false" :filterable="false" :options="producers">
        <template v-slot:selected-option="option"><span v-html="option.label"></span></template>
      </vSelect> -->
      <div class="norm-filter date-filters-wrapper">
        Прийнятий з <v-date-picker :locale="locale" :masks="masks" v-model="dateFrom">
          <template v-slot="{ inputValue, inputEvents }">
            <input placeholder="дд.мм.рррр"
              class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300"
              :value="inputValue"
              v-on="inputEvents"
            />
          </template>
        </v-date-picker> по <v-date-picker :locale="locale" :masks="masks" v-model="dateTo">
            <template v-slot="{ inputValue, inputEvents }">
              <input placeholder="дд.мм.рррр"
                class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300"
                :value="inputValue"
                v-on="inputEvents"
              />
            </template>
        </v-date-picker>
      </div>
      <!-- <vSelect @input="set_doc_status" class="norm-filter norm-filter-select doc-status-filter select-width-full" placeholder="Статус документа" :searchable="false" :filterable="false" label="label" :options="statuses"></vSelect> -->
      <div class="norm-filter norm-filter-select doc-producer-filter select-width-wide">
        <Multiselect :classes="classes" v-model="doc_status" mode="single" valueProp="id" placeholder="Статус документа" :options="statuses" />
      </div>
    </div>
    <div class="items">
      <div v-for="item in list" class="item clearfix" v-bind:key="item.id">
        <div class="item-date">{{ item.created }}</div>
        <div class="subtitle">
          <span v-if="item.doc_type" v-html="highlight(item.doc_type)" class="doc-type"></span>
          <span v-if="item.document_number" v-html="highlight(' № ' + item.document_number)" class="doc-number"></span>
          <span v-if="item.date_init" v-html="highlight(' від ' + item.date_init)" class="doc-date-valid"></span>
        </div>
        <router-link :to="item.url" class="title" v-html="highlight(item.title)"></router-link>
        <div class="details">
          <span v-if="item.doc_producer" class="producer">{{ item.doc_producer }}</span>
          <span v-if="item.document_status.length"> | </span>
          <span v-if="item.document_status.length" :class="item.document_status" class="status">{{ item.document_status_label }}</span>
        </div>
      </div>
    </div>
    <Pager :total="totalCount" :page="page" :ipp="itemsPerPage" />
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import { map as _map, isEqual as _isEqual, isEmpty as _isEmpty} from 'underscore';
import qs from 'qs';
import axios from 'axios'
import Pager from '../components/Pager.vue'
import vSelect from 'vue-select'
import Multiselect from '@vueform/multiselect'

export default {

  data: () => {
    return {
      classes: {
        caret: 'multiselect-caret icon-down'
      },
      masks: {
        input: 'DD.MM.YYYY',
        title: 'MMM YYYY'
      },
      locale: {
        id: 'uk',
        firstDayOfWeek: 2,
      },
      //filters begin
      doc_type: null,
      doc_producer: null,
      doc_status: null,
      doc_number: null,
      dateFrom: null,
      dateTo: null,
      //filters end
      command: 'getNormList',
      list: [],
      activated: false,
      itemsPerPage: 16,
      totalCount: 0,
      page: 0,
      debounceTimer: null,
      highlightFilters: {},
      searchType: 0,
      config: {
        options: [
          {
            value: "option 1"
          },
          {
            value: "option 2"
          },
          {
            value: "option 3"
          }
        ],
        prefix: "The",
        placeholder: "Placeholder",
        backgroundColor: "#cde4f5",
        textColor: "black",
        borderRadius: "4px",
        border: "1px solid gray",
        width: 150
      }
    }
  },

  components: {
    Multiselect,
    vSelect,
    Pager
  },

  mounted () {
    this.setTitle(this.modules[this.name].name);
    if ( !this.loadParams() || !this.activated ) {
      this.getList()
    }
  },

  computed: {

    ...mapState([
      'searchParams',
      'searchKey',
      'modules',
      'doc_types',
      'doc_producers',
      'doc_statuses'
    ]),

    ...mapGetters([
      'currentFiltersIds'
    ]),

    producers () {
      return _map(this.doc_producers, (label, id) => {
        return {id: id, label: label}
      })
    },

    statuses () {
      return _map(this.doc_statuses, (label, id) => {
        return {id: id, label: label}
      })
    },

    name() {
      return this.$router.currentRoute.value.name;
    },

    filters() {
      return {
        themes: this.currentFiltersIds,
        key: this.searchKey,
        new_type: this.searchType,
        status: this.doc_status,
        number: this.doc_number,
        doc_type: this.doc_type,
        doc_producer: this.doc_producer,
        date_to: this.dateTo ? this.dateTo.toLocaleDateString('uk-UA') : null,
        date_from: this.dateFrom ? this.dateFrom.toLocaleDateString('uk-UA') : null,
      }
    },

    params() {
      return {
        page: this.page,
        filters: this.filters
      }
    },

  },

  watch:{

    params: {
      deep: true,
      handler(after, before) {
        if ( after.page !== before.page || after.page == 0 ) {
          let savedParams = this.searchParams[this.name]
          if ( !_isEqual ( after, before ) && this.activated ) {
            if ( _isEmpty(savedParams) ) {
              this.getList()
            } else {
              if ( this.debounceTimer ) {
                clearTimeout(this.debounceTimer)
              }
              this.debounceTimer = setTimeout(
                ()=>{
                  this.getList()
                }, 300
              )
            }
          }
        } else {
          this.page = 0
        }
      }
    }

  },

  methods: {

    highlight(str) {
      return this.$parent.$parent.highlight(str, this.highlightFilters)
    },

    ...mapMutations([
      'startLoading',
      'finishLoading',
      'setTitle',
      'saveSearchParams',
    ]),

    strToDate(str) {
      var pattern = /(\d{2})\.(\d{2})\.(\d{4})/;
      return new Date(str.replace(pattern,'$3-$2-$1'));
    },

    loadParams(){
      let params = this.searchParams[this.name];
      if ( !this.activated && !_isEmpty(params) ) {
        this.doc_status = !_isEmpty(params.filters) && !_isEmpty(params.filters.status) ? params.filters.status : this.doc_status,
        this.doc_number = !_isEmpty(params.filters) && !_isEmpty(params.filters.number) ? params.filters.number : this.doc_number,
        this.doc_type = !_isEmpty(params.filters) && !_isEmpty(params.filters.doc_type) ? params.filters.doc_type : this.doc_type,
        this.doc_producer = !_isEmpty(params.filters) && !_isEmpty(params.filters.doc_producer) ? params.filters.doc_producer : this.doc_producer,
        this.dateTo = !_isEmpty(params.filters) && !_isEmpty(params.filters.date_to) ? this.strToDate(params.filters.date_to) : this.dateTo,
        this.dateFrom = !_isEmpty(params.filters) && !_isEmpty(params.filters.date_from) ? this.strToDate(params.filters.date_from) : this.dateFrom,
        this.page = typeof params.page !== 'undefined' ? params.page : 0
        return true
      }
      return false
    },

    pagerClick(page) {
      this.page = page
    },

    getList() {
      this.startLoading();
      axios.post('/system/request/' +  this.command,
      qs.stringify( { params: JSON.stringify(this.params) } ),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.activated = true
        this.finishLoading();
        if ( response.data.data ) {
          this.totalCount = response.data.data.totalCount
          this.itemsPerPage = response.data.data.itemsPerPage
          this.list = response.data.data.list
          this.highlightFilters = response.data.data.filters
          this.saveSearchParams({ params: this.params, name: this.name})
        }
        this.$parent.$parent.scrollTo('html')
      })

    },

  }

}

</script>

<style lang="scss" scoped>
  @import '../styles/_fonts.scss';

  .date-filters-wrapper {
    display: inline-block;

    > div {
      display: inline-block;
    }

  }

  .doc-number-filter {
    height: 36px;
    border: 1px solid #ccc;
		border-radius: 18px;
    font-size: 14px;
    color: #333;
    font-family: $font-regular;
		padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    width: 130px;
  }

  .date-filters-wrapper {

    > div > input {
      height: 36px;
      border: 1px solid #ccc;
      border-radius: 18px;
      font-size: 14px;
      color: #333;
      font-family: $font-regular;
      padding: 0 10px;
      box-sizing: border-box;
      outline: none;
      width: 120px;
      text-align: center;
    }

  }

  .norm-filter {
    margin-right: 10px;
    margin-bottom: 20px;
    vertical-align: top;

    &:last-child {
      margin-right: 0;
    }

  }

  .norm-filter-select {
    width: 200px;
    display: inline-block;
  }

  .items {
		margin: 0;

		.item {
			max-width: 705px;
			display: block;
			margin: 0 0 40px;

			.title {
				font-size: 20px;
				font-family: $font-bold;
        display: inline-block;
        margin-bottom: 10px;
			}

      .item-date {
        font-size: 14px;
        color: #ec520b;
				font-family: $font-medium;
        margin-bottom: 2px;
			}

			.item-type {
        font-size: 12px;
				font-family: $font-regular;
				color: #797979;
			}

      .download-link {
				margin-top: 5px;
        display: inline-block;

        .icon {
          background-color: #ebedf1;
          width: 31px;
          height: 31px;
          display: inline-block;
          border-radius: 16px;
          margin-right: 15px;
          font-size: 14px;
          line-height: 31px;
          text-align: center;
          vertical-align: middle;
        }

        .download-label {
          color: #5f6368;
          font-size: 14px;
          vertical-align: middle;
          text-decoration: underline;
        }

      }

      .status.valid {
        color: #89ab03;
      }

      .status.comes_valid {
        color: #67a591;
      }

      .status.not_valid_yet {
        color: #45b2f8;
      }

      .status.canceled {
        color: #a14b52;
      }

      .status.partially_invalid {
        color: #f89191;
      }

      .status.invalid {
        color: #f15b62;
      }

      .producer {
        color: #5f6368;
      }

      .subtitle {
        color: #5f6368;
        margin-bottom: 10px;
      }

		}

	}

</style>
