<template>
  <div :class="'module-' + name" class="module-window clearfix">
    <div class="module-filters">
    </div>
    <div class="tree-wrapper">
      <OrientationItem v-for="item in list" v-bind:key="item.id" :items="item" />
    </div>
    <Pager :total="totalCount" :page="page" :ipp="itemsPerPage" />
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import { isEqual as _isEqual, isEmpty as _isEmpty} from 'underscore';
import qs from 'qs';
import axios from 'axios'
import Pager from '../components/Pager.vue'
import OrientationItem from '../components/OrientationItem.vue'
import VueScrollTo from 'vue-scrollto'

export default {

  data: () => {
    return {
      command: 'getOrientationTree',
      list: [],
      activated: false,
      itemsPerPage: 16,
      totalCount: 0,
      page: 0,
      debounceTimer: null,
      highlightFilters: {},
      searchType: 0
    }
  },

  components: {
    Pager,
    OrientationItem
  },

  mounted () {
    this.setTitle(this.modules[this.name].name);
    if ( !this.loadParams() || !this.activated ) {
      this.getList()
    }
  },

  computed: {

    ...mapState([
      'searchParams',
      'searchKey',
      'modules',
    ]),

    ...mapGetters([
      'currentFiltersIds'
    ]),

    name() {
      return this.$router.currentRoute.value.name;
    },

    filters() {
      return {
        themes: this.currentFiltersIds,
        key: this.searchKey,
        new_type: this.searchType
      }
    },

    params() {
      return {
        page: this.page,
        filters: this.filters
      }
    },

  },

  watch:{

    params: {
      deep: true,
      handler(after, before) {
        if ( after.page !== before.page || after.page == 0 ) {
          let savedParams = this.searchParams[this.name]
          if ( !_isEqual ( after, before ) && this.activated ) {
            if ( _isEmpty(savedParams) ) {
              this.getList()
            } else {
              if ( this.debounceTimer ) {
                clearTimeout(this.debounceTimer)
              }
              this.debounceTimer = setTimeout(
                ()=>{
                  this.getList()
                }, 300
              )
            }
          }
        } else {
          this.page = 0
        }
      }
    }

  },

  methods: {

    highlight(str) {
      return this.$parent.$parent.highlight(str, this.highlightFilters)
    },

    ...mapMutations([
      'startLoading',
      'finishLoading',
      'setTitle',
      'saveSearchParams',
    ]),

    loadParams(){
      let params = this.searchParams[this.name];
      if ( !this.activated && !_isEmpty(params) ) {
        this.searchType = !_isEmpty(params.filters) ? params.filters.new_type : this.searchType
        this.page = typeof params.page !== 'undefined' ? params.page : 0
        return true
      }
      return false
    },

    pagerClick(page) {
      this.page = page
    },

    getList() {
      this.startLoading();
      axios.post('/system/request/' +  this.command,
      qs.stringify( { params: JSON.stringify(this.params) } ),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        let hash = '';
        if ( this.$route.hash.length ) {
          hash = this.$route.hash.split('#n=').join('')
        }
        this.activated = true
        this.finishLoading();
        this.list = response.data.data
        //this.highlightFilters = response.data.data.filters
        //this.saveSearchParams({ params: this.params, name: this.name})
        if ( hash.length ) {
          setTimeout( () => {
            VueScrollTo.scrollTo('.tree-item[data-oin="' + hash + '"]', '100', {
              easing: 'ease-in',
              lazy: true,
              offset: -60,
              cancelable: true,
              x: false,
              y: true
            })
            var elements = document.querySelectorAll('.tree-item[data-oin="' + hash + '"]')
            if ( elements.length ) {
              elements[0].click()
            }
            this.$router.replace({path: this.$route.path })
          }, 1000);
        } else {
          this.$parent.$parent.scrollTo('html')
        }

      })

    },

  }

}

</script>

<style lang="scss">
</style>