<template>
  <div class="module-window module-orientation clearfix">
    <Breadcrumb moduleName="orientations" :title="item.title" />
    <div class="item-content">
      <Buttons :item="item" v-if="isAuthenticatedUser && !isExpert && !is_loading && item" />
      <div v-if="item.dkhp_string && item.dkhp_string.length" class="dkhp-path">{{ item.dkhp_string }}</div>
      <div v-if="canEditMaterials" class="edit-link"><a :href="'/node/' + item.id + '/edit?destination=' + item.url">редагувати</a></div>
      <h2 class="item-title">{{ item.title }}</h2>
      <div v-if="item.code && item.code.length">Код КП: {{ item.code }}</div>
      <div class="item-html-wrapper" :class="{ shadowed: (!hasAccess && !is_loading) || isExpert }" >
        <div class="item-html" v-html="item.html"></div>
      </div>
      <Auth v-if="!hasAccess && !is_loading" :destination="destination" />
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapMutations } from 'vuex';
import { mapGetters } from 'vuex';
import qs from 'qs';
import axios from 'axios'
import Auth from '../components/Auth.vue'
import Breadcrumb from '../components/Breadcrumb.vue'
import Buttons from '../components/Buttons.vue'

export default {

  components: {
    Buttons,
    Breadcrumb,
    Auth
  },

  data: () => {
    return {
      nid: 0,
      item: {},
      hasAccess: false,
      destination: '',
      is_loading: false,
      activated: false,
      visible: false
    }
  },

  mounted () {
    this.activate()
  },

  watch: {

    '$route.params': {
      handler(params) {
        if ( typeof params.id !== 'undefined' ) {
          this.nid = params.id.split('-')[0]
        } else {
          this.nid = 0
        }
      },
      deep: true,
      immediate: true
    },

    '$route': {
      handler(route) {
        this.destination = route.fullPath
      },
      deep: true,
      immediate: true
    },

    nid () {
      if ( this.nid ) {
        this.getItem()
      }
    }

  },

  computed: {

    ...mapState([
      'activeModule',
      'title',
    ]),

    ...mapGetters([
      'canEditMaterials',
      'isAuthenticatedUser',
      'isExpert'
    ]),

    activeModule() {
      return this.$router.currentRoute.value.name;
    }

  },

  methods: {

    ...mapMutations([
      'setTitle'
    ]),

    activate() {
      this.setTitle('ДКХП');
      if ( this.activeModule == 'orientationItem' && !this.activated ) {
        this.activated = true
        this.visible = true
        this.getItem()
      }
    },

    getItem() {
      this.is_loading = true
      axios.post('/system/request/getOrientation',
      qs.stringify({ params: JSON.stringify({ cid: this.nid }) }),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.hasAccess = response.data.error !== 200 && this.isAuthenticatedUser
        this.is_loading = false
        this.item = response.data.data
      })

    },

  }

}

</script>

<style lang="scss" scoped>

  .dkhp-path {
    margin-bottom: 20px;
    font-size: 12px;
    opacity: 0.5;
  }

</style>
