<template>
  <div class="module-window module-profile clearfix">
    <div class="profile-item profile-photo"><img :src="photo"/></div>
    <div v-if="fio" class="profile-item profile-item-fio">{{ fio }}</div>
    <div v-if="company" class="profile-item-label">Назва підприємства</div>
    <div v-if="company" class="profile-item profile-item-company">{{ company }}</div>
    <div v-if="position" class="profile-item-label">Посада</div>
    <div v-if="position" class="profile-item profile-item-position">{{ position }}</div>
    <div class="profile-item-label">Рівень доступу</div>
    <div class="profile-item profile-item-access-level">{{ level_label }}</div>
    <div v-if="access_begin" class="profile-item-label">Початок терміну доступу</div>
    <div v-if="access_begin" class="profile-item profile-item-access-begin">{{ access_begin }}</div>
    <div v-if="access_end" class="profile-item-label">Закінчення терміну доступу</div>
    <div v-if="access_end" class="profile-item profile-item-access-end">{{ access_end }}</div>
    <div v-if="email" class="profile-item-label">Email</div>
    <div v-if="email" class="profile-item profile-item-email">{{ email }}</div>
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import axios from 'axios'

export default {

  data: () => {
    return {
      photo: false,
      fio: false,
      company: false,
      position: false,
      access_begin: false,
      access_end: false,
      email: false,
      loading: false
    }
  },

  mounted () {
    this.activate()
  },

  computed: {

    ...mapState([
      'level_label'
    ])

  },

  methods: {

    ...mapMutations([
      'setTitle'
    ]),

    activate() {
      this.setTitle('Мій профіль')
      this.getData()
    },

    getData() {
      this.is_loading = true
      axios.post('/system/request/getProfile',
      {},
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        var data = response.data.data
        this.photo = data.photo.length ? data.photo : false
        this.fio = data.fio.length ? data.fio : false
        this.company = data.company.length ? data.company : false
        this.position = data.position.length ? data.position : false
        this.access_begin = data.access_begin.length ? data.access_begin : false
        this.access_end = data.access_end.length ? data.access_end : false
        this.email = data.email.length ? data.email : false
        this.loading = false
      })

    },

  }

}

</script>

<style lang="scss" scoped>

  @import '../styles/_fonts.scss';

  .profile-photo {

    img {
      display: block;
      width: 163px;
      height: 163px;
      border-radius: 82px;
    }

  }

  .profile-item {
    margin-bottom: 30px;
    font-family: $font-bold;
  }

  .profile-item-label {
    font-family: $font-regular;
  }

</style>