<template>
  <div class="module-window module-relaxation clearfix">
    <Breadcrumb moduleName="relaxation" title="Пасьянс" />
    <Solitaire v-if="isAuthenticatedUser" />
    <Auth v-if="!isAuthenticatedUser" :destination="destination" />
  </div>
</template>

<script>

import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';
import Solitaire from '../games/solitaire/App.vue'
import Auth from '../components/Auth.vue'
import Breadcrumb from '../components/Breadcrumb.vue'

export default {

  data: () => {return {
    destination: '/'
  }},

  components: {
    Auth,
    Breadcrumb,
    Solitaire
  },

  mounted () {
    this.activate()
  },
  watch: {

    '$route': {
      handler(route) {
        this.destination = route.fullPath
      },
      deep: true,
      immediate: true
    }

  },

  computed: {

    ...mapGetters([
      'isAuthenticatedUser'
    ]),

  },

  methods: {

    ...mapMutations([
      'setTitle'
    ]),

    activate() {
      this.setTitle('ВідпочинОк')
    }

  }

}

</script>
