<template>
  <div class="module-window module-relaxation clearfix">
    <div class="games">
      <router-link class="game" to="/relaxation/lines"><div class="game-title">Лінії</div><div class="game-image lines"></div></router-link>
      <router-link class="game" to="/relaxation/solitaire"><div class="game-title">Пасьянс</div><div class="game-image solitaire"></div></router-link>
      <router-link class="game" to="/relaxation/minesweeper"><div class="game-title">Сапер</div><div class="game-image minesweeper"></div></router-link>
      <router-link class="game" to="/relaxation/tetris"><div class="game-title">Тетріс</div><div class="game-image tetris"></div></router-link>
    </div>
  </div>
</template>

<script>

import { mapMutations } from 'vuex';

export default {

  mounted() {
    this.setTitle('ВідпочинОк')
  },

  methods: {

    ...mapMutations([
      'setTitle'
    ])

  }

}

</script>

<style lang="scss" scoped>

  .games {
    padding-top: 40px;
    text-align: center;
    margin: 0 -20px;
  }

  .game {
    display: inline-block;
    max-width: 300px;
    width: 100%;
    vertical-align: middle;
    margin: 0 20px 30px;

    .game-title {
      font-size: 18px;
      text-align: center;
      margin-bottom: 10px;
    }

    .game-image {
      width: 100%;
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      &.solitaire {
        background-image: url(../assets/game-solitaire.png);
      }

      &.minesweeper {
        background-image: url(../assets/game-minesweeper.png);
      }

      &.lines {
        background-image: url(../assets/game-lines.png);
      }

      &.tetris {
        background-image: url(../assets/game-tetris.png);
      }

  }

  }

</style>