<template>
<div :class="{active: showScrollButton}" @click="scrollTo('html')" class="scroll-up"><i class="icon icon-up"></i></div>
<div class="page-wrapper" :class="{limited_examples: limited_examples, 'mobile-menu-active': mobile_menu_active}">
  <HelpScreen />
  <LoginScreen />
  <RequestScreen />
  <RequestButton />
  <div v-if="mobile_menu_active" class="mobile-menu">
    <div @click="mobileMenuHide" class="close-button icon icon-close"></div>
    <MenuSystem />
    <MenuProfile />
    <div class="layout-footer-sidebar">
      <div class="link-wrapper">
        <a v-if="system.company.facebook.length" target="_blank" class="icon-facebook" :href="system.company.facebook" :title="system.name + '. Сторінка Фейсбук'">
          <span class="link-text">Facebook</span>
        </a>
      </div>
      <div class="link-wrapper">
        <a v-if="system.company.telegram.length" target="_blank" class="icon-telegram" :href="system.company.telegram" :title="system.name + '. Телеграм'">
          <span class="link-text">Telegram</span>
        </a>
      </div>
    </div>
  </div>
  <div class="system-popups"></div>
  <div :class="{collapsed: !menuState, pinned: menuState}" class="layout-wrapper">
    <div class="layout-sidebar">
      <perfect-scrollbar class="menu-scroll" :options="{suppressScrollX: true}">
        <div class="layout-sidebar-top">
          <div class="layout-sidebar-top-container">
            <div @click="toggleMenuState()" :class="{active: menuState}" class="menu-toggle">
              <i class="icon icon-menu-full activated"></i>
              <i class="icon icon-menu"></i>
            </div>
            <router-link class="system-name-wrapper" to="/">
              <img width="53" height="28" :src="logo" />{{ system.name }}</router-link>
          </div>
        </div>
        <MenuSystem />
        <MenuProfile />
        <div class="layout-footer-sidebar">
          <div class="link-wrapper">
            <a v-if="system.company.facebook.length" target="_blank" class="icon-facebook" :href="system.company.facebook" :title="system.name + '. Сторінка Фейсбук'">
              <span class="link-text">Facebook</span>
            </a>
          </div>
          <div class="link-wrapper">
            <a v-if="system.company.telegram.length" target="_blank" class="icon-telegram" :href="system.company.telegram" :title="system.name + '. Телеграм'">
              <span class="link-text">Telegram</span>
            </a>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
    <div class="layout-container customer-mode">
      <div class="header">
        <div @click="mobileMenuActivate" class="mobile-menu-button"><i class="icon icon-menu"></i></div>
        <PageTitle />
        <LoginButton />
        <div class="mobile-page-title"><PageTitle /></div>
        <a href="https://prytulafoundation.org/uk/home/support_page" class="donate" target="_blank">
          <img src="https://prytulafoundation.org/assets/logo-black-4b22647d1907efd28d4cbdf69da3051d2babcb88ef128dcd4ca8516afbe850dc.svg"/>
        </a>
        <div class="header-top clearfix unselectable">
          <MenuTop />
        </div>
        <div class="header-bottom clearfix">
          <div class="header-search-wrapper">
            <div class="header-search">
              <div class="search-input-wrapper">
                <input class="search-input" placeholder="" v-model="searchKey"/>
                <div class="search-clear"><i class="icon-cancel"></i></div>
                <div class="search-throbber" :class="{loading: loading}">
                    <div class="cssload-zenith"></div>
                </div>
                <i class="icon icon-search"></i>
              </div>
              <div class="sort-order unselectable">
                <div class="sort-order-label">Сортувати за</div>
                <div class="sort-order-value">Датою</div>
                <div class="sort-order-selector"><i class="icon icon-down"></i></div>
              </div>
            </div>
          </div>
          <Filters />
        </div>
      </div>
      <div class="content">
        <div>
          <div data-drupal-messages-fallback class="hidden"></div>
          <router-view></router-view>
        </div>
      </div>
    </div>
    <div class="layout-push"></div>
  </div>
  <div :class="{collapsed: !menuState, pinned: menuState}" class="layout-footer">
    <div class="layout-footer-content">
      <div class="layout-footer-content-wrapper">
        <div class="layout-footer-content-left">
          <div class="system-phone-label">Відділ продажу</div>
          <div class="system-phone">0-800-213-787</div>
          <div class="system-phone-time">з 9.00 до 18.00</div>
        </div>
        <div class="layout-footer-content-right">
        </div>
        <div class="footer-copyrights">
          © Електронна система Ок. {{ system.name }}<span v-if="system.media_id"> , ідентифікатор медіа {{ system.media_id }}</span>, Ай Ті Сістем Юкрейн, ТОВ, 2017—{{ new Date().getFullYear() }}<br>
          вул. Р. Окипної, 10, корпус «А», 02002, Україна тел.: <a href="tel:+380443649877">0443649877</a>, <a href="tel:0800213787">0800213787</a>, e-mail: <a href="mailto:sales@isu.net.ua">sales@isu.net.ua</a>
          <!-- <p><span style="color:#ff5a60;">Зверніть увагу!</span> Користувачі системи не мають права використовувати отримані відповіді в аудиторській/консалтинговій чи іншій діяльності та/чи в інтересах третіх осіб, а також роздруковувати і поширювати матеріал системи без посилання на джерело інформації. Відтворення матеріалів системи можливе лише з письмового дозволу редакції.</p>-->
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script lang="js">

import { uniq as _uniq, map as _map, sortBy as _sortBy} from 'underscore'
import VueScrollTo from 'vue-scrollto'
import { mapGetters, mapState, mapMutations, mapActions } from 'vuex'
import PageTitle from './components/PageTitle.vue'
import MenuSystem from './components/MenuSystem.vue'
import MenuProfile from './components/MenuProfile.vue'
import MenuTop from './components/MenuTop.vue'
import Filters from './components/Filters.vue'
import LoginButton from './components/LoginButton.vue'
import LoginScreen from './components/LoginScreen.vue'
import RequestButton from './components/RequestButton.vue'
import RequestScreen from './components/RequestScreen.vue'
import HelpScreen from './components/HelpScreen.vue'

export default {
  data: () => { return {
    logo: '',
    showScrollButton: false,
    searchKey: '',
  }},

  components: {
    HelpScreen,
    RequestButton,
    RequestScreen,
    LoginButton,
    LoginScreen,
    PageTitle,
    MenuSystem,
    MenuProfile,
    MenuTop,
    Filters
  },

  mounted() {
    const body = document.getElementsByTagName('body')[0]
    var lastScrollPosition = window.pageYOffset || document.documentElement.scrollTop

    window.addEventListener( 'scroll', event => {
      let scrolltop = window.pageYOffset || document.documentElement.scrollTop;
      let delta = lastScrollPosition - scrolltop
      lastScrollPosition = scrolltop
      if ( lastScrollPosition ) {
        this.showScrollButton = true
      } else {
        this.showScrollButton = false
      }
    })

    if ( logo_animation.length ) {
      this.logo = logo_animation
      setTimeout(() => {
        this.logo = system_logo
        setInterval(() => {
          this.logo = logo_animation
          setTimeout(() => {
            this.logo = system_logo
          }, 4000);
        }, 300000);
      }, 4000);
    } else {
      this.logo = system_logo;
    }

    if ( user.id != 0) {
      this.checkNewConsultations()
      setInterval(() => { this.checkNewConsultations() }, 120000);
      this.checkNewMessages()
      setInterval(() => { this.checkNewMessages() }, 120000);
    }

  },

  computed: {

    ...mapState([
      'menuState',
      'loading',
      'system',
      'scrollBlocked',
      'logo_animation',
      'system_logo',
      'mobile_menu_active'
    ]),

    ...mapGetters([
      'limited_examples'
    ])

  },

  watch: {

    '$route.name' (to) {
      if ( ['calendarYear', 'calendarYearMonth', 'calendar', 'calendarEvent', 'calendarProduction'].includes(to) ) {
        to = 'calendar'
      }
      this.setActiveModule(to)
      this.scrollTo('.layout-container')
    },

    searchKey() {
      this.setSearchKey(this.searchKey)
    },

    scrollBlocked() {
      const body = document.getElementsByTagName('body')[0];
      if ( this.scrollBlocked ) {
        body.classList.add('scroll-blocked')
      } else {
        body.classList.remove('scroll-blocked')
      }
    }

  },

  methods: {

    ...mapActions([
      'toggleMenuState',
      'checkNewConsultations',
      'checkNewMessages',
      'checkNewEvents'
    ]),

    ...mapMutations([
      'setNewConsultationsCount',
      'setNewMessagesCount',
      'mobileMenuActivate',
      'mobileMenuHide',
      'setActiveModule',
      'setSearchKey'
    ]),

    scrollTo(element, to, duration) {
        if (duration <= 0) return;
        var difference = to - element.scrollTop;
        var perTick = difference / duration * 10;

        setTimeout(function() {
            element.scrollTop = element.scrollTop + perTick;
            if (element.scrollTop === to) return;
            scrollTo(element, to, duration - 10);
        }, 10);
    },

    highlight: function ( str, filters ) {
      let regMatch = this.buildRegMatch(filters)
      if ( regMatch && str && str.length ) {
        str = str.replace(new RegExp(regMatch, 'gi'), function(val){
          if ( val ) {
            return '<span class="key-highlight">' + val + '</span>';
          }
        });
      }
      return str;
    },

    buildRegMatch: function ( filters ) {

      var regMatch = false;
      if ( filters.keys_highlight && filters.keys_highlight.length || filters.keys_search && filters.keys_search.length ) {
          var keys = _map(filters.keys_highlight, function(key){
          key = key.replace('/', '\\/').replace('.', '\\.').replace(',', '\\,').replace('-', '\\-');
          return key;
        });
        regMatch = _sortBy(_uniq(filters.keys_search.concat(keys)), function(key){ return -key.length}).join('|');
      }
      return regMatch;

    },

    scrollTo ( element ) {
      VueScrollTo.scrollTo(element, 150, {
        easing: 'ease-in',
        lazy: true,
        offset: -60,
        cancelable: true,
        x: false,
        y: true
      })
    }

  }

}
</script>

<style lang="scss">

  .menu-scroll {
    height: 100%;
  }

  .donate {
    display: block;
    float: right;
    margin-right: 20px;

    img {
      display: block;
      height: 32px;
    }

  }

  @media (max-width: 800px) {

    .donate {
      float: none;
      clear: both;
      margin: 20px 0;
      width: 100%;
      text-align: center;

      img {
        display: inline-block;
        height: 32px;
      }

    }

  }

</style>
