<div>
  <br/><br/>
  <a href="/admin/import-taxonomy">Импортировать таксономию</a><br/><br/>
  <a href="/admin/import-nodes-batch">Импортировать консультации</a><br/><br/>
  <a href="/admin/import-taxonomy-norm">Импортировать таксономию нормативки</a><br/><br/>
  <a href="/admin/import-news-batch">Импортировать новости</a><br/><br/><br/><br/>

  <a href="/admin/import-articles-batch">Импортировать статьи</a><br/><br/>

  <a href="/admin/import-norm-batch">Импортировать нормативку</a><br/><br/>
  <a href="/admin/import-convert-batch">Запустить конвертацию документов</a><br/><br/><br/><br/>

  <a href="/admin/import-examples-batch">Импортировать образцы</a><br/><br/>
  <a href="/admin/import-convert-examples-batch">Запустить конвертацию образцов</a><br/><br/><br/><br/>

  <a href="/admin/import-instructions-batch">Импортировать инстуркции</a><br/><br/>
  <a href="/admin/import-convert-instructions-batch">Запустить конвертацию инстуркций</a><br/><br/><br/><br/>

  <!-- <a href="/admin/system-field-convertion">Запустить конвертацию поля система</a><br/><br/><br/><br/> -->

</div>
