<div>
  <br/><br/>
  <div>{{ 'Завантаження подій календаря' | t }}</div>
  <form enctype="multipart/form-data" action="/admin/import-events-batch" method="POST"/>
    <br/><br/>
    <label>Система</label>
    <select name="system_id">
      <option value="1831" selected="selected">Безпека</option>
      <option value="1830">Бухгалтер</option>
      <option value="3">Кадровик</option>
    </select>
    <br/><br/>
    <label>Год</label>
    <select name="year">
      <option value="2022" selected="selected">2022</option>
      <option value="2021">2021</option>
      <option value="2020">2020</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
      <option value="2017">2017</option>
      <option value="2016">2016</option>
      <option value="2015">2015</option>
    </select>
    <br/><br/>
    <label>{{ 'Файл з подіями' | t }}</label>
    <input name="file" type="file"/><br/><br/><br/>
    <input type="submit" value="{{ 'Перезавантажити' | t }}"/>
  </form>
</div>
