<template>
<div class="auth-form-wrapper">
  <div class="login-message">Інформація відкрита тільки для передплатників.<br />У вільному доступі розділ «Новини». Відділ клієнтської підтримки 0 800 213 787</div>
  <div class="buy-button">
    <a target="_blank" :href="buy_link" >Безоплатний доступ</a>
  </div>
  <div class="login-or-message">або</div>
  <div v-if="loginError" class="login-error">Невідомі ім’я користувача або пароль</div>
  <form @submit.prevent="submit" class="user-login-form" data-drupal-selector="user-login-form" method="post" id="user-login-form" accept-charset="UTF-8">
    <div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name form-no-label">
      <input v-model="name" autocorrect="none" autocapitalize="none" spellcheck="false" autofocus="autofocus" placeholder="Логін" data-drupal-selector="edit-name" type="text" id="edit-name" name="name" size="60" maxlength="60" class="form-text required" required="required" aria-required="true" autocomplete="off" />
    </div>
    <div class="js-form-item form-item js-form-type-password form-item-pass js-form-item-pass form-no-label">
      <input v-model="pass" placeholder="Пароль" data-drupal-selector="edit-pass" type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="form-text required" required="required" aria-required="true" autocomplete="off" />
    </div>
    <input autocomplete="off" type="hidden" name="form_build_id" value="" />
    <input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id" value="user_login_form" />
    <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
      <input @click.prevent="submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Увійти" class="button js-form-submit form-submit" />
    </div>
  </form>
</div>
</template>

<script lang="js">

import { mapState } from 'vuex'
import qs from 'qs'
import axios from 'axios'

export default {

  props: {
    destination: String
  },

  data: () => { return {
    name: '',
    pass: '',
    loginError: false
  }},

  computed: {

    ...mapState([
      'buy_link'
    ])

  },

  methods: {

    submit() {
      this.loginError = false
      if ( this.name.length && this.pass.length ) {
        axios.post('/user/login?_format=json',
        { name: this.name, pass: this.pass },
        {
          emulateJSON: true,
          headers: {
            'Content-Type': 'application/json'
          }
        }
        ).then(response => {
          if ( response && response.data && response.data.logout_token && response.data.logout_token.length ) {
            let destination = window.location.pathname
            window.location.href = '/user/login' + ( typeof destination !== 'undefined' && destination.length ? ('?destination=' + encodeURI(destination)) : '' )
          } else {
            this.loginError = true
          }
        }).catch(error => {
          this.loginError = true
        })
      }
    }

  }
}
</script>

<style scoped lang="scss">

  @import '../styles/_colors.scss';
  @import '../styles/_fonts.scss';

  .login-error {
    font-size: 16px;
    margin: 20px 0;
    color: #fff;
    text-align: center;
  }

  .auth-form-wrapper {
    text-align: center;
    max-width: 600px;
    margin-top: 50px;
    margin-left: 50px;
    padding: 50px;
    box-sizing: border-box;
    background-color:#151b26;

    .login-message {
      font-size: 16px;
      opacity: 0.5;
      font-family: $font-medium;
      text-align: center;
      line-height: 1.5;
      margin-bottom: 25px;
      color: #fff;
    }

    .login-or-message {
      font-size: 20px;
      opacity: 0.5;
      color: #fff;
      font-family: $font-medium;
      text-align: center;
      line-height: 1.5;
      margin-bottom: 25px;
    }

    .buy-button {
      margin-bottom: 25px;

      a {
        color: #fff;
        display: block;
        margin: 0 auto;
        width: 270px;
        box-sizing: border-box;
        border: 1px solid #fff;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        font-family: $font-bold;
        height: 50px;
        line-height: 50px;
        text-align: center;
      }

    }

    .user-login-form {

      .js-form-item input {
        color: #666;
        display: block;
        margin: 0 auto;
        width: 270px;
        box-sizing: border-box;
        background-color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        font-family: $font-regular;
        height: 50px;
        text-align: left;
        margin-bottom: 8px;
        padding: 17px;
      }

      .form-actions input {
        color: #fff;
        display: block;
        margin: 0 auto;
        width: 270px;
        box-sizing: border-box;
        background-color: #eb5109;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        font-family: $font-bold;
        height: 50px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
      }

    }

  }

</style>
