<template>
  <div class="breadcrumb">
    <router-link class="bc-item" to="/">Головна</router-link>
    <span class="divider"></span>
    <router-link class="bc-item" :to="'/' + moduleName" v-html="getModuleTitle(moduleName)"></router-link>
    <span class="divider"></span>
    <span class="bc-item">{{ title }}</span>
  </div>
</template>

<script lang="js">

import { mapGetters } from 'vuex';

export default {

  props: {
    moduleName: String,
    title: String,
  },

  computed: {

    ...mapGetters([
      'getModuleTitle'
    ])

  }

}

</script>
