<template>
<div class="node-item-buttons">

  <a v-if="printable" target="_blank" :href="'/' + (nofav ? 'norm' : 'node') + '/' + item.id + '/printable/print'" class="node-item-btn-print icon icon-print">
    <div class="button-tip">Надрукувати</div>
  </a>

  <a target="_blank" :href="pdf ? pdf_file : ('/' + (nofav ? 'norm' : 'node') + '/'+ item.id + '/pdf')" class="node-item-btn-pdf icon icon-pdf">
    <div class="button-tip">Завантажити PDF</div>
  </a>

  <a v-if="word" target="_blank" :href="item.file" class="node-item-btn-word icon icon-word">
    <div class="button-tip">Завантажити WORD</div>
  </a>

  <a v-if="excel" target="_blank" :href="item.file" class="node-item-btn-excel icon icon-excel">
    <div class="button-tip">Завантажити EXCEL</div>
  </a>

  <span v-if="!nofav" @click="clickFavorite" class="node-item-btn-save icon" :class="item.favorite ? 'icon-basket' : 'icon-save'">
    <div class="button-tip">{{ item.favorite ? 'Видалити' : 'Зберегти' }}</div>
  </span>

</div>
</template>

<script lang="js">

import qs from 'qs';
import axios from 'axios'

export default {

  props: {
    item: Object,
    nofav: Boolean
  },

  data: () => {
    return {
      is_loading: false,
    }
  },

  mounted () {
  },

  computed: {

    pdf() {
      var file = this.item.file
      var file_type = this.item.file_type
      var file_preview = this.item.file_preview
      return (file && file.length && file_type && file_type == 'pdf') || file_preview
    },

    printable() {
      return !this.pdf || ( this.pdf && !this.item.file_preview )
    },

    word() {
      var file = this.item.file
      var file_type = this.item.file_type
      return file && file.length && file_type && (file_type == 'doc' || file_type == 'docx')
    },

    excel() {
      var file = this.item.file
      var file_type = this.item.file_type
      return file && file.length && file_type && (file_type == 'xls' || file_type == 'xlsx')
    },

    pdf_file() {
      return this.item.file_preview ? this.item.file_preview : this.item.file
    }

  },

  methods: {

    clickFavorite: function() {
      this.is_loading = true
      var command = this.item.favorite ? 'unsaveNode' : 'saveNode'
      axios.post('/system/request/' + command,
      qs.stringify({ params: JSON.stringify({ nid: this.item.id }) }),
      {
        emulateJSON: true,
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
        }
      }
      ).then((response) => {
        this.is_loading = false
        var data = response.data.data;
        this.item.favorite = data.state ? true : false
      })
    }

  }

}
</script>

<style scoped lang="scss">

  @import '../styles/_fonts.scss';

  .node-item-buttons {

    position: absolute;
    top: 2px;
    z-index: 1;
    right: 49px;
    width: 49px;

    .icon-close {
      display: inline-block;
      width: 24px;
      height: 24px;
      font-size: 24px;
      cursor: pointer;

      &:hover {
        background-position: -24px 0;
      }

    }

    .button-tip {
      position: absolute;
      background-color: #fff;
      border: 1px solid #d1d6dd;
      padding: 10px;
      color: #606870;
      font-size: 12px;
      font-family: $font-regular;
      text-align: center;
      line-height: 1.3;
      border-radius: 5px;
      top: 7px;
      transition: all 0.1s linear;
      visibility: hidden;
      opacity: 0;
      right: 65px;
      box-sizing: border-box;
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        right: -17px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 17px;
        border-color: transparent transparent transparent #d1d6dd;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 5px;
        right: -15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 17px;
        border-color: transparent transparent transparent #fff;
      }

    }

    a:hover {
      text-decoration: none;

      .button-tip {
        opacity: 1;
        visibility: visible;
      }

    }

    span:hover {

      .button-tip {
        opacity: 1;
        visibility: visible;
      }

    }

    .icon {
      cursor: pointer;
      position: relative;
      font-size: 22px;
      width: 49px;
      height: 49px;
      border-radius: 25px;
      background-color: #151b27;
      color: #fff!important;
      display: block;
      text-align: center;
      margin-bottom: 10px;

      &:before {
        line-height: 49px;
        vertical-align: middle;
      }

      &:hover {
        background-color: #ec520b;
        color: #fff!important;
      }

    }

    .node-item-btn-save {
      transition: opacity 0.2s ease-in;
      cursor: pointer;
    }

  }

  @media ( max-width: 1024px ) {

    .node-item-buttons {
      position: static;
      width: auto;
      margin-bottom: 20px;

      .icon {
        display: inline-block;
        margin-right: 15px;
      }

    }

  }

</style>
