<template>
  <div class="calendar-content-events-list">
    <div class="node-items-list">
        <div class="node-item-actions clearfix unselectable">
          <div class="node-item-navigation">
            <span class="event-date">{{ fullDate }}</span>
            <router-link :to="`/calendar/${Year}-${String(Month).padStart(2, '0')}`" class="events-list-back icon icon-left">Повернутися до календаря</router-link>
          </div>
        </div>
        <div class="events-list-content">
          <div v-for="group, type in groupedEvents">
            <div class="event-type-label">{{ types[type] }}</div>
            <div class="event-type-content">
              <div :class="`event-type-${type}`" v-for="event in group">
                <router-link :to="event.url">
                  <i v-if="type === 'own_event'" class="icon-circle"></i>
                  <i v-if="type === 'half_holiday'" class="icon-clock"></i>
                  {{ event.title }} <span class="icon icon-link"></span>
                </router-link>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>

import { format } from 'date-fns'
import { uk as locale_uk } from 'date-fns/locale'

export default {

  name: 'CalendarEventsList',

  props: {
    Year: Number,
    Month: Number,
    Day: Number,
    types: Object,
    events: Array
  },

  data: () => {
    return {
    }
  },

  computed: {

    groupedEvents(){
      return this.events.reduce( (r, a) => {
          r[a.type] = r[a.type] || [];
          r[a.type].push(a);
          return r;
      }, {});
    },

    fullDate() {
      return format(new Date(`${this.Year}-${String(this.Month).padStart(2, '0')}-${String(this.Day).padStart(2, '0')}`), 'eeee, d MMMM', { locale: locale_uk })
    }

  },

  watch:{

  },

  methods: {

  }

}

</script>
