<template>
  <div class="calendar-content-event">
    <div class="node-item clearfix">
        <div class="node-item-actions clearfix unselectable">
          <div class="node-item-navigation">
            <router-link :to="`/calendar/${backLink}`" class="events-list-back icon icon-left">Повернутися до календаря</router-link>
          </div>
          <div class="event-item-buttons">
            <span v-if="event.event_type === 'own_event'" class="node-item-btn-edit icon icon-edit">
              <div class="button-tip">Редагувати</div>
            </span>
            <span v-if="event.event_type === 'own_event'" class="node-item-btn-delete icon icon-basket">
              <div class="button-tip">Видалити</div>
            </span>
          </div>
        </div>
        <div class="node-item-content">
          <div v-if="event.event_type" class="node-item-event-type">{{ event.event_type_label }}</div>
          <h1 class="node-item-event-title" v-html="event.title"></h1>
          <div class="node-item-event-content" v-html="event.event_content"></div>
          <div class="node-item-event-content-edit">
              <textarea class="event-content-edit" placeholder="Текст події" v-html="event.event_content"></textarea>
              <div class="cancel-edit-btn">Відмінити</div>
              <div class="save-edit-btn">Зберегти</div>
          </div>
          <div v-if="event.audit && event.audit.interviews && event.audit.interviews.length" class="node-item-event-audit">
              <div class="audit-block-title" v-html="event.audit_label_interviews"></div>
              <ul>
                <li v-for="interview in event.audit.interviews"><router-link :to="interview.url" target="_blank">{{ interview.title }}</router-link></li>
              </ul>
              <router-link target="_blank" to="/interviews" class="audit-more-button">Переглянути всі</router-link>
          </div>
          <div v-if="event.audit && event.audit.consultations && event.audit.consultations.length" class="node-item-event-audit">
              <div class="audit-block-title" v-html="event.audit_label_consultations"></div>
              <ul>
                <li v-for="consultation in event.audit.consultations"><router-link :to="consultation.url" target="_blank">{{ consultation.title }}</router-link></li>
              </ul>
              <router-link target="_blank" to="/consultations" class="audit-more-button">Переглянути всі</router-link>
              <div class="audit-help" v-html="event.audit_consultations_help"></div>
          </div>
          <div v-if="event.audit && event.audit.examples && event.audit.examples.length" class="node-item-event-audit">
              <div class="audit-block-title" v-html="event.audit_label_examples"></div>
              <ul>
                <li v-for="example in event.audit.examples"><router-link :to="example.url" target="_blank">{{ example.title }}</router-link></li>
              </ul>
              <router-link target="_blank" to="/examples" class="audit-more-button">Переглянути всі</router-link>
          </div>
          <div v-if="event.audit && event.audit.accountinglogs && event.audit.accountinglogs.length" class="node-item-event-audit">
              <div class="audit-block-title" v-html="event.audit_label_accountinglogs"></div>
              <ul>
                <li v-for="accountinglog in event.audit.accountinglogs"><router-link :to="accountinglog.url" target="_blank">{{ accountinglog.title }}</router-link></li>
              </ul>
              <router-link target="_blank" to="/accountinglogs" class="audit-more-button">Переглянути всі</router-link>
          </div>
          <div v-if="event.event_file" class="node-item-event-file">
              <a target="_blank" :href="event.event_file.uri" :class="`icon-${event.event_file.type}`" class="icon">{{ event.event_file.name }}</a>
          </div>
        </div>
    </div>
  </div>
</template>

<script>

export default {

  name: 'CalendarEvent',

  props: {
    event: Object,
    Year: Number,
    Month: Number,
    Day: Number
  },

  data: () => {
    return {
    }
  },

  computed: {
    backLink() {
      if ( this.Day ) {
        return `${this.Year}-${String(this.Month).padStart(2, '0')}-${String(this.Day).padStart(2, '0')}`
      } else {
        return this.event.event_date_start
      }
    }
  },

  watch:{

  },

  methods: {

  }

}

</script>
