<template>
  <div class="production-calendar-tips">
    <div class="month-name">{{ monthName }}</div>
    <ul class="indicator-list">
      <li class="indicator">Норма тривалості робочого часу при 40-год. робочому тижні – <b>{{ hours_count_40 }}</b> год.</li>
      <li class="indicator">Робочих днів – <b>{{ working_days_count }}</b></li>
      <li class="indicator">Кількість днів, робота в які не проводиться – <b>{{ not_working_days_count }}</b></li>
      <li class="indicator">Із них святкових – <b>{{ days_count_national_holidays }}</b></li>
      <li class="indicator">Вихідних днів – <b>{{ days_count_holidays }}</b></li>
      <li class="indicator">Днів, що передують святковим та неробочим (скорочені на 1 год. при 40-год. робочому тижні) – <b>{{ short_days_count }}</b></li>
    </ul>
  </div>
</template>

<script>

import { format, getQuarter } from 'date-fns'
import { uk as locale_uk } from 'date-fns/locale'

export default {

  name: 'CalendarProductionTips',

  props: {
    data: Object,
    Year: Number,
    Month: Number
  },

  data: () => {
    return {
      hours_count_40: '',
      working_days_count: '',
      not_working_days_count: '',
      days_count_national_holidays: '',
      days_count_holidays: '',
      short_days_count: ''
    }
  },

  mounted(){
    this.recalculate()
  },

  computed: {
    date() {
      return new Date(`${this.Year}-${String(this.Month).padStart(2, '0')}-01`)
    },
    monthName() {
      let name = format(this.date, 'LLLL', { locale: locale_uk })
      return name ? name : ''
    },
    mq() {
      return getQuarter(this.date)
    },
    mn() {
      return this.Month%3 ? this.Month%3 : 3
    }
  },

  watch:{
    data: {
      deep: true,
      handler() {
        this.recalculate()
      }
    },
    Year() {
      this.recalculate()
    },
    Month() {
      this.recalculate()
    }
  },

  methods: {

    recalculate() {
      this.hours_count_40 = this.getParamsByName('hours_count_40').toFixed(1)
      this.working_days_count = this.getParamsByName('working_days_count')
      this.not_working_days_count = this.getParamsByName('not_working_days_count')
      this.days_count_national_holidays = this.getParamsByName('days_count_national_holidays')
      this.days_count_holidays = this.getParamsByName('days_count_holidays')
      this.short_days_count = this.getParamsByName('short_days_count')
    },

    getParamsByName(paramName) {
      return this.data && this.data[`q${this.mq}`] && this.data[`q${this.mq}`][`${paramName}_q${this.mq}_m${this.mn}`] ? this.data[`q${this.mq}`][`${paramName}_q${this.mq}_m${this.mn}`] : 0
    }
  }

}

</script>
