<template>
    <div class="day-bar"><div>ПН</div><div>ВТ</div><div>СР</div><div>ЧТ</div><div>ПТ</div><div>СБ</div><div>НД</div></div>
    <div class="calendar-content">
      <div class="days">
        <div class="week" v-for="week in weeks">
          <router-link :to="`/calendar/${day.date}`" @mouseover="hoveredEvent = ( day.events.length === 1 && day.events[0].date_start !== day.events[0].date_end ) ? day.events[0].id : hoveredEvent" @mouseleave="hoveredEvent = false" class="day" :class="day.classes, { highlighted: (day.events.map( event => { return event.id}).includes(hoveredEvent) && day.classes.includes('single-event')) }" v-for="day in week">
            <div v-if="day.short" class="short-day-icon icon icon-clock"></div>
            <div class="day-number"><span>{{ day.number }}</span></div>
            <div v-if="day.events" class="day-events">
              <div @mouseover="hoveredEvent = event.date_start !== event.date_end ? event.id : false" @mouseleave="hoveredEvent = false" :title="event.title" v-for="event in day.events" class="day-event" :class="event.type, { highlighted: hoveredEvent == event.id }" v-html="day.ids.includes(event.id) ? arrowIcon : event.title"></div>
            </div>
          </router-link>
        </div>
      </div>
    </div>
</template>

<script>

import {
  startOfISOWeek,
  endOfISOWeek,
  startOfMonth,
  endOfMonth,
  getYear,
  getMonth,
  getDay,
  getDate
} from 'date-fns'

export default {

  name: 'Calendar',

  props: {
    events: Object,
    additional_holidays: Array,
    working_days: Array,
    short_days: Array,
    year: Number,
    month: Number
  },

  data: () => {
    return {
      currentDate: new Date(),
      hoveredEvent: false,
      arrowIcon: '<span class="icon icon-left"></span>'

    }
  },

  computed: {

    Date() {
      return new Date(`${this.year}-${this.month}-01`)
    },

    currentDateString() {
      let day = getDate(this.currentDate)
      let month = getMonth(this.currentDate) + 1
      let year = getYear(this.currentDate)
      return `${year}-${String(month).padStart(2, '0')}-${String(day).padStart(2, '0')}`
    },

    weeks() {
      let weeks = []
      let days = []
      let daysCount = getDate(endOfMonth(this.Date))
      let Year = this.year
      let Month = this.month
      let FirstMondayDate = startOfISOWeek(startOfMonth(this.Date))
      let FirstMondayYear = getYear(FirstMondayDate)
      let FirstMondayMonth = getMonth(FirstMondayDate) + 1
      let LastSundayDate = endOfISOWeek(endOfMonth(this.Date))
      let PrevMonthLastMonday = getDate(FirstMondayDate)
      let PrevMonthDaysCount = getDate(endOfMonth(FirstMondayDate))
      let NextMonthFirstSunday = getDate(LastSundayDate)
      let NextYear = getYear(LastSundayDate)
      let NextMonth = getMonth(LastSundayDate) + 1
      let ids = []
      if ( FirstMondayMonth !== Month ) {
        for ( let dayNumber = PrevMonthLastMonday; dayNumber <= PrevMonthDaysCount; dayNumber++ ) {
          let date = `${FirstMondayYear}-${String(FirstMondayMonth).padStart(2, '0')}-${String(dayNumber).padStart(2, '0')}`
          let events = this.events[date] ? this.events[date] : []
          let day = this.createDay(dayNumber, date, ['out-of-month'], events, ids)
          ids = [...ids, ...events.map(event => { return event.id})]
          days.push(day)
          if ( days.length === 7 ) {
            weeks.push(days);
            days = [];
          }
        }
      }
      for ( let dayNumber = 1; dayNumber <= daysCount; dayNumber++ ) {
        let date = `${Year}-${String(Month).padStart(2, '0')}-${String(dayNumber).padStart(2, '0')}`
        let events = this.events[date] ? this.events[date] : []
        let day = this.createDay(dayNumber, date, [], events, ids)
        ids = [...ids, ...events.map(event => { return event.id})]
        days.push(day)
        if ( days.length === 7 ) {
          weeks.push(days);
          days = [];
        }
      }
      if ( NextMonth !== Month ) {
        for ( let dayNumber = 1; dayNumber <= NextMonthFirstSunday; dayNumber++ ) {
          let date = `${NextYear}-${String(NextMonth).padStart(2, '0')}-${String(dayNumber).padStart(2, '0')}`
          let events = this.events[date] ? this.events[date] : []
          let day = this.createDay(dayNumber, date, ['out-of-month'], events, ids)
          ids = [...ids, ...events.map(event => { return event.id})]
          days.push(day)
          if ( days.length === 7 ) {
            weeks.push(days);
            days = [];
          }
        }
      }
      return weeks
    }

  },

  watch:{

  },

  methods: {

    getDaySortIndex(day) {
      let index;
      switch ( day.type ) {
        case 'national_holiday': index = 10; break
        case 'event': index = 20; break
        case 'audit': index = 30; break
        case 'report': index = 40; break
        case 'professional_day': index = 50; break
      }
      return index

    },

    createDay(dayNumber, date, classes, events, ids) {
      let setIds = new Set(ids)
      let setEventIds = new Set(events.map( event => { return event.id } ))
      let idsIntersection = [...setIds].filter(x => setEventIds.has(x))
      let day = {
        number: dayNumber,
        date: date,
        short: this.short_days.includes(date),
        ids: idsIntersection,
        events: events.sort( (a, b) => {return this.getDaySortIndex(a) - this.getDaySortIndex(b)} ),
        classes: [...classes, ...this.getEventClasses(events)]
      }
      let dow = getDay(new Date(date))
      if ( events.length === 1 && ( ![0,6].includes(dow) || events[0].type === 'national_holiday')) {
        day.classes.push('single-event')
      }
      if ( date === this.currentDateString ) {
        day.classes.push('current-date')
      }
      if ( ( [0,6].includes(dow) && !this.working_days.includes(date) ) || this.additional_holidays.includes(date) ) {
        day.classes.push('day-weekend')
      }
      return day
    },

    getEventClasses(events) {
      return events.
        map( event => { return event.type } ).
        filter( (eventClass, index, array) => { return array.indexOf(eventClass) === index } )
    }

  }

}

</script>
