<template>
  <div class="prodcution-calendar-year">{{ year }} рік</div>

  <table v-show="quater === ''" class="production-calendar-table period-year">
    <thead>
      <tr>
        <th colspan="2">Показник</th>
        <th>І півріччя</th>
        <th>ІІ півріччя</th>
        <th>{{ year }} рік</th>
      </tr>
    </thead>
    <tbody>
      <tr class="subheader">
        <td colspan="5">Кількість днів</td>
      </tr>
      <tr>
        <td class="rows-counter">1</td>
        <td class="indicator-name">Кількість календарних днів</td>
        <td>{{ data.year.days_count_h1 }}</td>
        <td>{{ data.year.days_count_h2 }}</td>
        <td>{{ data.year.days_count_year }}</td>
      </tr>
      <tr>
        <td class="rows-counter">2</td>
        <td class="indicator-name">Кількість святкових днів і днів релігійних свят</td>
        <td>{{ data.year.days_count_national_holidays_h1 }}</td>
        <td>{{ data.year.days_count_national_holidays_h2 }}</td>
        <td>{{ data.year.days_count_national_holidays_year }}</td>
      </tr>
      <tr>
        <td class="rows-counter">3</td>
        <td class="indicator-name">Кількість вихідних днів</td>
        <td>{{ data.year.days_count_holidays_h1 }}</td>
        <td>{{ data.year.days_count_holidays_h2 }}</td>
        <td>{{ data.year.days_count_holidays_year }}</td>
      </tr>
      <tr>
        <td class="rows-counter">4</td>
        <td class="indicator-name">Кількість днів, робота в які не проводиться</td>
        <td>{{ data.year.not_working_days_count_h1 }}</td>
        <td>{{ data.year.not_working_days_count_h2 }}</td>
        <td>{{ data.year.not_working_days_count_year }}</td>
      </tr>
      <tr>
        <td class="rows-counter">5</td>
        <td class="indicator-name">Кількість робочих днів</td>
        <td>{{ data.year.working_days_count_h1 }}</td>
        <td>{{ data.year.working_days_count_h2 }}</td>
        <td>{{ data.year.working_days_count_year }}</td>
      </tr>
      <tr>
        <td class="rows-counter">6</td>
        <td class="indicator-name">Кількість днів, що передують святковим та неробочим, в які тривалість робочого дня (зміни) при 40-годинному тижні зменшується на одну годину</td>
        <td>{{ data.year.short_days_count_h1 }}</td>
        <td>{{ data.year.short_days_count_h2 }}</td>
        <td>{{ data.year.short_days_count_year }}</td>
      </tr>
      <tr class="subheader">
        <td colspan="5">Норма тривалості робочого часу, год.</td>
      </tr>
      <tr>
        <td class="rows-counter">7</td>
        <td class="indicator-name">При <b>40-годинному</b> робочому тижні</td>
        <td>{{ data.year.hours_count_40_h1.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_40_h2.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_40_year.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">8</td>
        <td class="indicator-name">При <b>39-годинному</b> робочому тижні</td>
        <td>{{ data.year.hours_count_39_h1.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_39_h2.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_39_year.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">9</td>
        <td class="indicator-name">При <b>38,5-годинному</b> робочому тижні</td>
        <td>{{ data.year.hours_count_385_h1.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_385_h2.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_385_year.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">10</td>
        <td class="indicator-name">При <b>36-годинному</b> робочому тижні</td>
        <td>{{ data.year.hours_count_36_h1.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_36_h2.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_36_year.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">11</td>
        <td class="indicator-name">При <b>33-годинному</b> робочому тижні</td>
        <td>{{ data.year.hours_count_33_h1.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_33_h2.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_33_year.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">12</td>
        <td class="indicator-name">При <b>30-годинному</b> робочому тижні</td>
        <td>{{ data.year.hours_count_30_h1.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_30_h2.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_30_year.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">13</td>
        <td class="indicator-name">При <b>25-годинному</b> робочому тижні</td>
        <td>{{ data.year.hours_count_25_h1.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_25_h2.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_25_year.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">14</td>
        <td class="indicator-name">При <b>24-годинному</b> робочому тижні</td>
        <td>{{ data.year.hours_count_24_h1.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_24_h2.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_24_year.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">15</td>
        <td class="indicator-name">При <b>20-годинному</b> робочому тижні</td>
        <td>{{ data.year.hours_count_20_h1.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_20_h2.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_20_year.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">16</td>
        <td class="indicator-name">При <b>18-годинному</b> робочому тижні</td>
        <td>{{ data.year.hours_count_18_h1.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_18_h2.toFixed(1) }}</td>
        <td>{{ data.year.hours_count_18_year.toFixed(1) }}</td>
      </tr>
    </tbody>
  </table>

  <table v-show="quater === 'q1'" class="production-calendar-table period-q1">
    <thead>
      <tr>
        <th colspan="2">Показник</th>
        <th>Січень</th>
        <th>Лютий</th>
        <th>Березень</th>
        <th>І квартал</th>
      </tr>
    </thead>
    <tbody>
      <tr class="subheader">
        <td colspan="6">Кількість днів</td>
      </tr>
      <tr>
        <td class="rows-counter">1</td>
        <td class="indicator-name">Кількість календарних днів</td>
        <td>{{ data.q1.days_count_q1_m1 }}</td>
        <td>{{ data.q1.days_count_q1_m2 }}</td>
        <td>{{ data.q1.days_count_q1_m3 }}</td>
        <td>{{ data.q1.days_count_q1 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">2</td>
        <td class="indicator-name">Кількість святкових днів і днів релігійних свят</td>
        <td>{{ data.q1.days_count_national_holidays_q1_m1 }}</td>
        <td>{{ data.q1.days_count_national_holidays_q1_m2 }}</td>
        <td>{{ data.q1.days_count_national_holidays_q1_m3 }}</td>
        <td>{{ data.q1.days_count_national_holidays_q1 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">3</td>
        <td class="indicator-name">Кількість вихідних днів</td>
        <td>{{ data.q1.days_count_holidays_q1_m1 }}</td>
        <td>{{ data.q1.days_count_holidays_q1_m2 }}</td>
        <td>{{ data.q1.days_count_holidays_q1_m3 }}</td>
        <td>{{ data.q1.days_count_holidays_q1 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">4</td>
        <td class="indicator-name">Кількість днів, робота в які не проводиться</td>
        <td>{{ data.q1.not_working_days_count_q1_m1 }}</td>
        <td>{{ data.q1.not_working_days_count_q1_m2 }}</td>
        <td>{{ data.q1.not_working_days_count_q1_m3 }}</td>
        <td>{{ data.q1.not_working_days_count_q1 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">5</td>
        <td class="indicator-name">Кількість робочих днів</td>
        <td>{{ data.q1.working_days_count_q1_m1 }}</td>
        <td>{{ data.q1.working_days_count_q1_m2 }}</td>
        <td>{{ data.q1.working_days_count_q1_m3 }}</td>
        <td>{{ data.q1.working_days_count_q1 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">6</td>
        <td class="indicator-name">Кількість днів, що передують святковим та неробочим, в які тривалість робочого дня (зміни) при 40-годинному тижні зменшується на одну годину</td>
        <td>{{ data.q1.short_days_count_q1_m1 }}</td>
        <td>{{ data.q1.short_days_count_q1_m2 }}</td>
        <td>{{ data.q1.short_days_count_q1_m3 }}</td>
        <td>{{ data.q1.short_days_count_q1 }}</td>
      </tr>
      <tr class="subheader">
        <td colspan="6">Норма тривалості робочого часу, год.</td>
      </tr>
      <tr>
        <td class="rows-counter">7</td>
        <td class="indicator-name">При <b>40-годинному</b> робочому тижні</td>
        <td>{{ data.q1.hours_count_40_q1_m1.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_40_q1_m2.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_40_q1_m3.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_40_q1.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">8</td>
        <td class="indicator-name">При <b>39-годинному</b> робочому тижні</td>
        <td>{{ data.q1.hours_count_39_q1_m1.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_39_q1_m2.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_39_q1_m3.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_39_q1.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">9</td>
        <td class="indicator-name">При <b>38,5-годинному</b> робочому тижні</td>
        <td>{{ data.q1.hours_count_385_q1_m1.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_385_q1_m2.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_385_q1_m3.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_385_q1.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">10</td>
        <td class="indicator-name">При <b>36-годинному</b> робочому тижні</td>
        <td>{{ data.q1.hours_count_36_q1_m1.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_36_q1_m2.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_36_q1_m3.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_36_q1.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">11</td>
        <td class="indicator-name">При <b>33-годинному</b> робочому тижні</td>
        <td>{{ data.q1.hours_count_33_q1_m1.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_33_q1_m2.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_33_q1_m3.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_33_q1.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">12</td>
        <td class="indicator-name">При <b>30-годинному</b> робочому тижні</td>
        <td>{{ data.q1.hours_count_30_q1_m1.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_30_q1_m2.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_30_q1_m3.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_30_q1.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">13</td>
        <td class="indicator-name">При <b>25-годинному</b> робочому тижні</td>
        <td>{{ data.q1.hours_count_25_q1_m1.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_25_q1_m2.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_25_q1_m3.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_25_q1.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">14</td>
        <td class="indicator-name">При <b>24-годинному</b> робочому тижні</td>
        <td>{{ data.q1.hours_count_24_q1_m1.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_24_q1_m2.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_24_q1_m3.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_24_q1.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">15</td>
        <td class="indicator-name">При <b>20-годинному</b> робочому тижні</td>
        <td>{{ data.q1.hours_count_20_q1_m1.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_20_q1_m2.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_20_q1_m3.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_20_q1.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">16</td>
        <td class="indicator-name">При <b>18-годинному</b> робочому тижні</td>
        <td>{{ data.q1.hours_count_18_q1_m1.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_18_q1_m2.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_18_q1_m3.toFixed(1) }}</td>
        <td>{{ data.q1.hours_count_18_q1.toFixed(1) }}</td>
      </tr>
    </tbody>
  </table>

  <table v-show="quater === 'q2'" class="production-calendar-table period-q2">
    <thead>
      <tr>
        <th colspan="2">Показник</th>
        <th>Квітень</th>
        <th>Травень</th>
        <th>Червень</th>
        <th>ІІ квартал</th>
      </tr>
    </thead>
    <tbody>
      <tr class="subheader">
        <td colspan="6">Кількість днів</td>
      </tr>
      <tr>
        <td class="rows-counter">1</td>
        <td class="indicator-name">Кількість календарних днів</td>
        <td>{{ data.q2.days_count_q2_m1 }}</td>
        <td>{{ data.q2.days_count_q2_m2 }}</td>
        <td>{{ data.q2.days_count_q2_m3 }}</td>
        <td>{{ data.q2.days_count_q2 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">2</td>
        <td class="indicator-name">Кількість святкових днів і днів релігійних свят</td>
        <td>{{ data.q2.days_count_national_holidays_q2_m1 }}</td>
        <td>{{ data.q2.days_count_national_holidays_q2_m2 }}</td>
        <td>{{ data.q2.days_count_national_holidays_q2_m3 }}</td>
        <td>{{ data.q2.days_count_national_holidays_q2 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">3</td>
        <td class="indicator-name">Кількість вихідних днів</td>
        <td>{{ data.q2.days_count_holidays_q2_m1 }}</td>
        <td>{{ data.q2.days_count_holidays_q2_m2 }}</td>
        <td>{{ data.q2.days_count_holidays_q2_m3 }}</td>
        <td>{{ data.q2.days_count_holidays_q2 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">4</td>
        <td class="indicator-name">Кількість днів, робота в які не проводиться</td>
        <td>{{ data.q2.not_working_days_count_q2_m1 }}</td>
        <td>{{ data.q2.not_working_days_count_q2_m2 }}</td>
        <td>{{ data.q2.not_working_days_count_q2_m3 }}</td>
        <td>{{ data.q2.not_working_days_count_q2 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">5</td>
        <td class="indicator-name">Кількість робочих днів</td>
        <td>{{ data.q2.working_days_count_q2_m1 }}</td>
        <td>{{ data.q2.working_days_count_q2_m2 }}</td>
        <td>{{ data.q2.working_days_count_q2_m3 }}</td>
        <td>{{ data.q2.working_days_count_q2 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">6</td>
        <td class="indicator-name">Кількість днів, що передують святковим та неробочим, в які тривалість робочого дня (зміни) при 40-годинному тижні зменшується на одну годину</td>
        <td>{{ data.q2.short_days_count_q2_m1 }}</td>
        <td>{{ data.q2.short_days_count_q2_m2 }}</td>
        <td>{{ data.q2.short_days_count_q2_m3 }}</td>
        <td>{{ data.q2.short_days_count_q2 }}</td>
      </tr>
      <tr class="subheader">
        <td colspan="6">Норма тривалості робочого часу, год.</td>
      </tr>
      <tr>
        <td class="rows-counter">7</td>
        <td class="indicator-name">При <b>40-годинному</b> робочому тижні</td>
        <td>{{ data.q2.hours_count_40_q2_m1.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_40_q2_m2.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_40_q2_m3.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_40_q2.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">8</td>
        <td class="indicator-name">При <b>39-годинному</b> робочому тижні</td>
        <td>{{ data.q2.hours_count_39_q2_m1.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_39_q2_m2.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_39_q2_m3.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_39_q2.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">9</td>
        <td class="indicator-name">При <b>38,5-годинному</b> робочому тижні</td>
        <td>{{ data.q2.hours_count_385_q2_m1.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_385_q2_m2.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_385_q2_m3.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_385_q2.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">10</td>
        <td class="indicator-name">При <b>36-годинному</b> робочому тижні</td>
        <td>{{ data.q2.hours_count_36_q2_m1.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_36_q2_m2.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_36_q2_m3.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_36_q2.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">11</td>
        <td class="indicator-name">При <b>33-годинному</b> робочому тижні</td>
        <td>{{ data.q2.hours_count_33_q2_m1.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_33_q2_m2.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_33_q2_m3.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_33_q2.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">12</td>
        <td class="indicator-name">При <b>30-годинному</b> робочому тижні</td>
        <td>{{ data.q2.hours_count_30_q2_m1.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_30_q2_m2.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_30_q2_m3.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_30_q2.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">13</td>
        <td class="indicator-name">При <b>25-годинному</b> робочому тижні</td>
        <td>{{ data.q2.hours_count_25_q2_m1.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_25_q2_m2.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_25_q2_m3.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_25_q2.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">14</td>
        <td class="indicator-name">При <b>24-годинному</b> робочому тижні</td>
        <td>{{ data.q2.hours_count_24_q2_m1.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_24_q2_m2.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_24_q2_m3.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_24_q2.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">15</td>
        <td class="indicator-name">При <b>20-годинному</b> робочому тижні</td>
        <td>{{ data.q2.hours_count_20_q2_m1.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_20_q2_m2.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_20_q2_m3.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_20_q2.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">16</td>
        <td class="indicator-name">При <b>18-годинному</b> робочому тижні</td>
        <td>{{ data.q2.hours_count_18_q2_m1.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_18_q2_m2.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_18_q2_m3.toFixed(1) }}</td>
        <td>{{ data.q2.hours_count_18_q2.toFixed(1) }}</td>
      </tr>
    </tbody>
  </table>

  <table v-show="quater === 'q3'" class="production-calendar-table period-q3">
    <thead>
      <tr>
        <th colspan="2">Показник</th>
        <th>Липень</th>
        <th>Серпень</th>
        <th>Вересень</th>
        <th>ІІІ квартал</th>
      </tr>
    </thead>
    <tbody>
      <tr class="subheader">
        <td colspan="6">Кількість днів</td>
      </tr>
      <tr>
        <td class="rows-counter">1</td>
        <td class="indicator-name">Кількість календарних днів</td>
        <td>{{ data.q3.days_count_q3_m1 }}</td>
        <td>{{ data.q3.days_count_q3_m2 }}</td>
        <td>{{ data.q3.days_count_q3_m3 }}</td>
        <td>{{ data.q3.days_count_q3 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">2</td>
        <td class="indicator-name">Кількість святкових днів і днів релігійних свят</td>
        <td>{{ data.q3.days_count_national_holidays_q3_m1 }}</td>
        <td>{{ data.q3.days_count_national_holidays_q3_m2 }}</td>
        <td>{{ data.q3.days_count_national_holidays_q3_m3 }}</td>
        <td>{{ data.q3.days_count_national_holidays_q3 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">3</td>
        <td class="indicator-name">Кількість вихідних днів</td>
        <td>{{ data.q3.days_count_holidays_q3_m1 }}</td>
        <td>{{ data.q3.days_count_holidays_q3_m2 }}</td>
        <td>{{ data.q3.days_count_holidays_q3_m3 }}</td>
        <td>{{ data.q3.days_count_holidays_q3 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">4</td>
        <td class="indicator-name">Кількість днів, робота в які не проводиться</td>
        <td>{{ data.q3.not_working_days_count_q3_m1 }}</td>
        <td>{{ data.q3.not_working_days_count_q3_m2 }}</td>
        <td>{{ data.q3.not_working_days_count_q3_m3 }}</td>
        <td>{{ data.q3.not_working_days_count_q3 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">5</td>
        <td class="indicator-name">Кількість робочих днів</td>
        <td>{{ data.q3.working_days_count_q3_m1 }}</td>
        <td>{{ data.q3.working_days_count_q3_m2 }}</td>
        <td>{{ data.q3.working_days_count_q3_m3 }}</td>
        <td>{{ data.q3.working_days_count_q3 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">6</td>
        <td class="indicator-name">Кількість днів, що передують святковим та неробочим, в які тривалість робочого дня (зміни) при 40-годинному тижні зменшується на одну годину</td>
        <td>{{ data.q3.short_days_count_q3_m1 }}</td>
        <td>{{ data.q3.short_days_count_q3_m2 }}</td>
        <td>{{ data.q3.short_days_count_q3_m3 }}</td>
        <td>{{ data.q3.short_days_count_q3 }}</td>
      </tr>
      <tr class="subheader">
        <td colspan="6">Норма тривалості робочого часу, год.</td>
      </tr>
      <tr>
        <td class="rows-counter">7</td>
        <td class="indicator-name">При <b>40-годинному</b> робочому тижні</td>
        <td>{{ data.q3.hours_count_40_q3_m1.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_40_q3_m2.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_40_q3_m3.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_40_q3.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">8</td>
        <td class="indicator-name">При <b>39-годинному</b> робочому тижні</td>
        <td>{{ data.q3.hours_count_39_q3_m1.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_39_q3_m2.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_39_q3_m3.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_39_q3.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">9</td>
        <td class="indicator-name">При <b>38,5-годинному</b> робочому тижні</td>
        <td>{{ data.q3.hours_count_385_q3_m1.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_385_q3_m2.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_385_q3_m3.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_385_q3.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">10</td>
        <td class="indicator-name">При <b>36-годинному</b> робочому тижні</td>
        <td>{{ data.q3.hours_count_36_q3_m1.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_36_q3_m2.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_36_q3_m3.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_36_q3.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">11</td>
        <td class="indicator-name">При <b>33-годинному</b> робочому тижні</td>
        <td>{{ data.q3.hours_count_33_q3_m1.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_33_q3_m2.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_33_q3_m3.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_33_q3.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">12</td>
        <td class="indicator-name">При <b>30-годинному</b> робочому тижні</td>
        <td>{{ data.q3.hours_count_30_q3_m1.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_30_q3_m2.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_30_q3_m3.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_30_q3.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">13</td>
        <td class="indicator-name">При <b>25-годинному</b> робочому тижні</td>
        <td>{{ data.q3.hours_count_25_q3_m1.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_25_q3_m2.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_25_q3_m3.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_25_q3.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">14</td>
        <td class="indicator-name">При <b>24-годинному</b> робочому тижні</td>
        <td>{{ data.q3.hours_count_24_q3_m1.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_24_q3_m2.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_24_q3_m3.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_24_q3.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">15</td>
        <td class="indicator-name">При <b>20-годинному</b> робочому тижні</td>
        <td>{{ data.q3.hours_count_20_q3_m1.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_20_q3_m2.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_20_q3_m3.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_20_q3.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">16</td>
        <td class="indicator-name">При <b>18-годинному</b> робочому тижні</td>
        <td>{{ data.q3.hours_count_18_q3_m1.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_18_q3_m2.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_18_q3_m3.toFixed(1) }}</td>
        <td>{{ data.q3.hours_count_18_q3.toFixed(1) }}</td>
      </tr>
    </tbody>
  </table>

  <table v-show="quater === 'q4'" class="production-calendar-table period-q4">
    <thead>
      <tr>
        <th colspan="2">Показник</th>
        <th>Жовтень</th>
        <th>Листопад</th>
        <th>Грудень</th>
        <th>ІV квартал</th>
      </tr>
    </thead>
    <tbody>
      <tr class="subheader">
        <td colspan="6">Кількість днів</td>
      </tr>
      <tr>
        <td class="rows-counter">1</td>
        <td class="indicator-name">Кількість календарних днів</td>
        <td>{{ data.q4.days_count_q4_m1 }}</td>
        <td>{{ data.q4.days_count_q4_m2 }}</td>
        <td>{{ data.q4.days_count_q4_m3 }}</td>
        <td>{{ data.q4.days_count_q4 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">2</td>
        <td class="indicator-name">Кількість святкових днів і днів релігійних свят</td>
        <td>{{ data.q4.days_count_national_holidays_q4_m1 }}</td>
        <td>{{ data.q4.days_count_national_holidays_q4_m2 }}</td>
        <td>{{ data.q4.days_count_national_holidays_q4_m3 }}</td>
        <td>{{ data.q4.days_count_national_holidays_q4 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">3</td>
        <td class="indicator-name">Кількість вихідних днів</td>
        <td>{{ data.q4.days_count_holidays_q4_m1 }}</td>
        <td>{{ data.q4.days_count_holidays_q4_m2 }}</td>
        <td>{{ data.q4.days_count_holidays_q4_m3 }}</td>
        <td>{{ data.q4.days_count_holidays_q4 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">4</td>
        <td class="indicator-name">Кількість днів, робота в які не проводиться</td>
        <td>{{ data.q4.not_working_days_count_q4_m1 }}</td>
        <td>{{ data.q4.not_working_days_count_q4_m2 }}</td>
        <td>{{ data.q4.not_working_days_count_q4_m3 }}</td>
        <td>{{ data.q4.not_working_days_count_q4 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">5</td>
        <td class="indicator-name">Кількість робочих днів</td>
        <td>{{ data.q4.working_days_count_q4_m1 }}</td>
        <td>{{ data.q4.working_days_count_q4_m2 }}</td>
        <td>{{ data.q4.working_days_count_q4_m3 }}</td>
        <td>{{ data.q4.working_days_count_q4 }}</td>
      </tr>
      <tr>
        <td class="rows-counter">6</td>
        <td class="indicator-name">Кількість днів, що передують святковим та неробочим, в які тривалість робочого дня (зміни) при 40-годинному тижні зменшується на одну годину</td>
        <td>{{ data.q4.short_days_count_q4_m1 }}</td>
        <td>{{ data.q4.short_days_count_q4_m2 }}</td>
        <td>{{ data.q4.short_days_count_q4_m3 }}</td>
        <td>{{ data.q4.short_days_count_q4 }}</td>
      </tr>
      <tr class="subheader">
        <td colspan="6">Норма тривалості робочого часу, год.</td>
      </tr>
      <tr>
        <td class="rows-counter">7</td>
        <td class="indicator-name">При <b>40-годинному</b> робочому тижні</td>
        <td>{{ data.q4.hours_count_40_q4_m1.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_40_q4_m2.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_40_q4_m3.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_40_q4.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">8</td>
        <td class="indicator-name">При <b>39-годинному</b> робочому тижні</td>
        <td>{{ data.q4.hours_count_39_q4_m1.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_39_q4_m2.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_39_q4_m3.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_39_q4.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">9</td>
        <td class="indicator-name">При <b>38,5-годинному</b> робочому тижні</td>
        <td>{{ data.q4.hours_count_385_q4_m1.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_385_q4_m2.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_385_q4_m3.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_385_q4.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">10</td>
        <td class="indicator-name">При <b>36-годинному</b> робочому тижні</td>
        <td>{{ data.q4.hours_count_36_q4_m1.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_36_q4_m2.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_36_q4_m3.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_36_q4.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">11</td>
        <td class="indicator-name">При <b>33-годинному</b> робочому тижні</td>
        <td>{{ data.q4.hours_count_33_q4_m1.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_33_q4_m2.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_33_q4_m3.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_33_q4.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">12</td>
        <td class="indicator-name">При <b>30-годинному</b> робочому тижні</td>
        <td>{{ data.q4.hours_count_30_q4_m1.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_30_q4_m2.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_30_q4_m3.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_30_q4.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">13</td>
        <td class="indicator-name">При <b>25-годинному</b> робочому тижні</td>
        <td>{{ data.q4.hours_count_25_q4_m1.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_25_q4_m2.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_25_q4_m3.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_25_q4.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">14</td>
        <td class="indicator-name">При <b>24-годинному</b> робочому тижні</td>
        <td>{{ data.q4.hours_count_24_q4_m1.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_24_q4_m2.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_24_q4_m3.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_24_q4.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">15</td>
        <td class="indicator-name">При <b>20-годинному</b> робочому тижні</td>
        <td>{{ data.q4.hours_count_20_q4_m1.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_20_q4_m2.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_20_q4_m3.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_20_q4.toFixed(1) }}</td>
      </tr>
      <tr>
        <td class="rows-counter">16</td>
        <td class="indicator-name">При <b>18-годинному</b> робочому тижні</td>
        <td>{{ data.q4.hours_count_18_q4_m1.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_18_q4_m2.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_18_q4_m3.toFixed(1) }}</td>
        <td>{{ data.q4.hours_count_18_q4.toFixed(1) }}</td>
      </tr>
    </tbody>
  </table>

</template>

<script>

export default {

  name: 'CalendarProduction',

  props: {
    data: Object,
    year: Number,
    quater: String
  },

  data: () => {
    return {
    }
  },

  mounted(){
    //this.recalculate()
  },

  computed: {
    // date() {
    //   return new Date(`${this.Year}-${String(this.Month).padStart(2, '0')}-01`)
    // },
    // monthName() {
    //   let name = format(this.date, 'LLLL', { locale: locale_uk })
    //   return name ? name : ''
    // },
    // mq() {
    //   return getQuarter(this.date)
    // },
    // mn() {
    //   return this.Month%3 ? this.Month%3 : 3
    // }
  },

  watch:{
    data: {
      deep: true,
      handler() {
        // this.recalculate()
      }
    },
    // Year() {
    //   this.recalculate()
    // },
    // Month() {
    //   this.recalculate()
    // }
  },

  methods: {

    // recalculate() {
    //   this.hours_count_40 = this.getParamsByName('hours_count_40').toFixed(1)
    //   this.working_days_count = this.getParamsByName('working_days_count')
    //   this.not_working_days_count = this.getParamsByName('not_working_days_count')
    //   this.days_count_national_holidays = this.getParamsByName('days_count_national_holidays')
    //   this.days_count_holidays = this.getParamsByName('days_count_holidays')
    //   this.short_days_count = this.getParamsByName('short_days_count')
    // },

    // getParamsByName(paramName) {
    //   return this.data && this.data[`q${this.mq}`] && this.data[`q${this.mq}`][`${paramName}_q${this.mq}_m${this.mn}`] ? this.data[`q${this.mq}`][`${paramName}_q${this.mq}_m${this.mn}`] : 0
    // }
  }

}

</script>
