<template>
  <div v-show="showScreen" class="edit-screen-wrapper">
    <div class="edit-screen">
      <div @click="screenClosed" class="close-button icon icon-close"></div>
      <div class="edit-page-title">Редагування відповіді</div>
      <div class="edit-page-question" v-html="item.question"></div>
      <div class="consultation-edit-form">
        <form action="#">
          <textarea id="editConsultation" name="answer" placeholder="" v-model="item.answer"></textarea>
        </form>
        <div :class="{active: filename.length}" class="expert-file"><a target="_blank" :href="item.file_expert ? item.file_expert.uri : '' ">{{ filename }}</a>
          <i @click="removeFile" class="icon icon-cancel"></i>
        </div>
        <label :class="{active: !filename.length}" class="file-upload">
          <span class="file-upload-label">{{ filename.length ? filename : 'Прикріпити файл' }}</span><i class="icon icon-clip"></i>
          <input @change="updateFileNameLabel" ref="file" name="file" type="file">
        </label>
        <div class="form-actions">
          <div @click="screenClosed" class="form-cancel">Назад до переліку</div>
          <div @click="save(false)" class="form-save">Зберегти</div>
          <div @click="save(true)" class="form-submit">Надати Відповідь</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="js">

import { mapState } from 'vuex'
import { mapGetters } from 'vuex'
import { mapMutations } from 'vuex'
import qs from 'qs';
import axios from 'axios'

export default {

  props: {
    item: Object,
    showScreen: Boolean,
  },

  data: () => { return {
    filename: '',
    question: '',
    loading: false
  }},

  mounted () {
    drupalSettings.editor =  { "formats":{"html_expert":{"format":"html_expert","editor":"ckeditor","editorSettings":{"allowedContent":true,"contentsCss":["/core/modules/ckeditor/css/ckeditor-iframe.css","/core/modules/system/css/components/align.module.css","/themes/konsultant_v3/dist/css/ckeditor.css"],"customConfig":"","disableNativeSpellChecker":false,"disallowedContent":false,"drupalExternalPlugins":[],"entities":false,"extraPlugins":"","justifyClasses":["text-align-left","text-align-center","text-align-right","text-align-justify"],"language":"uk","pasteFromWordPromptCleanup":true,"resize_dir":"vertical","stylesSet":false,"toolbar":[{"name":"Форматування","items":["Bold","Italic","Underline","Strike","RemoveFormat","JustifyLeft","JustifyCenter","JustifyRight","JustifyBlock"]},{"name":"Списки","items":["BulletedList","NumberedList"]},{"name":"Медіа","items":["Blockquote","Table"]},{"name":"Інструменти","items":["Undo","Redo"]},"/"]},"editorSupportsContentFiltering":true,"isXssSafe":false}}}
    Drupal.editorAttach(document.getElementById('editConsultation'), drupalSettings.editor.formats.html_expert)
  },

  methods: {

    removeFile() {
      this.$refs.file.value = null
      this.filename = ''
    },

    updateFileNameLabel (e) {
      return e.target.files.length ? e.target.files[0].split('\\').slice(-1)[0] : '';
    },

    screenClosed(){
      this.$emit('closed')
    },

    screenSubmitted(){
      this.$emit('submitted')
    },

    load() {
      axios.post('/system/request/getConsultation',
        qs.stringify( { params: JSON.stringify({id: this.item.id}) } ),
        {
          emulateJSON: true,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
          }
        }
      ).then((response) => {
        if (response && response.data && response.data.data && response.data.error === 0 ) {
          let data = response.data.data
          if ( data.file_expert ) {
            this.item.file_expert = data.file_expert
            this.filename = data.file_expert.name
          }
          CKEDITOR.instances.editConsultation.setData(data.answer)
        }
      })
    },

    save (submit) {
      let answer = CKEDITOR.instances.editConsultation.getData()
      let params = {
        cid: this.item.id,
        answer: answer
      }
      let files = this.$refs.file.files
      if ( files.length ) {
        params.file = files[0]
      }
      params.removeFile = this.item.file_expert && !params.file;
      let formData = new FormData();
      if ( params.file ) {
        formData.append('file', params.file)
      }
      formData.append("params", JSON.stringify(params));
      axios.post('/system/request/' + (submit ? 'submitAnswer' : 'saveConsultation'),
        formData,
        {
          emulateJSON: true,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
          }
        }
      ).then((response) => {
        console.log(response)
        if (response && response.data && response.data.data && response.data.data.result ) {
          this.loading = false
          this.screenSubmitted()
        }
      })
    }

  },

  computed: {

    ...mapState([
      'system',
      'activeModule'
    ]),

    buttonLabel() {
      return this.filename.length ? this.filename : 'Прикріпити файл'
    },

    type() {
      switch (this.activeModule) {
        case 'accountinglogs':
        case 'accountinglog':
        case 'examples':
        case 'example':
        case 'instructions':
        case 'instruction':
          return 'request'
        break;
        default:
          return 'consultation'
        break;
      }
    }

  },

  watch: {

    file() {
      this.filename = this.file ? this.file.name : ''
    },

    showScreen(after, before) {
      if ( after && !before && this.item.id) {
        this.load()
      }
    }

  }

}

</script>

<style lang="scss" scoped>

  @import '../styles/_colors.scss';
  @import '../styles/_fonts.scss';

  .edit-screen-wrapper {
    display: flex;
    position: fixed;
    align-items: flex-end;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 27, 34, 0.91);
    backdrop-filter: blur(1px);

    .edit-page-question {
      font-family: $font-regular;
      font-size: 14px;
      color: #1a171b;
      padding-bottom: 30px;
    }

    .edit-page-title {
      font-family: $font-medium;
      font-size: 24px;
      color: #1a171b;
      padding-bottom: 30px;
    }

    .close-button {
      color: #202124;
      font-size: 26px;
      font-size: 26px;
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }

    .edit-screen {
      width: 100%;
      box-sizing: border-box;
      background-color: #fff;
      padding: 70px 92px 100px;
      color: #202124;
      position: relative;
      max-height: 100%;
      overflow-y: auto;

      .popup-label {
        font-family: $font-medium;
        font-size: 20px;
        color: #202124;
        margin-bottom: 25px;
      }

      .popup-tip {
        font-family: $font-medium;
        font-size: 12px;
        color: #797979;
        clear: both;
        float: left;
        line-height: 1.5;

        .highlight {
          font-family: $font-medium;
        }

      }

      form {
        margin-bottom: 30px;

        textarea {
          width: 100%;
          display: block;
          resize: none;
          box-sizing: border-box;
          border-radius: 10px;
          font-family: $font-regular;
          font-size: 16px;
          color: #231f20;
          padding: 28px;
          height: 220px;
          outline: none;
          border: none;
          background-color: #f5f5f7;
          margin-bottom: 20px;

          &::-webkit-input-placeholder {
            color: #8c9297;
          }

          &::-moz-placeholder {
            color: #8c9297;
          }

          &:-ms-input-placeholder {
            color: #8c9297;
          }

          &:-moz-placeholder {
            color: #8c9297;
          }

        }

        .form-actions {
          float: right;

          .file-upload {
            position: relative;
            overflow: hidden;
            height: 44px;
            box-sizing: border-box;
            margin-right: 20px;
            cursor: pointer;

            .file-upload-label {
              color: #797979;
              display: inline-block;
              vertical-align: middle;
              border-radius: 6px;
              height: 44px;
              padding: 0 30px;
              line-height: 44px;
              font-size: 16px;
              background-color: #f5f5f7;
              overflow-x: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .icon {
              display: inline-block;
              vertical-align: middle;
              color: $color-red;
              font-size: 22px;
              margin-right: 15px;
              line-height: 44px;

              &:before {
                vertical-align: middle;
              }

            }

            input {
              z-index: -1;
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              right: 0;
              width: 100%;
              opacity: 0
            }

          }

          .form-submit {
            float: right;
            height: 44px;
            border-radius: 6px;
            background-color: $color-red;
            color: #fff;
            font-family: $font-medium;
            font-size: 16px;
            text-align: center;
            min-width: 146px;
            box-sizing: border-box;
            line-height: 44px;
            padding: 0 30px;
            cursor: pointer;

            &.disabled {
              background-color: #ccc!important;
              cursor: default;
            }

          }

        }

      }

    }

  }

</style>
