<template>
<div class="expert">
  <img v-if="expert.photo" class="photo" :src="expert.photo" />
  <div class="expert-info">
    <div class="expert-name">{{ expert.fio }},</div>
    <div class="expert-position">{{ expert.position }}</div>
  </div>
</div>
</template>

<script lang="js">

export default {

  props: {
    expert: Object
  }

}

</script>
