<template>
  <div class="filter-wrapper">
    <div :data-filter="filters.id" class="filter" :class="{active: filterIsActive}">
      <span v-if="hasChildren" class="tree-node" :class="{active: subfiltersOpened}" v-on:click="treeNodeClick">
        <span class="tree-plus icon icon-down"></span><span class="tree-minus icon icon-up"></span>
      </span>
      <span :class="{group: hasChildren}" class="filter-label" v-on:click="filterClick(filters)"><span v-if="!hasChildren" class="label-dot icon icon-circle"></span>{{ filters.label }}</span>
    </div>
    <div v-if="hasChildren" class="subfilters-wrapper" :class="{active: subfiltersOpened}">
      <FilterItem v-for="item in filters.subtree" v-bind:key="item.id" :filters="item" />
    </div>
  </div>
</template>

<script lang="js">

import { mapMutations } from 'vuex';

export default {

  props: [
    'filters',
  ],

  data: () => {
    return {
      subfiltersOpened: false,
      selected: false
    }
  },

  name: 'FilterItem',

  computed: {
    hasChildren () {
      return typeof this.filters.subtree !== 'undefined' &&  this.filters.subtree.length
    },
    filterIsActive () {
      return this.$store.getters.currentFiltersIds.indexOf(this.filters.id) !== -1
    }
  },

  methods: {
    ...mapMutations([
      'toggleFilter',
      'hideFilters',
      'removeFilter'
    ]),
    filterClick (filter) {
      this.toggleFilter(filter)
      this.hideFilters()
    },
    treeNodeClick () {
      this.subfiltersOpened = !this.subfiltersOpened
    }
  }

}

</script>

<style lang="scss" scoped>
  @import '../styles/_colors.scss';
  @import '../styles/fonts.scss';

  .filter {
    line-height: 31px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 12px;
    text-align: left;
    float: none;
    font-family: $font-medium;
    color: #606870;
    font-size: 13px;
    transition: all 0.1s linear;
    border: 1px solid transparent;

    .filter-label {
      cursor: pointer;

      &.group {
        font-family: $font-bold;
      }

      .label-dot {
        font-size: 3px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 9px;
        margin-left: 5px;
      }

    }

    .tree-node {
      display: inline-block;
      position: relative;
      top: 1px;
      font-size: 20px;
      line-height: 1;
      width: 16px;
      text-align: center;

      .tree-minus {
        font-weight: bold;
        display: none;
      }

      .tree-plus, .tree-minus {
        cursor: pointer;
      }

      &.active {

        .tree-plus {
          display: none;
        }

        .tree-minus {
          display: inline-block;
        }

      }

    }

    &.active {
      color: $color-blue;
    }

    &.filters-clear.active {
      cursor: default;
    }

  }

  .tree-plus.icon,
  .tree-minus.icon {
    font-size: 12px;
    margin-right: 5px;
  }

</style>
