<template>
  <div v-if="show_help_screen" class="help-screen-wrapper">
    <div class="help-screen">
      <div @click="hideHelpScreen" class="close-button icon icon-close"></div>
      <div class="consultation-form-create">
        <div class="popup-label">Центр підтримки</div>
        <div class="popup-tip">Якщо у вас виникли труднощі при роботі з електронними виданнями, будь ласка, заповніть всі поля форми та опишіть ситуацію в полі <b>«Коментарі»</b>. Наш менеджер зв’яжеться з вами, щоб надати необхідні вказівки й допомогу.</div>
        <form action="#">
          <input id="newcid" type="hidden" name="newcid" value="0"/>
          <textarea name="question" placeholder="Ваше питання" v-model="question"></textarea>
          <div class="form-actions">
            <div @click="formSubmit" :class="{disabled: !question.length}" class="form-submit"><span v-if="!loading" class="button-text">Надіслати</span><span v-if="loading" class="cssload-zenith"></span></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="js">

import { mapState } from 'vuex'
import { mapGetters } from 'vuex'
import { mapMutations } from 'vuex'
import qs from 'qs';
import axios from 'axios'

export default {

  data: () => { return {
    filename: '',
    file: false,
    question: '',
    loading: false
  }},

  methods: {

    ...mapMutations([
      'hideHelpScreen'
    ]),

    formSubmit() {

      var params = {
        question: this.question,
        type: 'help'
      };

      if (this.question.length && !this.loading) {

        this.loading = true
        var formData = new FormData();
        formData.append("params", JSON.stringify(params));

        axios.post('/system/request/createConsultation',
        formData,
        {
          emulateJSON: true,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
          }
        }
        ).then((response) => {
          if (response.data.data.newcid) {
            this.loading = false
            this.hideHelpScreen()
          }
        })

      };
    },

  },

  computed: {

    ...mapState([
      'system',
      'show_help_screen',
      'activeModule'
    ])

  }

}

</script>

<style lang="scss" scoped>

  @import '../styles/_colors.scss';
  @import '../styles/_fonts.scss';

  .help-screen-wrapper {
    display: flex;
    position: fixed;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 11, 21, 0.91);
    backdrop-filter: blur(1px);

    .close-button {
      color: #202124;
      font-size: 26px;
      font-size: 26px;
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }

    .help-screen {
      width: 645px;
      height: 100%;
      box-sizing: border-box;
      background-color: #fff;
      padding: 70px 92px 100px;
      color: #202124;
      position: relative;

      .popup-label {
        font-family: $font-medium;
        font-size: 40px;
        color: #202124;
        margin-bottom: 40px;
      }

      .popup-tip {
        font-family: $font-medium;
        font-size: 16px;
        color: #797979;
        clear: both;
        line-height: 1.5;
        margin-bottom: 40px;

        .highlight {
          font-family: $font-medium;
        }

      }

      form {
        margin-bottom: 30px;

        textarea {
          width: 100%;
          display: block;
          resize: none;
          box-sizing: border-box;
          border-radius: 10px;
          font-family: $font-regular;
          font-size: 16px;
          color: #231f20;
          padding: 28px;
          height: 220px;
          outline: none;
          border: none;
          background-color: #f5f5f7;
          margin-bottom: 20px;

          &::-webkit-input-placeholder {
            color: #8c9297;
          }

          &::-moz-placeholder {
            color: #8c9297;
          }

          &:-ms-input-placeholder {
            color: #8c9297;
          }

          &:-moz-placeholder {
            color: #8c9297;
          }

        }

        .form-actions {

          .form-submit {
            height: 44px;
            border-radius: 6px;
            background-color: $color-red;
            color: #fff;
            font-family: $font-medium;
            font-size: 16px;
            text-align: center;
            width: 100%;
            box-sizing: border-box;
            line-height: 44px;
            padding: 0 30px;
            cursor: pointer;

            &.disabled {
              background-color: #ccc!important;
              cursor: default;
            }

          }

        }

      }

    }

  }

</style>
