<template>
  <div v-if="show_login_screen" class="login-screen-wrapper">
    <div @click="hideLoginScreen" class="close-button icon icon-close"></div>
    <div class="login-screen">
      <div class="logo"><img :src="system_logo_login" /><div class="system-name" v-html="system.name"></div></div>
      <div class="login-message">Інформація відкрита тільки для передплатників.<br />У вільному доступі розділ «Новини». Відділ клієнтської підтримки 0 800 213 787</div>
      <div class="buy-button">
        <a target="_blank" :href="buy_link" >Безоплатний доступ</a>
      </div>
      <div class="login-or-message">або</div>
      <div v-if="loginError" class="login-error">Невідомі ім’я користувача або пароль</div>
      <form @submit.prevent="submit" class="user-login-form" data-drupal-selector="user-login-form" method="post" id="user-login-form" accept-charset="UTF-8">
        <div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name form-no-label">
          <input v-model="name" autocorrect="none" autocapitalize="none" spellcheck="false" autofocus="autofocus" placeholder="Логін" data-drupal-selector="edit-name" type="text" id="edit-name" name="name" size="60" maxlength="60" class="form-text required" required="required" aria-required="true" autocomplete="off" />
        </div>
        <div class="js-form-item form-item js-form-type-password form-item-pass js-form-item-pass form-no-label">
          <input v-model="pass" placeholder="Пароль" data-drupal-selector="edit-pass" type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="form-text required" required="required" aria-required="true" autocomplete="off">
        </div>
        <input autocomplete="off" type="hidden" name="form_build_id" value="" />
        <input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id" value="user_login_form" />
        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
          <input @click.prevent="submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Увійти" class="button js-form-submit form-submit" />
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="js">

import { mapState } from 'vuex'
import { mapGetters } from 'vuex'
import { mapMutations } from 'vuex'
import qs from 'qs'
import axios from 'axios'

export default {

  data: () => { return {
    name: '',
    pass: '',
    loginError: false
  }},

  methods: {

    ...mapMutations([
      'hideLoginScreen'
    ]),

    submit() {
      this.loginError = false
      if ( this.name.length && this.pass.length ) {
        axios.post('/user/login?_format=json',
        { name: this.name, pass: this.pass },
        {
          emulateJSON: true,
          headers: {
            'Content-Type': 'application/json'
          }
        }
        ).then(response => {
          if ( response && response.data && response.data.logout_token && response.data.logout_token.length ) {
            let destination = window.location.pathname
            window.location.href = '/user/login' + ( typeof destination !== 'undefined' && destination.length ? ('?destination=' + encodeURI(destination)) : '' )
          } else {
            this.loginError = true
          }
        }).catch(error => {
          this.loginError = true
        })
      }
    }

  },

  computed: {

    ...mapState([
      'system',
      'buy_link',
      'show_login_screen',
      'system_logo_login'
    ])

  },

}

</script>

<style lang="scss" scoped>

  @import '../styles/_fonts.scss';

  .login-error {
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
  }

  .login-screen-wrapper {
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 11, 21, 0.91);
    backdrop-filter: blur(6px);

    .close-button {
      color: #fff;
      font-size: 26px;
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }

    .login-screen {
      margin: 0 auto;
      color: #fff;

      .logo {
        text-align: center;
        margin-bottom: 25px;
      }

      .system-name {
        font-size: 38px;
        font-family: $font-black;
      }

      .login-message {
        font-size: 20px;
        opacity: 0.5;
        font-family: $font-medium;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 25px;
      }

      .login-or-message {
        font-size: 20px;
        opacity: 0.5;
        font-family: $font-medium;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 25px;
      }

      .buy-button {
        margin-bottom: 25px;

        a {
          color: #fff;
          display: block;
          margin: 0 auto;
          width: 270px;
          box-sizing: border-box;
          border: 1px solid #fff;
          border-radius: 5px;
          font-size: 16px;
          text-decoration: none;
          font-family: $font-bold;
          height: 50px;
          line-height: 50px;
          text-align: center;
        }

      }

      .user-login-form {

        .js-form-item input {
          color: #666;
          display: block;
          margin: 0 auto;
          width: 270px;
          box-sizing: border-box;
          background-color: #fff;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          text-decoration: none;
          font-family: $font-regular;
          height: 50px;
          text-align: left;
          margin-bottom: 8px;
          padding: 17px;
        }

        .form-actions input {
          color: #fff;
          display: block;
          margin: 0 auto;
          width: 270px;
          box-sizing: border-box;
          background-color: #eb5109;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          text-decoration: none;
          font-family: $font-bold;
          height: 50px;
          line-height: 50px;
          text-align: center;
          cursor: pointer;
        }

      }

    }

  }

</style>
