<template>
  <div class="login-button-wrapper">
    <div v-if="!isAuthenticatedUser" @click="showLoginScreen" class="login-button unselectable">Вхід</div>
    <div v-if="isAuthenticatedUser" class="level-label unselectable"><span>{{ level_label }}</span> <span class="icon" :class="'icon-' + level"></span></div>
  </div>
</template>

<script lang="js">

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';

export default {

  computed: {

    ...mapState([
      'level',
      'level_label'
    ]),

    ...mapGetters([
      'isAuthenticatedUser'
    ])

  },

  methods: {
    ...mapMutations([
      'showLoginScreen'
    ])
  }

}

</script>

<style lang="scss" scoped>

  @import '../styles/_fonts.scss';

  .login-button-wrapper {
    display: block;
    float: right;

    .login-button {
      padding: 8px 30px;
      cursor: pointer;
      background-color: #eb520b;
      color: #fff;
      font-size: 14px;
      font-family: $font-medium;
      border-radius: 5px;
    }

    .level-label {
      color: #797979;
      font-size: 13px;
      vertical-align: middle;

      .icon {
        margin-left: 5px;
        color: #eb5c11;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
      }

    }



  }

</style>
