<template>
<div class="profile-menu-wrapper">
  <div class="system-menu">
    <router-link @click="mobileMenuHide" v-if="isAuthenticatedUser" to="/profile" class="menu-item">
      <i title="Мій профіль" class="icon-profile"></i><span class="menu-item-name">Мій профіль</span>
    </router-link>
    <router-link @click="mobileMenuHide" v-if="isAuthenticatedUser" to="/messages" class="menu-item menu-messages">
      <i title="Повідомлення" class="icon-mail"><span v-show="newMessagesCount" class="menu-bubble">{{ newMessagesCount }}</span></i><span class="menu-item-name">Повідомлення</span>
    </router-link>
    <router-link @click="mobileMenuHide" v-if="isAuthenticatedUser && modules.consultations" :to="'/consultations/' + ( isExpert ? 'expert' : 'own') " class="menu-item menu-consultations">
      <i :title="isExpert ? 'Запити на відповіді' : 'Мої запитання-відповіді'" class="icon-answers"><span v-show="newConsultationsCount" class="menu-bubble">{{ newConsultationsCount }}</span></i>
      <span v-if="isExpert" class="menu-item-name">Запити на відповіді</span>
      <span v-if="!isExpert" class="menu-item-name">Мої запитання-відповіді</span>
    </router-link>
    <router-link @click="mobileMenuHide" v-if="isAuthenticatedUser && isExpert" to="/consultations/archive" class="menu-item menu-consultations">
      <i title="Архів відповідей" class="icon-archive"></i><span class="menu-item-name">Архів відповідей</span>
    </router-link>
    <router-link @click="mobileMenuHide" v-if="isAuthenticatedUser" to="/favorites" class="menu-item">
      <i title="Збережені файли" class="icon-save"></i><span class="menu-item-name">Збережені файли</span>
    </router-link>
    <router-link @click="mobileMenuHide" v-if="isAuthenticatedUser && !isExpert && modules.calendar" to="/calendar" class="menu-item menu-item-general-calendar menu-calendar">
      <i title="Події" class="icon-calendar-1"><span v-show="newEventsCount" class="menu-bubble">!</span></i><span class="menu-item-name">Події</span>
    </router-link>
    <span v-if="isAuthenticatedUser && !isExpert" @click="showHelpScreen" class="menu-item">
      <i title="Зв'язок із менеджером" class="icon-help"></i><span class="menu-item-name">Зв'язок із менеджером</span>
    </span>
    <a @click="mobileMenuHide" v-if="isAuthenticatedUser" href="/user/logout" class="menu-item">
      <i title="Вихід" class="icon-logout"></i><span class="menu-item-name">Вихід</span>
    </a>
  </div>
</div>
</template>

<script lang="js">

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';

export default {

  mounted () {
  },

  computed: {

    ...mapState([
      'newEventsCount',
      'newMessagesCount',
      'newConsultationsCount',
      'modules',
      'user',
    ]),

    ...mapGetters([
      'isAuthenticatedUser',
      'isExpert',
    ])

  },

  methods: {

    ...mapMutations([
      'mobileMenuHide',
      'showHelpScreen'
    ])

  }

}
</script>

<style lang="scss">
</style>
