<template>
  <div class="profile-menu">
    <a v-if="isAuthenticatedUser" class="menu-item menu-item-exit" href="/user/logout">
      <i class="icon-exit"></i>
      <div class="menu-tip">Вихід</div>
    </a>
    <a v-if="!isAuthenticatedUser" href="/user/login" class="menu-item menu-item-login">
      <i class="icon-profile"></i>
      <div class="menu-tip">Вхід</div>
    </a>
  </div>
</template>

<script lang="js">

import { mapGetters } from 'vuex';

export default {

  mounted () {
  },

  computed: {
    ...mapGetters([
      'isAuthenticatedUser'
    ])
  }
}
</script>

<style lang="scss">
</style>
