<template>
<div class="system-menu-wrapper unselectable">
  <div id="system-menu" class="system-menu">
    <component @click="mobileMenuHide" :class="{active: item.id == activeModule }" :is="item.external ? 'a' : 'router-link'" :target="item.external ? '_blank' : '_self'" v-for="item in items" v-bind:key="item.path" :to="item.path" :href="item.path" class="menu-item">
      <i :title="item.name" :class="item.class"></i><span class="menu-item-name">{{ item.name }}</span>
    </component>
  </div>
</div>
</template>

<script lang="js">

import { each } from 'underscore'
import { mapState } from 'vuex';
import { mapMutations } from 'vuex';

export default {

  computed: {

    ...mapState([
      'activeModule',
      'shop_link',
      'modules'
    ]),

    items () {
      let items = []
      each(this.modules, module => {
        items.push({
          id: module.id,
          path: '/' + module.id,
          class: 'icon-' + module.id,
          external: false,
          name: module.menu_name,
        })
      })
      if ( this.shop_link.length ) {
        items.push({
          id: 'shop',
          path: this.shop_link,
          external: true,
          class: 'icon-shop',
          name: 'Магазин',
        })
      }
      return items;
    }

  },

  methods: {

    ...mapMutations([
      'mobileMenuHide'
    ])

  }

}
</script>
