<template>
  <div v-if="hasItems || hasChildren || isUrl " class="tree-item-wrapper">
    <component :data-oin="items.number ? items.number : ''" @click="subfiltersOpened = !subfiltersOpened" :is="isUrl ? 'router-link' : 'div'" :to="isUrl ? items.url : '/'" class="tree-item" :class="{'wo-subtree': !hasChildren && !hasItems}">{{ isUrl ? items.title : items.label }}</component>
    <div v-if="hasItems || hasChildren" :class="{active: subfiltersOpened}" class="subtree-wrapper">
      <OrientationItem v-for="item in subItems" v-bind:key="item.id" :items="item" />
    </div>
  </div>
</template>

<script lang="js">

export default {

  props: [
    'items',
  ],

  data: () => {
    return {
      subfiltersOpened: false,
      selected: false
    }
  },

  name: 'OrientationItem',

  computed: {

    subItems() {
      return this.hasItems ? this.items.items : this.items.subtree
    },

    isUrl() {
      return typeof this.items.url !== 'undefined'
    },

    hasChildren () {
      return typeof this.items.subtree !== 'undefined' &&  this.items.subtree.length
    },

    hasItems () {
      return typeof this.items.items !== 'undefined' &&  this.items.items.length
    }

  },

}

</script>

<style lang="scss" scoped>

  @import '../styles/_fonts.scss';

  .tree-wrapper {
    & > .tree-item-wrapper {
      margin-left: 0;

      & > .tree-item {
        font-family: $font-bold;

        &.wo-subtree {
          opacity: 0.5;
          pointer-events: none;
          cursor: default;
        }

      }

    }

  }

  .subtree-wrapper {
    display: none;

    &.active {
      display: block;
    }

  }

  .tree-item-wrapper {
    margin-left: 15px;

    .tree-item {
      cursor: pointer;
      margin-bottom: 10px;
      display: inline-block;

      &.wo-subtree {
        margin-bottom: 5px;
      }

    }

  }

</style>
