<template>
  <h1 class="page-title" v-html="title"></h1>
</template>

<script lang="js">

import { mapState } from 'vuex';

export default {

  mounted () {
  },

  computed: {
    ...mapState([
      'title',
    ]),
  }
}

</script>
