<template>
<div v-if="pagesCount > 1" class="pager unselectable">
  <div @click="click(0)" v-if="showHead" :data-page="0" class="pager-item pager-item-text pager-item-first">1</div>
  <!--<div v-if="page > 0" :data-page="page - 1" class="pager-item pager-item-text pager-item-prev">&lt; попередня</div>-->
  <div v-if="showHead" class="pager-item pager-item-text pager-item-dots">...</div>
  <div @click="click(i)" v-for="i in items" :data-page="i" v-bind:key="i" class="pager-item" :class="{active: i == page }">{{ i + 1 }}</div>
  <div v-if="showTail" class="pager-item pager-item-text pager-item-dots">...</div>
  <!--<div v-if="page < pagesCount - 1" :data-page="page + 1" class="pager-item pager-item-text pager-item-next">наступна ></div>-->
  <div @click="click(pagesCount - 1)" v-if="showTail" :data-page="pagesCount - 1" class="pager-item pager-item-text pager-item-last">{{ pagesCount }}</div>
</div>
</template>

<script lang="js">
export default {

  props: {
    total: Number, // total items
    page: Number, // current page
    ipp: Number, // items per page
    pic: Number // maximum visible pager items count
  },

  mounted () {

  },

  computed: {

    showHead() {
      return this.page > this.half && this.pagesCount > this.pagerItemsCount
    },

    showTail() {
      return this.page + 1 < this.pagesCount - this.half && this.pagesCount > this.pagerItemsCount
    },

    itemsPerPage() {
      return typeof this.ipp == 'undefined' ? 10 : this.ipp
    },

    maxPagerItemsCount() {
      return typeof this.pic == 'undefined' ? 9 : this.pic
    },

    pagesCount() {
      return Math.ceil(this.total / this.itemsPerPage)
    },

    pagerItemsCount() {
      return this.pagesCount < this.maxPagerItemsCount ? this.pagesCount : this.maxPagerItemsCount
    },

    half() {
      return Math.floor(this.pagerItemsCount / 2)
    },

    items() {
      return [...Array(this.pagerStartsFrom + this.pagerItemsCount).keys()].slice(this.pagerStartsFrom)
    },

    pagerStartsFrom() {
      let pagerStartsFrom = this.page - this.half < this.pagesCount ? this.page - this.half : this.pagesCount - this.maxPagerItemsCount
      if ( pagerStartsFrom + this.maxPagerItemsCount > this.pagesCount) {
        pagerStartsFrom = this.pagesCount - this.maxPagerItemsCount;
      }
      return pagerStartsFrom < 0 ? 0 : pagerStartsFrom
    },

  },

  methods: {

    click(page) {
      if ( typeof this.$parent.pagerClick === 'function' ) {
        this.$parent.pagerClick(page)
      }
    }

  }

}
</script>
