<template>
  <div v-if="show_request_screen" class="request-screen-wrapper">
    <div class="request-screen">
      <div @click="hideRequestScreen" class="close-button icon icon-close"></div>
      <div class="consultation-form-create">
        <div class="popup-label">Введіть своє запитання та інформацію, необхідну для надання відповіді</div>
        <form action="#">
          <input id="newcid" type="hidden" name="newcid" value="0"/>
          <textarea name="question" placeholder="Ваше питання" v-model="question"></textarea>
          <div class="popup-tip">Економте свій дорогоцінний час та час експертів! Надсилайте запитання лише в тому випадку, коли перевірили<br />відсутність готової відповіді у системі. Просимо ставити одне запитання протягом 3 робочих днів.</div>
          <div class="form-actions">
            <label class="file-upload">
                <i v-if="filename.length" class="icon icon-clip"></i>
                <span class="file-upload-label">{{ buttonLabel }}</span>
                <input @change="onFileChange" class="request-file" name="file" ref="inputFile" type="file">
            </label>
            <div @click="formSubmit" :class="{disabled: !question.length}" class="form-submit"><span v-if="!loading" class="button-text">Надіслати</span><span v-if="loading" class="cssload-zenith"></span></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="js">

import { mapState } from 'vuex'
import { mapGetters } from 'vuex'
import { mapMutations } from 'vuex'
import qs from 'qs';
import axios from 'axios'

export default {

  data: () => { return {
    filename: '',
    file: false,
    question: '',
    loading: false
  }},

  methods: {

    ...mapMutations([
      'hideRequestScreen'
    ]),

    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files
      if ( files.length ) {
        this.file = files[0]
      } else {
        this.file = false
      }
    },

    formSubmit() {

      var params = {
        question: this.question,
        type: this.type
      };

      if (this.question.length && !this.loading) {

        this.loading = true
        var formData = new FormData();
        if (this.file) {
          formData.append('file',this.file);
        }
        formData.append("params", JSON.stringify(params));

        axios.post('/system/request/createConsultation',
        formData,
        {
          emulateJSON: true,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
          }
        }
        ).then((response) => {
          if (response.data.data.newcid) {
            this.$refs.inputFile.value = null
            this.file = false
            this.loading = false
            this.hideRequestScreen()
          }
        })

      };
    },

  },

  computed: {

    ...mapState([
      'system',
      'show_request_screen',
      'activeModule'
    ]),

    buttonLabel() {
      return this.filename.length ? this.filename : 'Прикріпити файл'
    },

    type() {
      switch (this.activeModule) {
        case 'examples':
        case 'example':
          return 'example'
        break
        case 'accountinglogs':
        case 'accountinglog':
          return 'accountinglog'
        break
        case 'instructions':
        case 'instruction':
          return 'instruction'
        break;
        default:
          return 'consultation'
        break;
      }
    }

  },

  watch: {

    file() {
      this.filename = this.file ? this.file.name : ''
    }

  }

}

</script>

<style lang="scss" scoped>

  @import '../styles/_colors.scss';
  @import '../styles/_fonts.scss';

  .request-screen-wrapper {
    display: flex;
    position: fixed;
    align-items: flex-end;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 11, 21, 0.91);
    backdrop-filter: blur(1px);

    .close-button {
      color: #202124;
      font-size: 26px;
      font-size: 26px;
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }

    .request-screen {
      width: 100%;
      box-sizing: border-box;
      background-color: #fff;
      padding: 70px 92px 100px;
      color: #202124;
      position: relative;

      .popup-label {
        font-family: $font-medium;
        font-size: 20px;
        color: #202124;
        margin-bottom: 25px;
      }

      .popup-tip {
        font-family: $font-medium;
        font-size: 12px;
        color: #797979;
        clear: both;
        float: left;
        line-height: 1.5;

        .highlight {
          font-family: $font-medium;
        }

      }

      form {
        margin-bottom: 30px;

        textarea {
          width: 100%;
          display: block;
          resize: none;
          box-sizing: border-box;
          border-radius: 10px;
          font-family: $font-regular;
          font-size: 16px;
          color: #231f20;
          padding: 28px;
          height: 220px;
          outline: none;
          border: none;
          background-color: #f5f5f7;
          margin-bottom: 20px;

          &::-webkit-input-placeholder {
            color: #8c9297;
          }

          &::-moz-placeholder {
            color: #8c9297;
          }

          &:-ms-input-placeholder {
            color: #8c9297;
          }

          &:-moz-placeholder {
            color: #8c9297;
          }

        }

        .form-actions {
          float: right;

          .file-upload {
            position: relative;
            overflow: hidden;
            height: 44px;
            box-sizing: border-box;
            margin-right: 20px;
            cursor: pointer;

            .file-upload-label {
              color: #797979;
              display: inline-block;
              vertical-align: middle;
              border-radius: 6px;
              height: 44px;
              padding: 0 30px;
              line-height: 44px;
              font-size: 16px;
              background-color: #f5f5f7;
              overflow-x: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .icon {
              display: inline-block;
              vertical-align: middle;
              color: $color-red;
              font-size: 22px;
              margin-right: 15px;
              line-height: 44px;

              &:before {
                vertical-align: middle;
              }

            }

            input {
              z-index: -1;
              position: absolute;
              display: block;
              top: 0;
              left: 0;
              right: 0;
              width: 100%;
              opacity: 0
            }

          }

          .form-submit {
            float: right;
            height: 44px;
            border-radius: 6px;
            background-color: $color-red;
            color: #fff;
            font-family: $font-medium;
            font-size: 16px;
            text-align: center;
            min-width: 146px;
            box-sizing: border-box;
            line-height: 44px;
            padding: 0 30px;
            cursor: pointer;

            &.disabled {
              background-color: #ccc!important;
              cursor: default;
            }

          }

        }

      }

    }

  }

</style>
