<template>
    <div @click="showRequestScreen" v-if="showRequestButton" alt="Не знайшли відповіді? Поставте своє запитання" class="unselectable new-consultation-button">?</div>
    <!-- 'Поставити інше запитання експерту' -->
    <!-- 'Не знайшли відповіді? Поставте своє запитання' -->
</template>

<script lang="js">

import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';

export default {

  computed: {

    ...mapState([
      'activeModule',
      'level',
      'show_request_screen'
    ]),

    ...mapGetters([
      'isAuthenticatedUser'
    ]),

    showRequestButton() {
      return (this.activeModule == 'consultations' || this.activeModule == 'consultation' ||
        this.activeModule == 'accountinglogs' || this.activeModule == 'accountinglog' ||
        this.activeModule == 'examples' || this.activeModule == 'example' ||
        this.activeModule == 'instructions' || this.activeModule == 'instruction') &&
        this.isAuthenticatedUser && !this.show_request_screen && this.level !== 'start' && this.level !== 'lite'
    }

  },

  methods: {
    ...mapMutations([
      'showRequestScreen'
    ])
  },

}

</script>

<style lang="scss" scoped>

  @import '../styles/_fonts.scss';

</style>
