<template>
<div class="topics">
  <div v-for="topic in topics" class="topic" :key="topic.id">
    <div class="date">{{ topic.changed }}</div>
    <router-link :to="topic.url" class="title">{{ topic.title }}</router-link>
  </div>
</div>
</template>

<script lang="js">

export default {

  props: {
    topics: Array
  },

  mounted () {
  },

}
</script>
