
.config-form {
  margin-top: 20px;
}

.input-wrapper {
  margin-bottom: 15px;
}

.view-answers,
.view-consultations,
.view-reviews {

  .view-content {
    overflow-x: auto;
  }

  td {
      padding: 10px 3px;
  }

  .views-field-field-system-logo {
    width: 50px;
    min-width: 50px;
  }

  .views-field-title,
  .views-field-field-answer {
    width: 400px;
  }

  .views-field-operationsbutton{
    width: 130px;
  }

  .views-field-nid {
    width: 35px;
  }

  .views-field-field-status {
    width: 60px;
  }

  .views-field-field-user-email,
  .views-field-field-company {
    word-break: break-all;
    width: 130px;
    min-width: 130px;
  }

  .views-field-field-edrpou,
  .views-field-name,
  .views-field-field-fio,
  .views-field-field-fio-1,
  .views-field-field-consultation-type {
    width: 80px;
    min-width: 80px;
  }

  .views-field-field-status {
    width: 75px;
    min-width: 75px;
  }

  .views-field-field-views,
  .views-field-field-rate {
    width: 70px;
    min-width: 70px;
  }

  .views-field-nid {
    width: 40px;
    min-width: 40px;
  }

  .views-field-created,
  .views-field-field-answer-date,
  .views-field-field-date-placed {
    width: 63px;
    min-width: 63px;
  }

}

.question-popup-link {
  cursor: pointer;
  word-wrap: break-word;

  &:hover {
    text-decoration: underline;
  }

}

.question-popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.05);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  cursor: default;
  transition: opacity 0.15s ease-in, visibility 0.15s ease-in;

  &.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s ease-out, visibility 0.15s ease-out;

    .question-popup {
      top: 50%;
      transition: top 0.15s ease-out;
    }

  }

}

.question-popup {
  position: absolute;
  width: 600px;
  height: auto;
  overflow-y: auto;
  max-height: 80%;
  top: 49%;
  left: 50%;
  margin-left: -252px;
  margin-top: -152px;
  background-color: #fff;
  border: 1px solid #777;
  padding: 32px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
  transition: top 0.15s ease-in;
  color: #000;

  .question-popup-close {
    position: fixed;
    margin-left: 590px;
    margin-top: -20px;
    cursor: pointer;
  }

  .question,
  .clarification {
    margin-bottom: 20px;

    p {
      margin: 0 0 5px;
    }

  }

  .question-title,
  .clarification-title {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .popup-actions {
    text-align: center;

    .button {
      display: inline-block;
      margin: 0 15px;
      vertical-align: top;
    }

  }

}

.forexpert,
.approve,
.editorreply,
.clarification {

  #edit-field-question-0-format,
  #edit-field-answer-0-format {
    display: none;
  }

  #edit-title-0-value {
      width: 100%;
  }

}

.view-normdocs2 {

  .views-field-title {
    width: 40%;
  }

}

.layout-region-node-main {
  width: 100%;
}

#edit-title-0-value {
  width: 100%;
}

.field--name-field-instruction-type {

}

.node-system-template-form .field--name-field-is-email,
.node-system-template-edit-form .field--name-field-is-email,
.node-crib-form .field--name-field-systems,
.node-crib-edit-form .field--name-field-systems,
.node-profession-form .field--name-field-systems,
.node-profession-edit-form .field--name-field-systems,
.node-interview-form .field--name-field-systems,
.node-interview-edit-form .field--name-field-systems,
.node-interviewee-form .field--name-field-systems,
.node-interviewee-edit-form .field--name-field-systems,
.node-template-form .field--name-field-systems,
.node-template-edit-form .field--name-field-systems,
.node-system-template-form .field--name-field-systems,
.node-system-template-edit-form .field--name-field-systems,
.node-system-template-form .field--name-field-template-id,
.node-system-template-edit-form .field--name-field-template-id,
.node-consultation-form .field--name-field-systems,
.node-consultation-edit-form .field--name-field-systems,
.node-message-form .field--name-field-systems,
.node-message-edit-form .field--name-field-systems,
.node-help-form .field--name-field-systems,
.node-help-edit-form .field--name-field-systems {
  display: none;
}

.cke_combopanel__specialmarkup,
.cke_combopanel__styles {
	width: 350px!important;
}

.cke_combopanel__specialmarkup {
    height: 300px!important;
}

.highlight {
	color: #ea5000;
}

.form-item-search-api-fulltext {
  float: none!important;

  input {
    width: 100%;
  }

}

.view-normdocs2 {

  .form-item {
    margin: 5px 0;
  }

}

.convert-link {
  cursor: pointer;
  color: #0074bd;

  .ajax-progress {
    position: absolute;
    margin-top: -1px;
  }

  &:hover {
    text-decoration: underline;
  }

}

#views-exposed-form-consultations-page-1 #edit-field-question-value {
  width: 1160px;
}

.view {

  .form--inline .form-item {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 18px;
  }

}

.field--name-field-filter .chosen-container {
  width: 300px!important;
}

#edit-relations .chosen-container {
  width: 100%!important;
}

.layout-region-node-secondary {
  float: none;
  clear: both;
  width: 35%;
}

.views-exposed-form__item {

  .form-item__description {
    display: none;
  }

}

.ui-datepicker {

  td {
    color: #000;
  }

  .ui-datepicker-title {
    color: #000;
  }

}

.gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary {
  position: static!important;
}
