.field--name-field-system {
  display: none;
}

.node-normdoc-form,
.node-normdoc-edit-form,
.node-example-form,
.node-example-edit-form,
.node-instruction-form,
.node-instruction-edit-form {

  .field--name-field-system {
    display: block;
  }

  .filter-0 {
    display: none;
  }

  .example-type-0 {
    display: none;
  }

  .field--name-field-filter {
    visibility: hidden;
  }

}

.password-field {
  width: 250px!important;
}

.password-confirm {
  width: 250px!important;
}

.node-system-template-form .field--name-field-is-email,
.node-system-template-edit-form .field--name-field-is-email,
.node-crib-form .field--name-field-systems,
.node-crib-edit-form .field--name-field-systems,
.node-profession-form .field--name-field-systems,
.node-profession-edit-form .field--name-field-systems,
.node-interview-form .field--name-field-systems,
.node-interview-edit-form .field--name-field-systems,
.node-interviewee-form .field--name-field-systems,
.node-interviewee-edit-form .field--name-field-systems,
.node-template-form .field--name-field-systems,
.node-template-edit-form .field--name-field-systems,
.node-system-template-form .field--name-field-systems,
.node-system-template-edit-form .field--name-field-systems,
.node-system-template-form .field--name-field-template-id,
.node-system-template-edit-form .field--name-field-template-id,
.node-consultation-form .field--name-field-systems,
.node-consultation-edit-form .field--name-field-systems,
.node-message-form .field--name-field-systems,
.node-message-edit-form .field--name-field-systems,
.node-help-form .field--name-field-systems,
.node-help-edit-form .field--name-field-systems {
  display: none;
}
