.config-form {
  margin-top: 20px;
}

.input-wrapper {
  margin-bottom: 15px;
}

.view-answers .view-content,
.view-consultations .view-content,
.view-reviews .view-content {
  overflow-x: auto;
}
.view-answers td,
.view-consultations td,
.view-reviews td {
  padding: 10px 3px;
}
.view-answers .views-field-field-system-logo,
.view-consultations .views-field-field-system-logo,
.view-reviews .views-field-field-system-logo {
  width: 50px;
  min-width: 50px;
}
.view-answers .views-field-title,
.view-answers .views-field-field-answer,
.view-consultations .views-field-title,
.view-consultations .views-field-field-answer,
.view-reviews .views-field-title,
.view-reviews .views-field-field-answer {
  width: 400px;
}
.view-answers .views-field-operationsbutton,
.view-consultations .views-field-operationsbutton,
.view-reviews .views-field-operationsbutton {
  width: 130px;
}
.view-answers .views-field-nid,
.view-consultations .views-field-nid,
.view-reviews .views-field-nid {
  width: 35px;
}
.view-answers .views-field-field-status,
.view-consultations .views-field-field-status,
.view-reviews .views-field-field-status {
  width: 60px;
}
.view-answers .views-field-field-user-email,
.view-answers .views-field-field-company,
.view-consultations .views-field-field-user-email,
.view-consultations .views-field-field-company,
.view-reviews .views-field-field-user-email,
.view-reviews .views-field-field-company {
  word-break: break-all;
  width: 130px;
  min-width: 130px;
}
.view-answers .views-field-field-edrpou,
.view-answers .views-field-name,
.view-answers .views-field-field-fio,
.view-answers .views-field-field-fio-1,
.view-answers .views-field-field-consultation-type,
.view-consultations .views-field-field-edrpou,
.view-consultations .views-field-name,
.view-consultations .views-field-field-fio,
.view-consultations .views-field-field-fio-1,
.view-consultations .views-field-field-consultation-type,
.view-reviews .views-field-field-edrpou,
.view-reviews .views-field-name,
.view-reviews .views-field-field-fio,
.view-reviews .views-field-field-fio-1,
.view-reviews .views-field-field-consultation-type {
  width: 80px;
  min-width: 80px;
}
.view-answers .views-field-field-status,
.view-consultations .views-field-field-status,
.view-reviews .views-field-field-status {
  width: 75px;
  min-width: 75px;
}
.view-answers .views-field-field-views,
.view-answers .views-field-field-rate,
.view-consultations .views-field-field-views,
.view-consultations .views-field-field-rate,
.view-reviews .views-field-field-views,
.view-reviews .views-field-field-rate {
  width: 70px;
  min-width: 70px;
}
.view-answers .views-field-nid,
.view-consultations .views-field-nid,
.view-reviews .views-field-nid {
  width: 40px;
  min-width: 40px;
}
.view-answers .views-field-created,
.view-answers .views-field-field-answer-date,
.view-answers .views-field-field-date-placed,
.view-consultations .views-field-created,
.view-consultations .views-field-field-answer-date,
.view-consultations .views-field-field-date-placed,
.view-reviews .views-field-created,
.view-reviews .views-field-field-answer-date,
.view-reviews .views-field-field-date-placed {
  width: 63px;
  min-width: 63px;
}

.question-popup-link {
  cursor: pointer;
  word-wrap: break-word;
}
.question-popup-link:hover {
  text-decoration: underline;
}

.question-popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  cursor: default;
  transition: opacity 0.15s ease-in, visibility 0.15s ease-in;
}
.question-popup-wrapper.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s ease-out, visibility 0.15s ease-out;
}
.question-popup-wrapper.active .question-popup {
  top: 50%;
  transition: top 0.15s ease-out;
}

.question-popup {
  position: absolute;
  width: 600px;
  height: auto;
  overflow-y: auto;
  max-height: 80%;
  top: 49%;
  left: 50%;
  margin-left: -252px;
  margin-top: -152px;
  background-color: #fff;
  border: 1px solid #777;
  padding: 32px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  transition: top 0.15s ease-in;
  color: #000;
}
.question-popup .question-popup-close {
  position: fixed;
  margin-left: 590px;
  margin-top: -20px;
  cursor: pointer;
}
.question-popup .question,
.question-popup .clarification {
  margin-bottom: 20px;
}
.question-popup .question p,
.question-popup .clarification p {
  margin: 0 0 5px;
}
.question-popup .question-title,
.question-popup .clarification-title {
  margin-bottom: 5px;
  font-weight: bold;
}
.question-popup .popup-actions {
  text-align: center;
}
.question-popup .popup-actions .button {
  display: inline-block;
  margin: 0 15px;
  vertical-align: top;
}

.forexpert #edit-field-question-0-format,
.forexpert #edit-field-answer-0-format,
.approve #edit-field-question-0-format,
.approve #edit-field-answer-0-format,
.editorreply #edit-field-question-0-format,
.editorreply #edit-field-answer-0-format,
.clarification #edit-field-question-0-format,
.clarification #edit-field-answer-0-format {
  display: none;
}
.forexpert #edit-title-0-value,
.approve #edit-title-0-value,
.editorreply #edit-title-0-value,
.clarification #edit-title-0-value {
  width: 100%;
}

.view-normdocs2 .views-field-title {
  width: 40%;
}

.layout-region-node-main {
  width: 100%;
}

#edit-title-0-value {
  width: 100%;
}

.node-system-template-form .field--name-field-is-email,
.node-system-template-edit-form .field--name-field-is-email,
.node-crib-form .field--name-field-systems,
.node-crib-edit-form .field--name-field-systems,
.node-profession-form .field--name-field-systems,
.node-profession-edit-form .field--name-field-systems,
.node-interview-form .field--name-field-systems,
.node-interview-edit-form .field--name-field-systems,
.node-interviewee-form .field--name-field-systems,
.node-interviewee-edit-form .field--name-field-systems,
.node-template-form .field--name-field-systems,
.node-template-edit-form .field--name-field-systems,
.node-system-template-form .field--name-field-systems,
.node-system-template-edit-form .field--name-field-systems,
.node-system-template-form .field--name-field-template-id,
.node-system-template-edit-form .field--name-field-template-id,
.node-consultation-form .field--name-field-systems,
.node-consultation-edit-form .field--name-field-systems,
.node-message-form .field--name-field-systems,
.node-message-edit-form .field--name-field-systems,
.node-help-form .field--name-field-systems,
.node-help-edit-form .field--name-field-systems {
  display: none;
}

.cke_combopanel__specialmarkup,
.cke_combopanel__styles {
  width: 350px !important;
}

.cke_combopanel__specialmarkup {
  height: 300px !important;
}

.highlight {
  color: #ea5000;
}

.form-item-search-api-fulltext {
  float: none !important;
}
.form-item-search-api-fulltext input {
  width: 100%;
}

.view-normdocs2 .form-item {
  margin: 5px 0;
}

.convert-link {
  cursor: pointer;
  color: #0074bd;
}
.convert-link .ajax-progress {
  position: absolute;
  margin-top: -1px;
}
.convert-link:hover {
  text-decoration: underline;
}

#views-exposed-form-consultations-page-1 #edit-field-question-value {
  width: 1160px;
}

.view .form--inline .form-item {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 18px;
}

.field--name-field-filter .chosen-container {
  width: 300px !important;
}

#edit-relations .chosen-container {
  width: 100% !important;
}

.layout-region-node-secondary {
  float: none;
  clear: both;
  width: 35%;
}

.views-exposed-form__item .form-item__description {
  display: none;
}

.ui-datepicker td {
  color: #000;
}
.ui-datepicker .ui-datepicker-title {
  color: #000;
}

.gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary {
  position: static !important;
}

/*# sourceMappingURL=admin.css.map */
