<template>
  <div id="game-minesweeper">
    <section class="info" ref="info">
      <div>
        <img src="../assets/flag.png" alt="" />
        <span v-html="displayInfo()"></span>
      </div>
      <div class="game-over" v-if="gameOver">{{ gameOverText }}</div>
      <span>{{ displayTime() }}</span>
    </section>
    <div class="game-wrapper" ref="wrapper">
      <div class="game" ref="game">
        <Square
          v-for="(square, i) in board"
          :key="i"
          :square="square"
          :size="squareSize"
          @touchstart.prevent="handleTouch(square, $event)"
          @touchmove.prevent="scrollWrapper"
          @touchend.prevent="handleSquare(square, i, $event)"
          @click="handleSquare(square, i, $event)"
          @contextmenu.prevent="handleFlag(square)"
        />
      </div>
    </div>
    <section class="buttons">
      <button class="btn" :class="[gameOver ? 'red' : 'grey']" @click="resetGame">{{ buttonText }}</button>
    </section>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Square from './Square.vue';
import type { SquareObject } from '../services/interfaces';

import {
  checkEmptySquares,
  revealBombs,
  revealAllValid,
  checkAdjacentFlags,
  checkAdjacentSquares,
} from '../services/squares';

import { initBoard, calcBoard } from '../services/board';
import { time } from '../services/time';
import { initSettings, default as settings}  from '../services/settings';

export default defineComponent({
  components: {
    Square,
  },
  data() {
    return {
      board: [] as SquareObject[],
      gameOver: false,
      first: true,
      gameOverText: '',
      flags: 0,
      time: 0,
      timer: 0,
      touchTimer: 0,
      longTouch: false,
      stopTouch: false,
      buttonText: 'Спочатку',
      squareSize: 40,
      showPrompt: false,
      autoSave: false,
      autoSaveTimeout: 0,
      scrolling: false,
      scrollPosition: 0,
      phoneMode: false,
      showPhoneModeInfo: false,
    };
  },
  emits: ['main-menu'],
  methods: {
    renderGameBoard() {
      this.board = initBoard();
      this.flags = settings.bombs;
    },
    scrollWrapper(e: TouchEvent) {
      if (!this.scrolling) return;
      const gameBoardWrapper = this.$refs.wrapper as HTMLElement;
      const distanceX = this.scrollPosition - e.touches[0].screenX;
      gameBoardWrapper.scrollTo({ left: distanceX });
    },
    handleTouch(square: SquareObject, e: TouchEvent) {
      if (e.touches.length === 2) {
        this.scrolling = true;
        const gameBoardWrapper = this.$refs.wrapper as HTMLElement;
        this.scrollPosition = gameBoardWrapper.scrollLeft + e.touches[0].screenX;
      } else {
        this.scrolling = false;
      }
      if (this.scrolling) return;
      if (square.flag) {
        square.flag = false;
        this.flags++;
        this.stopTouch = true;
        return;
      }
      this.stopTouch = false;
      window.clearTimeout(this.touchTimer);
      this.longTouch = false;
      this.touchTimer = window.setTimeout(() => {
        this.longTouch = true;
      }, 100);
    },
    handleSquare(square: SquareObject, index: number, e: Partial<MouseEvent & TouchEvent>) {
      if (!this.timer) this.handleTimer(true);
      if (this.gameOver) return;
      if (square.reveal) this.handleValue(square, index);
      if (e.type === 'touchend') {
        if (this.scrolling) return;
        if (this.stopTouch) return;
        if (this.longTouch) {
          this.handleFlag(square);
          return;
        }
      }
      if (square.flag) return;
      if (this.first) {
        this.board = calcBoard(index);
        if (square.value === 0) {
          this.board = checkEmptySquares(this.board, index);
        }

        this.first = false;
        square.reveal = true;
        return;
      }
      if (square.value === 0) {
        if (square.type === 'bomb') {
          square.type = 'bomb-hit';
          this.board = revealBombs(this.board);
          this.handleLoseGame();
        } else {
          this.board = checkEmptySquares(this.board, index);
        }
      }
      square.reveal = true;
    },
    handleValue(square: SquareObject, index: number) {
      if (this.gameOver) return;
      if (square.flag) return;
      if (!square.value) return;
      const correctNumberFlags = checkAdjacentFlags(this.board, index, square.value);
      if (correctNumberFlags) {
        const result = checkAdjacentSquares(this.board, index);
        this.board = result.board;
        const bomb = result.bomb;
        if (bomb.hit) {
          const square: SquareObject = this.board[bomb.index];
          square.type = 'bomb-hit';
          this.board = revealBombs(this.board);
          this.handleLoseGame();
        }
      }
    },
    handleFlag(square: SquareObject) {
      if (this.gameOver) return;
      if (square.reveal) return;
      if (!this.timer) this.handleTimer(true);
      if (this.first) {
        this.first = false;
        this.board = calcBoard(-1);
      }

      if (!square.flag) {
        if (!this.flags) return;
        square.flag = true;
        this.flags--;
      } else if (square.flag) {
        square.flag = false;
        this.flags++;
      }
    },
    handleTimer(start: boolean) {
      if (start) {
        this.timer = window.setInterval(() => {
          this.time++;
        }, 1000);
      } else {
        clearInterval(this.timer);
      }
    },
    checkWin() {
      if (this.flags === 0) {
        const totalBombs = settings.bombs;
        let correctFlags = 0;
        let square: SquareObject = { flag: false, reveal: false, type: 'valid', value: 0 };
        for (square of this.board) {
          if (square.flag && square.type === 'bomb') {
            correctFlags++;
          }
        }
        if (correctFlags === totalBombs) {
          this.handleWinGame();
          this.board = revealAllValid(this.board);
        }
      } else {
        const totalSquares = this.board.length - settings.bombs;
        let revealedSquares = 0;
        let square: SquareObject = { flag: false, reveal: false, type: 'valid', value: 0 };
        for (square of this.board) {
          if (square.reveal && square.type === 'valid') {
            revealedSquares++;
          }
        }
        if (revealedSquares === totalSquares) {
          this.handleWinGame();
          this.board = revealAllValid(this.board);
        }
      }
    },
    handleLoseGame() {
      this.gameOver = true;
      this.gameOverText = 'О ні!';
      this.buttonText = 'Грати ще раз';
      this.handleTimer(false);
    },
    handleWinGame() {
      if (this.gameOver) return;
      this.flags = 0;
      this.gameOver = true;
      this.gameOverText = 'Поздоровляемо! Ви перемогли!';
      this.buttonText = 'Грати ще раз';
      this.handleTimer(false);
      this.handlePrompt();
    },
    displayInfo() {
      const flags = this.flags.toString().padStart(3, '0');
      return `${flags}`;
    },
    displayTime() {
      return time(this.time);
    },
    handleKey(e: KeyboardEvent) {
      if (this.showPrompt) return;
      if (e.code === 'KeyR') {
        this.resetGame();
      }
    },
    resetGame() {
      if (!this.timer && !this.gameOver) return;

      this.first = true;
      this.handleTimer(false);
      this.renderGameBoard();
      this.gameOver = false;
      this.gameOverText = '';
      this.buttonText = 'Спочатку';
      this.time = 0;
      this.timer = 0;
    },
    handlePrompt() {
      window.clearTimeout(this.autoSaveTimeout);
      let skip = sessionStorage.skipPrompt || 'false';
      skip = JSON.parse(skip);

      let save = localStorage.saveScore || 'false';
      save = JSON.parse(save);

      if (!skip) {
        this.showPrompt = true;
      } else {
        if (save) {
          const time: number = this.time || 0;
          //saveHighscoreDatabase(time);
          this.autoSave = true;
          this.autoSaveTimeout = window.setTimeout(() => {
            this.autoSave = false;
          }, 3000);
        }
      }
    },
  },
  mounted() {
    const w = 12;
    const h = 12;
    const b = 24;
    initSettings(w, h, b);
    this.renderGameBoard();
    window.addEventListener('keyup', this.handleKey);
  },
  beforeUnmount() {
    window.removeEventListener('keyup', this.handleKey);
  },
  watch: {
    board: {
      handler() {
        this.checkWin();
      },
      deep: true,
    },
  },
});
</script>

<style lang="scss" scoped>

#game-minesweeper {
  margin: 50px auto;
  position: relative;
  max-width: 500px;
  max-height: 600px;
}

div.game {
  width: 500px;
  height: 500px;

  section {
    float: left;
    margin: 1px;
    width: 7.9%;
    height: 7.9%;
    box-sizing: border-box;
  }

}

section.info,
section.info div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.info img {
  width: 30px;
  margin-right: 1rem;
}
span.game-over {
  margin-top: 1rem;
  text-align: center;
}
section.buttons {
  margin-top: 1rem;
  display: grid;
}
div.game-wrapper {
  max-width: 100%;
  height: 100%;
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
}
div.phone-info {
  max-width: 100%;
  max-height: calc(100% - 2rem);
  height: min-content;
  overflow-y: auto;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  margin: auto;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
}
button.mode {
  margin-top: 1rem;
}
.auto-save {
  position: fixed;
  left: 1rem;
  bottom: 3rem;
}
@media only screen and (max-width: 350px) {
  section.buttons {
    grid-template-columns: repeat(1, 1fr);
  }
}
.pop-enter-active {
  animation: flipInY;
  animation-duration: 1s;
}
.pop-leave-to {
  animation: flipOutY;
  animation-duration: 1s;
}

</style>
