$color-font-default: #1a1a1a;
$color-gray-light: #f5f6f8;
$color-gray-semi-light: #a2a5a8;
$color-gray: #58646c;
$color-gray-dark: #4b4e58;
$color-red: #ea5000;
$color-blue: #0050ea;
$color-highlight: #ea5000;
