$footer-height: 134px;
$sidebar-width: 326px;
$sidebar-collapsed: 94px;
$tablet-width: 1280px;

@import "colors";

ul, li, p {
	margin: 0;
	padding: 0;
}

b, strong {
	font-weight: normal;
}

ul {
	list-style-type: none;
}

textarea {
	-webkit-appearance: none;
}

.unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.layout-container {

	a, a:visited {
		color: inherit;
		text-decoration: none;
		transition: 0.2s all linear;
		outline: none;
	}

	a:hover, a:active {
		color: inherit;
		text-decoration: underline;
	}

}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.visually-hidden {
	display: none;
}

/**
 * @file
 * Alignment classes for text and block level elements.
 */

.text-align-left {
	text-align: left;
}
.text-align-right {
	text-align: right;
}
.text-align-center {
	text-align: center;
}
.text-align-justify {
	text-align: justify;
}

/**
 * Alignment classes for block level elements (images, videos, blockquotes, etc.)
 */
.align-left {
	float: left;
}
.align-right {
	float: right;
}
.align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
