@font-face {
  font-family: "montserratRegular";
  src: url("../../fonts/montserrat-regular.woff2") format('woff2'),
    url("../../fonts/montserrat-regular.woff") format('woff'),
    url("../../fonts/montserrat-regular.ttf") format('truetype');
    // url("../../fonts/montserrat-regular.svg") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "montserratLight";
  src: url("../../fonts/montserrat-light.woff2") format('woff2'),
    url("../../fonts/montserrat-light.woff") format('woff'),
    url("../../fonts/montserrat-light.ttf") format('truetype');
    // url("../../fonts/montserrat-light.svg") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "montserratMedium";
  src: url("../../fonts/montserrat-medium.woff2") format('woff2'),
    url("../../fonts/montserrat-medium.woff") format('woff'),
    url("../../fonts/montserrat-medium.ttf") format('truetype');
    // url("../../fonts/montserrat-medium.svg") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "montserratBold";
  src: url("../../fonts/montserrat-bold.woff2") format('woff2'),
    url("../../fonts/montserrat-bold.woff") format('woff'),
    url("../../fonts/montserrat-bold.ttf") format('truetype');
    // url("../../fonts/montserrat-bold.svg") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "montserratExtraBold";
  src: url("../../fonts/montserrat-extrabold.woff2") format('woff2'),
    url("../../fonts/montserrat-extrabold.woff") format('woff'),
    url("../../fonts/montserrat-extrabold.ttf") format('truetype');
    // url("../../fonts/montserrat-extrabold.svg") format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "montserratBlack";
  src: url("../../fonts/montserrat-black.woff2") format('woff2'),
    url("../../fonts/montserrat-black.woff") format('woff'),
    url("../../fonts/montserrat-black.ttf") format('truetype');
    // url("../../fonts/montserrat-black.svg") format('svg');
  font-style: normal;
  font-weight: normal;
}

$font-regular: montserratRegular, sans-serif;
$font-bold: montserratBold, sans-serif;
$font-extrabold: montserratExtraBold, sans-serif;
$font-light: montserratLight, sans-serif;
$font-medium: montserratMedium, sans-serif;
$font-black: montserratBlack, sans-serif;
