html, body, .page-wrapper, .dialog-off-canvas-main-canvas {
	height: 100%;
	box-sizing: border-box;
}

.page-wrapper {
	position: relative;
}

.mobile-menu-active.page-wrapper {
	position: fixed;
	overflow-y: hidden;
}


.toolbar .toolbar-bar {
 	min-height: 39px;
}

.toolbar-loading.toolbar-horizontal .toolbar .toolbar-bar .toolbar-tab:last-child .toolbar-tray {
    position: relative;
    display: none;
    z-index: -999;
    visibility: hidden;
    width: 1px;
}

.dialog-off-canvas-main-canvas {
	clear: both;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
}

.layout-wrapper {
	min-height: 100%;
	margin-bottom: -$footer-height;
	overflow-x: hidden;
}

.layout-push {
	clear: both;
	height: $footer-height;
}

.layout-sidebar,
.layout-footer-sidebar {
	float: left;
	width: $sidebar-width;
	transition: all 0.1s linear;

}

.layout-sidebar {
	width: $sidebar-width;
}

.layout-footer-sidebar {
	padding-left: 38px;
}

.layout-footer-content {
	padding-left: $sidebar-collapsed;
	position: relative;
	transition: all 0.1s linear;
	padding-bottom: 40px;
}

.layout-footer-content-right {
	float: right;
}

.layout-sidebar-top {
	height: 125px;
}

.collapsed {

	.layout-container {
		padding-left: $sidebar-collapsed;
		padding-right: $sidebar-collapsed;
		margin-right: -$sidebar-collapsed;
	}

	.layout-sidebar,
	.layout-footer-sidebar {
		width: $sidebar-collapsed;
	}

	.layout-footer-sidebar {
		padding: 15px 44px 0;
	}

}


.pinned {

	.layout-container {
		padding-left: $sidebar-width;
	}

	.layout-footer-content {
		padding-left: $sidebar-width;
	}

}

.layout-container {
	padding-left: 67px;
	margin-right: -$sidebar-width;
	float: left;
	width: 100%;
	box-sizing: border-box;
	background-color: #fff;
	transition: all 0.1s linear;
	padding-right: 76px;

	> .content {
		min-height: 1000px;
	}

}

.header {
	padding-top: 26px;
	padding-left: 92px;
}

.layout-auth-wrapper {
	padding: 55px 62px;
}

@media (max-width: 1024px) {

	.layout-container {
		padding-left: 20px!important;
		padding-right: 20px!important;
	}

	.header {
		padding-left: 0!important;
	}

	.module-window {
		padding-left: 0!important;
	}

	.layout-footer-content {
		padding-left: 20px!important;
	}

	.layout-footer-content-wrapper {
		padding-left: 0!important;
	}

}

@media (max-width: 480px) {

	.layout-container {
		padding-left: 5px!important;
		padding-right: 5px!important;
	}

	.layout-footer-content {
		padding-left: 5px!important;
	}

}
