.style-block {
	margin: 30px 0 30px 76px;
	padding: 20px 30px 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #b4d435;
	border-radius: 12px;
	font-style: italic;
	position: relative;
	page-break-inside: avoid;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: -5px;
		left: -85px;
		z-index: 1;
		width: 98px;
		height: 78px;
	}

	h3 {
		font-family: $font-medium;
		font-weight: normal;
	}

	&.style-block-term {
		background-color: #f5f6f8;
		border-color: #b4d435;
	}

	&.style-block-suggestion {
		background-color: #f5f6f8;
		border-color: #b4d435;
	}

	&.style-block-file {
		background-color: #f5f6f8;
		border-color: #b4d435;
	}

	&.style-block-important {
		background-color: #fff;
		border-color: #f15b6c;
	}

	&.style-block-law {
		background-color: #f5f6f8;
	}

	&.style-block-quote	 {
		background-color: #fff;
		border-color: #b4d435;
	}

}
