@import "colors";
@import "fonts";

h1, h2, h3 {
	font-family: $font-bold;
	font-weight: normal;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

h4 {
	font-family: $font-regular;
	font-weight: normal;
}

strong, b {
	font-family: $font-bold;
}

h1.redlineH1 {
	padding-bottom: 20px;
	border-bottom: 1px solid #f15b6c;
}

table {
	border-collapse: collapse;
	border: 0px solid #d1d6dd;

	&[border="1"] {
		border: 1px solid #d1d6dd;

		tr {

			td {
				border: 1px solid #d1d6dd;
			}

		}

	}

	tr {

		th {
			border: 1px solid #d1d6dd;
			background-color: #f5f6f8;
			padding: 7px;
			text-align: center;
			color: #58646c;
			font-family: $font-medium;
			font-size: 14px;
			font-weight: normal;
		}

		td {
			border: 0px solid #d1d6dd;
			padding: 7px;
		}

	}

}

ul {
	li {
		margin-bottom: 8px;
	}
}

ol {
	list-style: none;
	padding: 0;

	counter-reset: list-counter;
	> li {
		padding-left: 20px;
		position: relative;
		counter-increment: list-counter;

		&:before {
			content: counters(list-counter, ".") ".";
			text-align: left;
			left: 0;
			top: 0;
			display: block;
			position: absolute;

		}

		> ol {

			> li {
				padding-left: 30px;

				> ol {

					> li {
						padding-left: 45px;
					}

				}

			}

		}

	}

}
