@import "colors";
@import "fonts";
@import "defaults";
@import "texts";
@import "style-blocks";

body {
	color: $color-font-default;
	font-size: 16px;
	font-family: $font-regular;
	padding: 20px;
	margin: 0 auto;
	position: relative;

	&.node-type-accountinglog,
	&.node-type-example,
	&.node-type-instruction {
		width: 800px;
		min-width: 800px;
		max-width: 800px;
		margin: 0 auto;
	}

}

p {
	margin-bottom: 12px;
}

ul {
	padding-left: 20px;
	list-style-position: inside;
	list-style-type: disc;
	margin-bottom: 12px;
}

ol {
	margin-bottom: 12px;
}
