@import "defaults";
@import "layout";
@import "theme-style";

body {
  padding: 20px!important;
  margin: 0!important;
  background-color: #fff;
}

.node-item-answer:after,
.node-item-doc-html:after {
  display: none!important;
}

.style-block,
.node-item-doc-revisions,
.node-item-expert {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}

table {
  page-break-before: unset !important;
}
