@font-face {
	font-family: "{{ fontName }}";
	src: {{{ src }}};
}

[class^="{{ baseSelector }}-"]:before, [class*=" {{ baseSelector }}-"]:before {
  font-family: "{{ fontName }}";
	line-height: 1;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}


{{#each codepoints }}
.{{../classPrefix}}{{@key}}:before {
	content: "\\{{ this }}";
}
{{/each}}
