<template>
  <div v-once style="user-select:none;">
    <div style='display:table; margin:0 auto;'>
      <canvas ref="tcanvas" id='tetris-canvas' class='canvas' width='520' height='600'></canvas>
      <div style='padding:0px 30px 15px 30px;'>
        <button @click="start" id='start-stop-btn'>Грати/Пауза</button>
        <button @click="tetris.quit()" id='quit-btn'>Скинути</button>
      </div>
    </div>
  </div>
</template>

<script>

import { defineComponent } from 'vue';
import ClassicTetris from './classic-tetris.js';

export default defineComponent({

  data() {
    return {
      tetris: null
    };
  },

  mounted() {
    const canvas = this.$refs.tcanvas
    this.tetris = new ClassicTetris(canvas);
  },

  methods: {

    start() {
      this.tetris.setStartLevel(1);
      this.tetris.togglePlayPause();
    }

  }

})

</script>

<style>
</style>
