{% set system = current_system() %}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <title></title>
    <link type="text/css" rel="stylesheet" href="{{ url('<front>') }}sites/default/files/system-styles/system-colors-{{ system.id }}.css" media="all" />
    <link type="text/css" rel="stylesheet" href="{{ url('<front>') }}sites/default/files/system-styles/style-blocks-{{ system.id }}.css" media="all" />
    <link type="text/css" rel="stylesheet" href="{{ url('<front>') }}themes/{{ theme_name() }}/dist/css/pdf.css" />
  </head>
  <body>
  {% set system = current_system() %}
  {% set image_path = get_image_path_pdf(system.logo_global, 'system_logo_email') %}

  <table style="width: 100%; padding:0; margin: 0;">
    <tr>
      <td style="vertical-align: top;">
        <img style="display: block; float: left;" src="{{ image_path }}" />
      </td>
      <td style="vertical-align: middle; text-align: right; line-height: 1.3;">
        <div>{{ 'Матеріал електронної системи' | t }}</div>
        <div>«{{ system.name }}»</div>
        <div><b>{{ system.domain }}</b></div>
      </td>
    </tr>
  </table>

  <div style="max-height:0; overflow: hidden; clear:both; font-size:0; visibility: hidden;">.</div>
  <div style="padding-top: 15px; width: 100%; border-bottom: 1px solid #ff5a61; margin-bottom: 25px;"></div>

  <div class="calculator-print-form">
    <div class="calculator-page-title">{{ 'Калькулятор відпусток. Розрахунок кількості днів щорічної основної відпустки, які підлягають грошовій компенсації під час звільнення' | t }}</div>
    <p class="calc-print-fio">{{ 'ПІБ працівника' | t }}: {{ fio }}</p>
    {% if db %}
    <p class="calc1-datebegin">{{ 'Дата початку робочого періоду' | t }}: {{ db }}</p>
    {% endif %}
    {% if de %}
    <p class="calc1-dateend">{{ 'Дата звільнення' | t }}: {{ de }}</p>
    {% endif %}
    {% if dayscount %}
    <p class="calc1-dayscount">{{ 'Тривалість щорічної основної відпустки' | t }}: {{ dayscount }}</p>
    {% endif %}
    <br />
    <p class="calc1-result">
      {{ results | raw }}
    </p>

  </div>


    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        "use strict";
        setTimeout(function () {
          window.print();
          var ival = setInterval(function() {
            window.close();
            clearInterval(ival);
          }, 200);
        }, 500);
      });
    </script>

  </body>
</html>
