<div>
  <br/><br/>
  <h2>{{ 'Системи (30 хвилин)' | t }}</h2>
  <table>
    <thead>
      <tr>
        <td>{{ 'Система' | t }}</td>
        <td>{{ 'Користувачі' | t }}</td>
        <td>{{ 'Команди' | t }}</td>
        <td>{{ 'Час, секунд' | t }}</td>
      </tr>
    </thead>
    {% for row in data.systems %}
      <tr>
        <td>{{ row.system }}</td>
        <td>{{ row.count_users }}</td>
        <td>{{ row.count_commands }}</td>
        <td>{{ row.time_total | round(5) }}</td>
      </tr>
    {% endfor %}
  </table>
  <br/>
  <br/>
  <br/>
  <h2>{{ 'Користувачі (30 хвилин)' | t }}</h2>
  <table>
    <thead>
      <tr>
        <td>{{ 'Користувач' | t }}</td>
        <td>{{ 'Система' | t }}</td>
        <td>{{ 'Команди' | t }}</td>
        <td>{{ 'Час, секунд' | t }}</td>
      </tr>
    </thead>
    {% for user in data.users %}
      <tr>
        <td>{{ user.name }} - {{ user.uid }}</td>
        <td>{{ user.system }}</td>
        <td>{{ user.count_commands }}</td>
        <td>{{ user.time | round(5) }}</td>
      </tr>
    {% endfor %}
  </table>
  <br/>
  <br/>
  <br/>
  <h2>{{ 'Команди Користувачів (30 хвилин)' | t }}</h2>
  <table>
    <thead>
      <tr>
        <td>{{ 'Користувач' | t }}</td>
        <td>{{ 'Система' | t }}</td>
        <td>{{ 'Команда' | t }}</td>
        <td>{{ 'Команди' | t }}</td>
        <td>{{ 'Час, секунд' | t }}</td>
      </tr>
    </thead>
    {% for command in data.user_commands %}
      <tr>
        <td>{{ command.name }} - {{ command.uid }}</td>
        <td>{{ command.system }}</td>
        <td>{{ command.command }}</td>
        <td>{{ command.count_commands }}</td>
        <td>{{ command.time | round(5) }}</td>
      </tr>
    {% endfor %}
  </table>
  <!--<h2>{{ 'Команди (30 хвилин)' | t }}</h2>
  <table>
    {% for command in data.commands %}
      <tr>
        <td>{{ command.name }} - {{ command.uid }}</td>
        <td>{{ command.system }}</td>
        <td>{{ command.begin|date("Y-m-d H:i:s") }}</td>
        <td>{{ command.time }}</td>
        <td>{{ command.command }}</td>
      </tr>
    {% endfor %}
  </table>
  -->
</div>
