<style type="text/css">

  .selectDates {
    margin: 20px 0;
    max-height: 0;
    overflow-y: hidden;
  }

  .ui-datepicker {
    z-index: 1000!important;
  }

  .user-role-label {
    position: absolute;
    margin-top: -14px;
    font-size: 10px;
    color: yellow;
  }

  .selectDates.active {
    max-height: none;
    overflow-y: visible;
  }

  .selectDates input {
    width: 200px;
    text-align: left;
  }

  .selectDates label {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
  }

  .applyPeriod {
    display: inline-block;
    vertical-align: middle;
  }

  .systemSelect, .periodSelect {
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
  }

</style>

<script type="text/javascript">
  var lang = 'uk'
  var monthNames = {
    'uk': ['Січень', 'Лютий', 'Березень', 'Квітень', 'Травень', 'Червень', 'Липень', 'Серпень', 'Вересень', 'Жовтень', 'Листопад', 'Грудень'],
    'ru': ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
  }
  var options = {
    dateFormat: 'dd.mm.yy',
    monthNames: monthNames[lang],
    changeYear: true
  }

  document.addEventListener("DOMContentLoaded", function(){
    $ = jQuery;

    $('#dateFrom').datepicker(options)
    $('#dateTo').datepicker(options)

    $('.periodSelect').on('change', function(e){
      if ( this.value == 'customPeriod' ) {
        $('.selectDates').addClass('active');
      } else {
        $('.selectDates').removeClass('active');
        var system = $('.systemSelect').val()
        if ( system == '0' ) {
          window.location.href=`/admin/doc-stats?period=${this.value}`
        } else {
          window.location.href=`/admin/doc-stats?period=${this.value}&system=${system}`
        }
      }
    })
    $('.systemSelect').on('change', function(e){
      var period = $('.periodSelect').val()
      var system = $('.systemSelect').val()
      if ( period == 'customPeriod' ) {
        var dateFrom = $('#dateFrom').val()
        var dateTo = $('#dateTo').val()
        if ( system == '0' ) {
          window.location.href=`/admin/doc-stats?period=${period}&date_from=${dateFrom}&date_to=${dateTo}`
        } else {
          window.location.href=`/admin/doc-stats?period=${period}&system=${system}&date_from=${dateFrom}&date_to=${dateTo}`
        }
      } else {
        if ( system == '0' ) {
          window.location.href=`/admin/doc-stats?period=${period}`
        } else {
          window.location.href=`/admin/doc-stats?period=${period}&system=${system}`
        }
      }
    })
    $('.applyPeriod').on('click', function(){
      var period = $('.periodSelect').val()
      var dateFrom = $('#dateFrom').val()
      var dateTo = $('#dateTo').val()
      var system = $('.systemSelect').val()
      if ( system == '0' ) {
        window.location.href=`/admin/doc-stats?period=${period}&date_from=${dateFrom}&date_to=${dateTo}`
      } else {
        window.location.href=`/admin/doc-stats?period=${period}&system=${system}&date_from=${dateFrom}&date_to=${dateTo}`
      }
    })
    if ( $('.periodSelect').val() == 'customPeriod' ) {
      $('.selectDates').addClass('active');
    }
  })
</script>

{% set periods = ['today','yesterday','thisWeek','lastWeek','thisMonth','lastMonth','thisYear','lastYear','allTime','customPeriod'] %}
{% set labels = ['Сьогодні', 'Вчора', 'Цього тижня', 'Минулого тижня', 'Цього місяця', 'Минулого місяця', 'Цього року', 'Минулого року', 'За весь час', 'Обраний період'] %}

<select style="color: #000;" class="systemSelect">
  <option value="0" {{ activeSystem == 0 ? 'selected="selected"' }}>Всі</option>
  {% for i,s in systems %}
    <option value="{{ s.id }}" {{ s.id == activeSystem ? 'selected="selected"' }}>{{ s.name }}</option>
  {% endfor %}
</select>

<select style="color: #000;" class="periodSelect">
  {% for i,p in periods %}
    <option value="{{ p }}" {{ p == period ? 'selected="selected"' }}>{{ labels[i] }}</option>
  {% endfor %}
</select>

<span class="selected-period-label">{{ label|raw }}</span>

<div class="selectDates">
  <label for="datep">Початок: <input style="color: #000;" value="{{ date_from }}" id="dateFrom"/></label>
  <label for="datep">Кінець: <input style="color: #000;" value="{{ date_to }}" id="dateTo"/></label>
  <button style="color: #000;" class="applyPeriod">Застосувати</button>
</div>

<div class="stats-list">
  <table style="font-size: 14px;">
    <tr>
      <th>Користувач</th>
      <th>Новина</th>
      <th>Зразок</th>
      <th>Журнал обліку</th>
      <th>Шпаргалки</th>
      <th>Інструкція</th>
      <th>Інтерв'ю</th>
      <th>Консультації</th>
      <th>ДКХП</th>
      <th>Подія</th>
      <th>Учасник інтерв'ю</th>
      <th>Допомога</th>
      <th>С.шаблон</th>
      <th>Шаблон</th>
    </tr>
    {% for item in list %}
        <tr>
          <td style="white-space: nowrap;"><span class="user-role-label">{{ item.role }}</span><a href="/user/{{ item.id }}/edit">{{ item.name }}</a></td>
          <td{{ item.new_add == 0 and item.new_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.new_add|raw }}{{ item.new_edit == 0 ? '' : ('(' ~ item.new_edit ~ ')') }}</td>
          <td{{ item.example_add == 0 and item.example_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.example_add|raw }}{{ item.example_edit == 0 ? '' : ('(' ~ item.example_edit ~ ')') }}</td>
          <td{{ item.accountinglog_add == 0 and item.accountinglog_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.accountinglog_add|raw }}{{ item.accountinglog_edit == 0 ? '' : ('(' ~ item.accountinglog_edit ~ ')') }}</td>
          <td{{ item.crib_add == 0 and item.crib_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.crib_add|raw }}{{ item.crib_edit == 0 ? '' : ('(' ~ item.crib_edit ~ ')') }}</td>
          <td{{ item.instruction_add == 0 and item.instruction_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.instruction_add|raw }}{{ item.instruction_edit == 0 ? '' : ('(' ~ item.instruction_edit ~ ')') }}</td>
          <td{{ item.interview_add == 0 and item.interview_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.interview_add|raw }}{{ item.interview_edit == 0 ? '' : ('(' ~ item.interview_edit ~ ')') }}</td>
          <td{{ item.consultation_add == 0 and item.consultation_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.consultation_add|raw }}{{ item.consultation_edit == 0 ? '' : ('(' ~ item.consultation_edit ~ ')') }}</td>
          <td{{ item.dkhp_add == 0 and item.dkhp_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.dkhp_add|raw }}{{ item.dkhp_edit == 0 ? '' : ('(' ~ item.dkhp_edit ~ ')') }}</td>
          <td{{ item.event_add == 0 and item.event_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.event_add|raw }}{{ item.event_edit == 0 ? '' : ('(' ~ item.event_edit ~ ')') }}</td>
          <td{{ item.interviewee_add == 0 and item.interviewee_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.interviewee_add|raw }}{{ item.interviewee_edit == 0 ? '' : ('(' ~ item.interviewee_edit ~ ')') }}</td>
          <td{{ item.help_add == 0 and item.help_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.help_add|raw }}{{ item.help_edit == 0 ? '' : ('(' ~ item.help_edit ~ ')') }}</td>
          <td{{ item.system_template_add == 0 and item.system_template_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.system_template_add|raw }}{{ item.system_template_edit == 0 ? '' : ('(' ~ item.system_template_edit ~ ')') }}</td>
          <td{{ item.template_add == 0 and item.template_edit == 0 ? ' style="opacity: 0.3;"' }}>{{ item.template_add|raw }}{{ item.template_edit == 0 ? '' : ('(' ~ item.template_edit ~ ')') }}</td>
        </tr>
    {% endfor %}
  </table>
</div>
