<div style="display:block;" class="norm-window module-window double-window">
  <div style="display:block;" class="content-window mode-general">
    <div class="doc-resizer"></div>
    <div class="doc-container">
			<div data-cid="{{ id }}" class="node-item clearfix">

				<div class="node-item-doc-html">

					<div class="container-content">
						<div class="vertical-wrapper">
							{% if ( title | length ) %}
								<div class="node-item-doc-title">{{ 'Назва' | t }}: {{ title }}</div>
							{% endif %}
							{% if (revisions and revisions | length) %}
								<div class="node-item-doc-revisions unselectable">
									<div class="node-item-doc-revisions-label{{ currentRevisionStatus == 'invalid' ? ' invalid' : '' }}">{{ 'Редакція' | t }}:</div>
									<div class="node-item-doc-revisions-list clearfix">
										{% for revision in revisions %}
											<a href="/norm/{{ id }}{{ revision.id ? ( '/' ~ revision.id ) : '' }}" class="node-item-doc-revision{{ revision.id == currentRevision ? ' active' : '' }}{{ currentRevisionStatus == 'invalid' ? ' invalid-revision' : '' }}">
											{{ revision.document_date_created | length ? revision.document_date_created : ( revision.document_date_valid | length ? revision.document_date_valid : '- - - -' ) }}
											</a>
										{% endfor %}
									</div>
								</div>
							{% endif %}
							{% if ( date_created | length ) %}
								<div class="node-item-doc-date-created-label">{{ 'Редакцію створено' | t }}: {{ date_created }}</div>
							{% endif %}
							{% if ( not date_invalid | length and date_valid | length ) %}
								<div class="node-item-doc-date-valid-label">{{ 'Редакція діє з' | t }}: {{ date_valid }}</div>
							{% endif %}
							{% if ( currentRevisionStatus == 'invalid' and date_invalid | length ) %}
								<div class="node-item-doc-date-invalid-label">{{ 'Документ втратив чинність' | t }}: {{ date_invalid }}</div>
							{% endif %}
							{% if ( date_partially_invalid | length ) %}
								<div class="node-item-doc-date-invalid-label">{{ 'Документ частково втратив чинність' | t }}: {{ date_partially_invalid }}</div>
							{% endif %}
							<div class="container-content-wrapper">
								<div id="pdf-canvas" class="pdf-canvas"></div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
  </div>
</div>
