.style-block.style-block-term:after {
  background: url(/sites/default/files/system-styles/style-term-{{ system.id }}.svg) no-repeat 0 0 transparent;
}
.style-block.style-block-suggestion:after {
  background: url(/sites/default/files/system-styles/style-suggestion-{{ system.id }}.svg) no-repeat 0 0 transparent;
}
.style-block.style-block-file:after {
  background: url(/sites/default/files/system-styles/style-file-{{ system.id }}.svg) no-repeat 0 0 transparent;
}
.style-block.style-block-important:after {
  background: url(/sites/default/files/system-styles/style-important-{{ system.id }}.svg) no-repeat 0 0 transparent;
}
.style-block.style-block-law:after {
  background: url(/sites/default/files/system-styles/style-law-{{ system.id }}.svg) no-repeat 0 0 transparent;
}
.style-block.style-block-quote:after {
  background: url(/sites/default/files/system-styles/style-quote-{{ system.id }}.svg) no-repeat 0 0 transparent;
}
