{% spaceless %}
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 78" height="78" width="98" version="1.1">
  <defs>
   <filter id="shadow-color">
     <feFlood flood-color="{{ system.color }}" flood-opacity="0.39" result="flood" class="shadow-color" />
     <feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" />
     <feGaussianBlur in="composite1" stdDeviation="1" result="blur" />
     <feOffset dx="1.6" dy="1.4" result="offset" />
     <feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" />
   </filter>
   <filter id="shadow-black">
     <feFlood flood-color="#000" flood-opacity="0.39" result="flood" class="shadow-color" />
     <feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" />
     <feGaussianBlur in="composite1" stdDeviation="1" result="blur" />
     <feOffset dx="1.6" dy="1.4" result="offset" />
     <feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" />
   </filter>
   <filter id="shadow-black2">
     <feFlood flood-color="#000" flood-opacity="0.28" result="flood" class="shadow-color" />
     <feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" />
     <feGaussianBlur in="composite1" stdDeviation="1" result="blur" />
     <feOffset dx="1.6" dy="1.4" result="offset" />
     <feComposite in="SourceGraphic" in2="offset" operator="over" result="composite2" />
   </filter>
  </defs>
  {% if style == 'quote' %}
  <g>
    <path
       filter="url(#shadow-black2)"
       style="fill:{{ system.color }};shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-opacity:1;vector-effect:none;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
       d="M 26.288546,6.5 C 16.15535,6.5 8.1345654,15.601224 8.1345654,26.646484 V 51.353516 C 8.1345654,62.398776 16.15535,71.5 26.288546,71.5 h 35.084473 c 5.165975,0 9.716631,-2.816147 12.939915,-6.669922 3.223286,-3.853775 5.212102,-8.784265 5.212102,-13.476562 0,-15.15092 9.457981,-23.626954 9.457981,-23.626954 a 1.5084002,1.50015 0 0 0 -1.017282,-2.613281 l -8.576205,0.0293 C 78.689288,14.799336 71.034132,6.5 61.373019,6.5 Z m 0,3 h 35.084473 c 8.309516,0 15.135518,7.530589 15.135518,17.146484 a 1.5084002,1.50015 0 0 0 1.514142,1.5 l 6.66929,-0.02148 c -3.062983,3.770515 -8.183432,11.648729 -8.183432,23.228516 0,3.825515 -1.721029,8.218195 -4.514928,11.558593 C 69.19971,66.252508 65.428401,68.5 61.373019,68.5 H 26.288546 C 17.97903,68.5 11.151064,60.969411 11.151064,51.353516 V 26.646484 C 11.151064,17.030589 17.97903,9.5 26.288546,9.5 Z"
       id="icon-border" />
    <path
       style="fill:#fff;color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#ffffff;fill-opacity:0.99470903;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
       d="m 26.288546,9.5 h 35.08448 c 8.30951,0 15.13551,7.530589 15.13551,17.146484 a 1.5084002,1.50015 0 0 0 1.51415,1.5 l 6.66929,-0.02148 c -3.06299,3.770515 -8.18344,11.648729 -8.18344,23.228516 0,3.825515 -1.72102,8.218195 -4.51492,11.558593 C 69.199716,66.252508 65.428406,68.5 61.373026,68.5 h -35.08448 c -8.30951,0 -15.13748,-7.530589 -15.13748,-17.146484 V 26.646484 C 11.151066,17.030589 17.979036,9.5 26.288546,9.5 Z"
       id="icon-bg" />
    <path
       style="fill:{{ system.color }};opacity:1;fill-opacity:1;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;"
       d="m 45.404097,20.376953 c -11.619701,0 -21.039064,7.774371 -21.039063,17.365235 0,4.468271 2.043303,8.54371 5.402344,11.621093 2.092435,1.916983 2.57925,6.565926 -0.267578,10.955078 3.995869,0.53522 8.870238,-2.341254 11.287109,-5.628906 1.392394,0.586107 3.031295,0.419922 4.617188,0.419922 11.619697,0 21.039061,-7.776325 21.039062,-17.367187 1e-6,-9.590863 -9.419364,-17.365235 -21.039062,-17.365235 z m -8.613282,13.859375 c 1.910916,-1.43e-4 3.460281,1.513374 3.460938,3.38086 4.46e-4,1.868249 -1.549242,3.382955 -3.460938,3.382812 -1.911696,1.42e-4 -3.461383,-1.514564 -3.460937,-3.382812 6.57e-4,-1.867486 1.550021,-3.381002 3.460937,-3.38086 z m 9.044395,0 c 1.910916,-1.43e-4 3.460282,1.513374 3.460938,3.38086 4.47e-4,1.868249 -1.549242,3.382955 -3.460938,3.382812 -1.910933,-9.12e-4 -3.45943,-1.515309 -3.458984,-3.382812 6.57e-4,-1.866741 1.548831,-3.379948 3.458984,-3.38086 z m 8.889199,0 c 1.910916,-1.43e-4 3.460281,1.513374 3.460938,3.38086 4.46e-4,1.868249 -1.549242,3.382955 -3.460938,3.382812 -1.911696,1.43e-4 -3.461384,-1.514563 -3.460938,-3.382812 6.57e-4,-1.867486 1.550022,-3.381003 3.460938,-3.38086 z"
       id="icon-content" />
  </g>
  {% endif %}
  {% if style == 'term' %}
  <g>
    <path
       filter="url(#shadow-black)"
       style="fill:#fff;color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill-opacity:0.76190478;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;"
       d="M 26.288546,6.5 C 16.15535,6.5 8.1345654,15.601224 8.1345654,26.646484 V 51.353516 C 8.1345654,62.398776 16.15535,71.5 26.288546,71.5 h 35.084473 c 5.165975,0 9.716631,-2.816147 12.939915,-6.669922 3.223286,-3.853775 5.212102,-8.784265 5.212102,-13.476562 0,-15.15092 9.457981,-23.626954 9.457981,-23.626954 1.026961,-0.92273 0.366712,-2.618835 -1.017282,-2.613281 l -8.576205,0.0293 C 78.969044,18.931604 76.040729,13.457627 71.67616,10.075111 68.772339,7.8246668 65.232766,6.5 61.373019,6.5 Z m 0,3 h 35.084473 c 8.309516,0 15.135518,7.530589 15.135518,17.146484 7.7e-5,0.830687 0.678893,1.503162 1.514142,1.5 l 6.66929,-0.02148 c -3.062983,3.770515 -8.183432,11.648729 -8.183432,23.228516 0,3.825515 -1.721029,8.218195 -4.514928,11.558593 C 69.19971,66.252508 65.428401,68.5 61.373019,68.5 H 26.288546 C 17.97903,68.5 11.151064,60.969411 11.151064,51.353516 V 26.646484 C 11.151064,17.030589 17.97903,9.5 26.288546,9.5 Z"
       id="icon-border"/>
    <path
       style="fill:{{ system.color }};color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill-opacity:0.99470903;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
       d="m 26.288546,9.5 h 35.08448 c 8.30951,0 15.13551,7.530589 15.13551,17.146484 a 1.5084002,1.50015 0 0 0 1.51415,1.5 l 6.66929,-0.02148 c -3.06299,3.770515 -8.18344,11.648729 -8.18344,23.228516 0,3.825515 -1.72102,8.218195 -4.51492,11.558593 C 69.199716,66.252508 65.428406,68.5 61.373026,68.5 h -35.08448 c -8.30951,0 -15.13748,-7.530589 -15.13748,-17.146484 V 26.646484 C 11.151066,17.030589 17.979036,9.5 26.288546,9.5 Z"
       id="icon-bg" />
    <path
       id="rect983-3-6"
       style="fill:#fff;opacity:1;fill-opacity:1;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke"
       d="m 26.033863,47.773785 h 20.057165 v 3 H 26.033863 Z m 0.309361,-9.942395 h 38 v 3 h -38 z m 0.0407,-9.94239 h 38 v 3 h -38 z" />
  </g>
  {% endif %}
  {% if style == 'file' %}
  <g>
    <path
       filter="url(#shadow-black2)"
       style="fill:{{ system.color }};color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill-opacity:0.76190478;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;"
       d="M 26.288546,6.5 C 16.15535,6.5 8.1345654,15.601224 8.1345654,26.646484 V 51.353516 C 8.1345654,62.398776 16.15535,71.5 26.288546,71.5 h 35.084473 c 5.165975,0 9.716631,-2.816147 12.939915,-6.669922 3.223286,-3.853775 5.212102,-8.784265 5.212102,-13.476562 0,-15.15092 9.457981,-23.626954 9.457981,-23.626954 1.026961,-0.92273 0.366712,-2.618835 -1.017282,-2.613281 l -8.576205,0.0293 C 78.969044,18.931604 76.040729,13.457627 71.67616,10.075111 68.772339,7.8246668 65.232766,6.5 61.373019,6.5 Z m 0,3 h 35.084473 c 8.309516,0 15.135518,7.530589 15.135518,17.146484 7.7e-5,0.830687 0.678893,1.503162 1.514142,1.5 l 6.66929,-0.02148 c -3.062983,3.770515 -8.183432,11.648729 -8.183432,23.228516 0,3.825515 -1.721029,8.218195 -4.514928,11.558593 C 69.19971,66.252508 65.428401,68.5 61.373019,68.5 H 26.288546 C 17.97903,68.5 11.151064,60.969411 11.151064,51.353516 V 26.646484 C 11.151064,17.030589 17.97903,9.5 26.288546,9.5 Z"
       id="icon-border"/>
    <path
       style="fill:#fff;color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill-opacity:0.99470903;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
       d="m 26.288546,9.5 h 35.08448 c 8.30951,0 15.13551,7.530589 15.13551,17.146484 a 1.5084002,1.50015 0 0 0 1.51415,1.5 l 6.66929,-0.02148 c -3.06299,3.770515 -8.18344,11.648729 -8.18344,23.228516 0,3.825515 -1.72102,8.218195 -4.51492,11.558593 C 69.199716,66.252508 65.428406,68.5 61.373026,68.5 h -35.08448 c -8.30951,0 -15.13748,-7.530589 -15.13748,-17.146484 V 26.646484 C 11.151066,17.030589 17.979036,9.5 26.288546,9.5 Z"
       id="icon-bg" />
     <path
        d="m 30.361794,26.950904 5.39e-4,2.03e-4 c -3.009468,3.058006 -2.9997,8.043477 0.02203,11.113734 l 15.107564,15.352797 c 0.122005,0.123849 0.283178,0.186121 0.444351,0.186121 0.157959,0 0.315917,-0.05965 0.437391,-0.17915 0.245139,-0.241509 0.248257,-0.636294 0.0068,-0.881751 L 31.272859,37.19006 c -2.546927,-2.58777 -2.5568,-6.788663 -0.02192,-9.364163 l 0.820642,-0.833845 c 1.220413,-1.240051 2.844447,-1.922899 4.573019,-1.922899 1.74094,0 3.379734,0.691054 4.614794,1.945973 l 18.104617,18.195848 c 1.685755,1.712681 1.692407,4.497057 0.01226,6.204331 l -0.567399,0.576436 c -0.844127,0.857634 -2.028375,1.349476 -3.249098,1.349476 -1.149965,0 -2.20795,-0.431463 -2.979022,-1.214795 L 35.653816,34.949093 c -0.791056,-0.8038 -0.794483,-2.10818 -0.0077,-2.907413 l 0.302825,-0.308019 c 0.376286,-0.382205 0.876653,-0.592752 1.409025,-0.592646 0.53663,0 1.042297,0.213656 1.423884,0.601373 L 52.859768,46.02628 c 0.241711,0.245043 0.636293,0.248268 0.881741,0.0068 0.245149,-0.2415 0.248267,-0.636284 0.0068,-0.881742 L 39.670433,30.867405 C 39.052638,30.239636 38.231276,29.8938 37.35774,29.8938 c -0.869074,-1.06e-4 -1.685136,0.342612 -2.297843,0.96508 l -0.302922,0.308019 c -1.261536,1.281518 -1.258106,3.370476 0.0077,4.656782 L 51.691733,53.001 c 1.007386,1.023277 2.38097,1.587036 3.86783,1.587036 1.552647,0 3.060912,-0.627566 4.13782,-1.721717 l 0.567389,-0.576436 c 2.154831,-2.189761 2.148179,-5.758927 -0.01477,-7.956383 L 42.145379,26.137749 c -1.468884,-1.49247 -3.423479,-2.315715 -5.501218,-2.315715 -2.065372,0 -4.005106,0.815029 -5.461725,2.295141 z"
        style="stroke:none;fill:#666666;fill-opacity:1" />
    </g>
  {% endif %}
  {% if style == 'important' %}
  <g>
    <path
       filter="url(#shadow-black)"
       style="fill:#fff;color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill-opacity:0.76190478;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;"
       d="M 26.288546,6.5 C 16.15535,6.5 8.1345654,15.601224 8.1345654,26.646484 V 51.353516 C 8.1345654,62.398776 16.15535,71.5 26.288546,71.5 h 35.084473 c 5.165975,0 9.716631,-2.816147 12.939915,-6.669922 3.223286,-3.853775 5.212102,-8.784265 5.212102,-13.476562 0,-15.15092 9.457981,-23.626954 9.457981,-23.626954 1.026961,-0.92273 0.366712,-2.618835 -1.017282,-2.613281 l -8.576205,0.0293 C 78.969044,18.931604 76.040729,13.457627 71.67616,10.075111 68.772339,7.8246668 65.232766,6.5 61.373019,6.5 Z m 0,3 h 35.084473 c 8.309516,0 15.135518,7.530589 15.135518,17.146484 7.7e-5,0.830687 0.678893,1.503162 1.514142,1.5 l 6.66929,-0.02148 c -3.062983,3.770515 -8.183432,11.648729 -8.183432,23.228516 0,3.825515 -1.721029,8.218195 -4.514928,11.558593 C 69.19971,66.252508 65.428401,68.5 61.373019,68.5 H 26.288546 C 17.97903,68.5 11.151064,60.969411 11.151064,51.353516 V 26.646484 C 11.151064,17.030589 17.97903,9.5 26.288546,9.5 Z"
       id="icon-border"/>
    <path
       style="fill:#ff5a60;color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill-opacity:0.99470903;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
       d="m 26.288546,9.5 h 35.08448 c 8.30951,0 15.13551,7.530589 15.13551,17.146484 a 1.5084002,1.50015 0 0 0 1.51415,1.5 l 6.66929,-0.02148 c -3.06299,3.770515 -8.18344,11.648729 -8.18344,23.228516 0,3.825515 -1.72102,8.218195 -4.51492,11.558593 C 69.199716,66.252508 65.428406,68.5 61.373026,68.5 h -35.08448 c -8.30951,0 -15.13748,-7.530589 -15.13748,-17.146484 V 26.646484 C 11.151066,17.030589 17.979036,9.5 26.288546,9.5 Z"
       id="icon-bg" />
     <path
        style="fill:#fff;color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
        d="m 44.744358,27.051198 a 2.250225,2.0856582 0 0 0 -2.216797,2.114415 v 12.668382 a 2.250225,2.0856582 0 1 0 4.5,0 V 29.165613 A 2.250225,2.0856582 0 0 0 44.744358,27.051198 Z M 47.027,49.305561 a 2.25,2.25 0 0 1 -2.25,2.25 2.25,2.25 0 0 1 -2.25,-2.25 2.25,2.25 0 0 1 2.25,-2.25 2.25,2.25 0 0 1 2.25,2.25 z M 44.722656,19.833984 c -10.782468,0 -19.55664,8.77222 -19.55664,19.554688 -10e-7,10.782468 8.774172,19.556641 19.55664,19.55664 10.782469,10e-7 19.554688,-8.774171 19.554688,-19.55664 0,-10.782468 -8.772219,-19.554688 -19.554688,-19.554688 z m 0,3 c 9.161148,0 16.554688,7.39354 16.554688,16.554688 0,9.161148 -7.39354,16.556641 -16.554688,16.55664 -9.161148,10e-7 -16.556641,-7.395492 -16.55664,-16.55664 0,-9.161148 7.395493,-16.554688 16.55664,-16.554688 z" />
    </g>
  {% endif %}
  {% if style == 'law' %}
  <g>
    <path
       filter="url(#shadow-black)"
       style="fill:#fff;color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill-opacity:0.76190478;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;"
       d="M 26.288546,6.5 C 16.15535,6.5 8.1345654,15.601224 8.1345654,26.646484 V 51.353516 C 8.1345654,62.398776 16.15535,71.5 26.288546,71.5 h 35.084473 c 5.165975,0 9.716631,-2.816147 12.939915,-6.669922 3.223286,-3.853775 5.212102,-8.784265 5.212102,-13.476562 0,-15.15092 9.457981,-23.626954 9.457981,-23.626954 1.026961,-0.92273 0.366712,-2.618835 -1.017282,-2.613281 l -8.576205,0.0293 C 78.969044,18.931604 76.040729,13.457627 71.67616,10.075111 68.772339,7.8246668 65.232766,6.5 61.373019,6.5 Z m 0,3 h 35.084473 c 8.309516,0 15.135518,7.530589 15.135518,17.146484 7.7e-5,0.830687 0.678893,1.503162 1.514142,1.5 l 6.66929,-0.02148 c -3.062983,3.770515 -8.183432,11.648729 -8.183432,23.228516 0,3.825515 -1.721029,8.218195 -4.514928,11.558593 C 69.19971,66.252508 65.428401,68.5 61.373019,68.5 H 26.288546 C 17.97903,68.5 11.151064,60.969411 11.151064,51.353516 V 26.646484 C 11.151064,17.030589 17.97903,9.5 26.288546,9.5 Z"
       id="icon-border"/>
    <path
       style="fill:{{ system.color }};color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill-opacity:0.99470903;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
       d="m 26.288546,9.5 h 35.08448 c 8.30951,0 15.13551,7.530589 15.13551,17.146484 a 1.5084002,1.50015 0 0 0 1.51415,1.5 l 6.66929,-0.02148 c -3.06299,3.770515 -8.18344,11.648729 -8.18344,23.228516 0,3.825515 -1.72102,8.218195 -4.51492,11.558593 C 69.199716,66.252508 65.428406,68.5 61.373026,68.5 h -35.08448 c -8.30951,0 -15.13748,-7.530589 -15.13748,-17.146484 V 26.646484 C 11.151066,17.030589 17.979036,9.5 26.288546,9.5 Z"
       id="icon-bg" />
     <path
        style="fill:#fff;overflow:visible;stroke:none;"
        d="m 44.753305,23.63326 c -1.091969,1.210262 -1.106928,2.726008 -1.106928,3.005252 0,1.605523 0.209419,4.457563 0.209419,7.57892 0,4.886478 -2.343454,8.137406 -2.343454,8.137406 0,0 -0.03985,0.07982 -0.518522,0.07982 -0.478671,0 -1.51583,-0.388922 -1.51583,-1.535696 0,-1.146895 1.266445,-1.46593 1.505781,-1.46593 0.239335,0 0.359003,0.03983 0.359003,0.03983 0,0 -0.239336,-2.094187 -0.777841,-6.82106 -1.047093,-5.055963 -4.846544,-6.82106 -4.846544,-6.82106 v 21.86928 h 5.066012 c 0,0 0.368937,3.081444 3.071395,5.046029 0,0 0.8576,0.737872 0.897509,0.977208 0.03991,-0.239336 0.897508,-0.977208 0.897508,-0.977208 2.702458,-1.964527 3.07151,-5.046029 3.07151,-5.046029 H 53.78822 V 25.830735 c 0,0 -3.799453,1.765099 -4.846544,6.821062 -0.538505,4.726873 -0.777841,6.82106 -0.777841,6.82106 0,0 0.119667,-0.03983 0.359003,-0.03983 0.239336,0 1.505781,0.319093 1.505781,1.46593 0,1.146832 -1.037043,1.535812 -1.515715,1.535812 -0.47867,0 -0.518637,-0.07994 -0.518637,-0.07994 0,0 -2.343454,-3.250956 -2.343454,-8.137406 0,-3.121356 0.209418,-5.973397 0.209418,-7.578918 0,-0.279245 -0.01496,-1.794991 -1.106926,-3.005253 z m -7.499102,5.418473 c 0,0 1.37612,1.715258 1.775032,3.729684 0.219411,1.85485 0.658173,5.464867 0.658173,5.464867 0,0 -1.316345,0.558371 -1.615515,1.934548 h -0.81769 z m 14.99832,1.17e-4 v 11.129103 h -0.817691 c -0.299169,-1.376178 -1.615515,-1.934669 -1.615515,-1.934669 0,0 0.438762,-3.610017 0.658172,-5.464861 0.398913,-2.014432 1.775034,-3.729573 1.775034,-3.729573 z m -7.499218,9.732937 c 0,0 0.668104,2.473171 1.735182,4.088685 -0.398855,0.25926 -1.735182,1.166761 -1.735182,1.166761 0,0 -1.33633,-0.907501 -1.735183,-1.166761 1.067076,-1.615514 1.735183,-4.088685 1.735183,-4.088685 z m -7.499102,2.911878 h 0.81769 c 0.428829,1.964581 2.532948,2.273687 2.852044,2.273687 -0.319096,1.017173 -0.319036,2.253704 -0.319036,2.253704 h -3.350698 z m 14.180629,0 h 0.817691 v 4.527508 h -3.350698 c 0,0 -5.8e-5,-1.236648 -0.319152,-2.253821 0.319094,0 2.42333,-0.309106 2.852159,-2.273687 z m -9.024982,2.652674 c 1.526698,0.241085 1.585598,1.854852 1.585598,1.854852 h -1.824934 c 0,-0.927427 0.109728,-1.436015 0.239336,-1.854852 z m 4.687025,0 c 0.129602,0.418837 0.239336,0.927425 0.239336,1.854852 h -1.824933 c 0,0 0.05889,-1.613709 1.585597,-1.854852 z m -4.677092,3.350697 h 1.555681 v 3.091378 c -1.386112,-1.286431 -1.555681,-3.091378 -1.555681,-3.091378 z m 3.111361,0 h 1.555681 c 0,0 -0.169568,1.804947 -1.555681,3.091378 z M 28.003296,61.100675 c -0.335353,0 -0.600403,-0.29449 -0.600403,-0.655203 V 45.256057 29.235311 19.111383 c 0.0016,-0.362517 0.26505,-0.651679 0.600403,-0.651679 l 33.404273,-0.0036 c 0.333709,0.0036 0.600403,0.292685 0.600403,0.655202 v 31.601246 l -0.202275,0.02114 h 0.205486 c 0,0.203803 -0.08376,0.384695 -0.208697,0.50373 l -8.800567,9.673036 h -0.0033 l -0.05137,0.05988 h -0.01611 l -0.03518,0.03171 -0.04494,0.02819 -0.04494,0.02466 -0.08027,0.03171 -0.02569,0.0036 -0.08027,0.007 h -0.01282 z m 0.597192,-1.306883 h 23.380424 l 0.0033,-9.056582 c 0,-0.357106 0.266849,-0.651679 0.593982,-0.651679 h 8.232273 V 19.766585 l -32.209888,-0.0036 v 9.472333 16.020746 z m 24.581231,-0.937009 6.78745,-7.460849 h -6.78745 z" />
  </g>
  {% endif %}
  {% if style == 'suggestion' %}
  <g>
    <path
       filter="url(#shadow-black)"
       style="fill:#fff;color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill-opacity:0.76190478;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;"
       d="M 26.288546,6.5 C 16.15535,6.5 8.1345654,15.601224 8.1345654,26.646484 V 51.353516 C 8.1345654,62.398776 16.15535,71.5 26.288546,71.5 h 35.084473 c 5.165975,0 9.716631,-2.816147 12.939915,-6.669922 3.223286,-3.853775 5.212102,-8.784265 5.212102,-13.476562 0,-15.15092 9.457981,-23.626954 9.457981,-23.626954 1.026961,-0.92273 0.366712,-2.618835 -1.017282,-2.613281 l -8.576205,0.0293 C 78.969044,18.931604 76.040729,13.457627 71.67616,10.075111 68.772339,7.8246668 65.232766,6.5 61.373019,6.5 Z m 0,3 h 35.084473 c 8.309516,0 15.135518,7.530589 15.135518,17.146484 7.7e-5,0.830687 0.678893,1.503162 1.514142,1.5 l 6.66929,-0.02148 c -3.062983,3.770515 -8.183432,11.648729 -8.183432,23.228516 0,3.825515 -1.721029,8.218195 -4.514928,11.558593 C 69.19971,66.252508 65.428401,68.5 61.373019,68.5 H 26.288546 C 17.97903,68.5 11.151064,60.969411 11.151064,51.353516 V 26.646484 C 11.151064,17.030589 17.97903,9.5 26.288546,9.5 Z"
       id="icon-border"/>
    <path
       style="fill:{{ system.color }};color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill-opacity:0.99470903;fill-rule:nonzero;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
       d="m 26.288546,9.5 h 35.08448 c 8.30951,0 15.13551,7.530589 15.13551,17.146484 a 1.5084002,1.50015 0 0 0 1.51415,1.5 l 6.66929,-0.02148 c -3.06299,3.770515 -8.18344,11.648729 -8.18344,23.228516 0,3.825515 -1.72102,8.218195 -4.51492,11.558593 C 69.199716,66.252508 65.428406,68.5 61.373026,68.5 h -35.08448 c -8.30951,0 -15.13748,-7.530589 -15.13748,-17.146484 V 26.646484 C 11.151066,17.030589 17.979036,9.5 26.288546,9.5 Z"
       id="icon-bg" />
     <path
        style="fill:#fff;opacity:1;fill-opacity:1;stroke:none;stroke-width:0;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:fill markers stroke"
        d="M 49.848795,18.616532 C 43.66319,18.750233 38.266396,22.92339 37.125,28.646484 c -0.352487,1.767417 -0.269747,3.541114 0.158203,5.240235 -0.617024,-0.07982 -1.270012,-0.121094 -1.960937,-0.121094 -2.885774,0 -5.149728,0.681346 -6.601563,2.171875 -1.617418,1.661123 -1.543499,3.609393 -1.494141,4.121094 v 2.916015 c -0.298742,0.45245 -0.611328,0.913062 -0.611328,1.460938 v 2.205078 c 0,0.81535 0.41198,1.542288 1.017578,2.083984 0.572521,1.891172 1.537309,3.235413 2.042969,3.855469 v 1.587891 c 0,0.230636 -0.133727,0.462712 -0.423828,0.605469 l -0.134765,0.06641 -2.578126,2.933594 -0.01953,0.0293 c -0.340429,0.472112 -0.677941,0.777217 -0.947265,1.167969 -0.06733,0.09769 -0.136525,0.204945 -0.189454,0.371094 -0.05293,0.166149 -0.07605,0.433354 0.03516,0.675781 0.111209,0.242427 0.308292,0.384705 0.46289,0.460938 0.154599,0.07623 0.290695,0.10936 0.435547,0.136718 0.579411,0.109434 1.374915,0.106161 2.792969,0.09961 1.418054,-0.0066 3.419403,-0.0332 6.212891,-0.0332 2.894724,0 4.963804,0.01904 6.419922,0.01563 1.456116,-0.0034 2.249919,-0.0063 2.830078,-0.132813 0.145039,-0.03162 0.28497,-0.0682 0.451172,-0.167969 0.166201,-0.09977 0.387326,-0.3283 0.4375,-0.621093 0.05017,-0.292794 -0.05184,-0.511204 -0.132813,-0.646485 -0.08098,-0.135281 -0.162994,-0.223315 -0.246094,-0.308594 -0.332399,-0.341115 -0.757192,-0.652421 -1.203125,-1.105468 l -0.0078,-0.0078 -0.0098,-0.0078 -2.933594,-2.808594 -0.117187,-0.05273 C 40.495925,54.696037 40.357422,54.465823 40.357422,54.21875 v -1.591797 c 0.09275,-0.109062 0.184182,-0.210965 0.279297,-0.332031 0.76226,-0.969404 1.356952,-2.057621 1.818359,-3.210938 0.909819,-0.518254 1.574219,-1.388898 1.574219,-2.443359 v -1.603516 c 0.688097,-0.394504 1.317693,-0.856311 1.847656,-1.361328 0.866741,0.649393 2.01269,0.78579 3.097656,1.035157 7.949466,1.827075 15.199205,-2.261151 16.756674,-9.272782 1.55747,-7.011631 -2.348179,-14.413772 -10.382686,-16.291877 -1.48924,-0.348117 -4.072355,-0.560602 -5.499802,-0.529747 z m -5.788248,8.549484 h 10.9375 v 1.519531 h -10.9375 z m 0,4.109375 h 16.371094 v 1.517578 H 44.060547 Z m -8.738281,3.990234 c 0.930398,0 1.752243,0.08086 2.480468,0.228516 0.349031,0.87911 0.783163,1.732234 1.316407,2.537109 1.150727,1.736901 0.803399,5.228018 -1.78711,8.003906 1.54098,0.592748 3.446829,0.37299 5.197266,-0.300781 v 0.90625 c 0,0.545135 -0.340923,1.045602 -0.958985,1.300781 l -0.300781,0.123047 -0.115234,0.302735 c -0.415346,1.088265 -0.985632,2.094978 -1.697266,3 -0.143179,0.182245 -0.278657,0.346057 -0.404297,0.484374 l -0.195312,0.212891 v 2.154297 c 0,0.790674 0.470372,1.484024 1.152344,1.871094 l 2.816406,2.693359 c 0.171328,0.172957 0.232067,0.215626 0.386719,0.355469 -0.431711,0.02346 -0.630486,0.05661 -1.47461,0.05859 -1.440033,0.0034 -3.514937,-0.01563 -6.416015,-0.01563 -2.802908,0 -4.814752,0.02671 -6.220704,0.0332 -0.987344,0.0046 -1.335186,-0.02522 -1.759765,-0.05078 0.135061,-0.160482 0.190069,-0.21439 0.347656,-0.427734 l 2.410156,-2.740234 c 0.640976,-0.395239 1.076172,-1.06702 1.076172,-1.828125 v -2.09961 l -0.179687,-0.210937 c -0.369422,-0.435396 -1.478495,-1.873641 -1.992188,-3.705078 l -0.07227,-0.251953 -0.210938,-0.154297 C 28.318604,47.455769 28.115234,47.05907 28.115234,46.640625 v -2.205078 c 0,-0.323186 0.131826,-0.648433 0.398438,-0.921875 l 0.21289,-0.21875 v -3.279297 l -0.0039,-0.04102 c -0.02157,-0.190774 -0.149687,-1.735262 1.072266,-2.990234 1.062825,-1.091151 2.878172,-1.71875 5.527344,-1.71875 z m 8.738281,0.121094 h 16.371094 v 1.513672 H 44.060547 Z" />
  </g>
  {% endif %}
</svg>
{% endspaceless %}
