{% set rgb = hex_to_rgb(system.color) %}

body.cke_editable,
body.cke_ltr {
  background-color: #fff;
}

.page-wrapper {
  border: 0 solid {{ system.color }};
}

.system-menu .menu-item.active {
  color: {{ system.color }}!important;
}

.system-menu .menu-item.active .label-aligner i {
  color: {{ system.color }}!important;
}

.system-filters .filter.filters-clear.active {
  background-color: rgba({{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }}, 0.25) !important;
  border: 0px solid rgba({{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }}, 0.25) !important;
  padding: 1px 13px!important;
  color: #606870 !important;
}

.key-highlight {
  display: inline-block;
  background-color: rgba({{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }}, 0.5) !important;
}

.doc-full-view,
.scroll-up {
  background-color: rgba({{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }}, 0.25) !important;
}

.doc-full-view:hover,
.scroll-up:hover {
  background-color: {{ system.color }} !important;
}

.popup-wrapper .popup,
.system-popup-wrapper .system-popup {
  border-color: {{ system.color }} !important;
}

.home-blocks-wrapper .home-block:hover {
  border-color: {{ system.color }} !important;
}

.style-block.style-block-term,
.style-block.style-block-suggestion,
.style-block.style-block-file,
.style-block.style-block-law,
.style-block.style-block-quote {
  border-color: {{ system.color }}!important;
}

.date-created-label, .date-valid-label {
  color: {{ system.color }};
}

.item-content .revisions .revisions-label {
  color: {{ system.color }};
}

.item-content .revisions .revisions-list .revision.active {
  border: 1px solid {{ system.color }};
}

.filters-button {
  border: 1px solid {{ system.color }};
  color: {{ system.color }};
}

.login-button-wrapper .level-label .icon,
.request-screen-wrapper .request-screen form .form-actions .file-upload .icon {
  color: {{ system.color }}!important;
}

.new-consultation-button,
.login-button-wrapper .login-button,
.login-screen-wrapper .login-screen .user-login-form .form-actions input,
.auth-form-wrapper .user-login-form .form-actions input,
.request-screen-wrapper .request-screen form .form-actions .form-submit,
.help-screen-wrapper .help-screen form .form-actions .form-submit {
  background-color: {{ system.color }}!important;
}