{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}

{% set text = row._entity.title|length ? row._entity.title.0.value|striptags : '' %}
{% set question = row._entity.field_question|length ? row._entity.field_question.0.value|striptags : '' %}
{% set status = view.field.field_status_1.original_value %}
{% set clarifications = row._entity.field_editor_clarification %}
{% set type = view.field.field_consultation_type_1.original_value %}
{% set nid = view.field.nid.original_value %}
{% set arr = row %}

<div class="question-popup-link">{{ text|length > 160 ? text|slice(0, 160) ~ '...' : text }}</div>
<div class="question-popup-wrapper">
  <div class="question-popup">
    <div class="question-popup-close ui-icon ui-icon-closethick"></div>
    <div class="question-title">{{ 'Запитання' | t }}:</div>
    <div class="question">{{ question }}</div>

    {% if clarifications|length %}
    <div class="question-title">{{ 'Уточнення' | t }}:<br/></div>
      {% for clarification in clarifications %}
        <div class="clarification-title">{{ 'Запит експерта на уточнення' | t }}:</div>
        <div class="clarification">{{ clarification.entity.field_editor_question ? clarification.entity.field_editor_question.0.value|striptags|raw : ( 'не вказано' | t ) }}</div>
        <div class="clarification-title">{{ 'Відповідь' | t }}:</div>
        <div class="clarification">{{ clarification.entity.field_user_answer ? clarification.entity.field_user_answer.0.value|striptags|raw : ( 'не вказано' | t ) }}</div>
      {% endfor %}
    {% endif %}

  </div>
</div>
