{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}

{% set text = row._entity.field_answer|length ? row._entity.field_answer.0.value|striptags : '' %}
{% set html = row._entity.field_answer|length ? row._entity.field_answer.0.value : '' %}
{% set nid = view.field.nid.original_value %}

<div class="question-popup-link">{{ text|length > 24 ? text|slice(0, 24) ~ '...' : text }}</div>
<div class="question-popup-wrapper">
  <div class="question-popup">
    <div class="question-popup-close ui-icon ui-icon-closethick"></div>
    <div class="question-title">Текст відповіді:</div>
    <div class="question">{{ html|raw }}</div>
  </div>
</div>
