<template>
  <Game v-if="!init" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import Game from './components/Game.vue';

export default defineComponent({
  data() {
    return {
      init: false,
      showHelp: false,
      showHighscores: false,
    };
  },

  components: {
    Game
  },
});
</script>

<style>

* {
  box-sizing: border-box;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
